{% extends "pages/base_page.html" %}

{% block title %}500 - {{ block.super }}{% endblock %}
{% block page_title %}500{% endblock %}


{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <section class="home-section text-center">
                    <h1>Something went wrong. Our developers are probably getting a flood of emails right now about it. Try again soon, or head home, and we will fix it as soon as we can.</h1>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}
