{% extends "pages/base_page.html" %}

{% block title %}500 - {{ block.super }}{% endblock %}
{% block page_title %}500{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <section class="pb4 pt4 text-center">
        <p class="fs-md">
          <strong>
            Sorry, something went wrong. Please try again, or come back later
            and we will fix the issue as soon as we can.
          </strong>
        </p>
      </section>
    </div>
  </div>
</div>

{% endblock %}
