{% load organizing_hub_tags %}

<tr>
  <td>{{ campaign.title }}</td>
  <td>{{ campaign.get_status_display }}</td>
  <td>
    {{ campaign.calls_made }}/{{ campaign.calls_total }}
  </td>
  <td class="text-right">

    {% if campaign.is_active %}

    <a class="btn btn-success btn-sm" href="lebowski">
      Make Calls
    </a>

    {% has_local_group_permission campaign.local_group "calls.change_callcampaign" as can_manage %}
    {% if can_manage %}
    <a class="btn btn-primary btn-sm" href="lebowski">
      Manage
    </a>
    {% endif %}

    {% else %}

    <a class="btn btn-primary btn-sm" href="lebowski">
      View
    </a>

    {% endif %}

  </td>
</tr>
