{% load organizing_hub_tags %}

<tr>
  <td>{{ campaign.id }} {{ campaign.title }}</td>
  <td>{{ campaign.get_status_display }} {{ campaign.is_active }}</td>
  <td>
    {{ campaign.calls_made }}/{{ campaign.calls_total }}
  </td>
  <td class="text-right">

    {% has_local_group_permission campaign.local_group "calls.change_callcampaign" as can_manage %}
    {{ can_manage }}
    {% if can_manage %}
    <a class="btn btn-default btn-sm"
    href="lebowski">
      Manage
    </a>
    {% endif %}

    <a class="btn btn-default btn-sm"
    href="lebowski">
      Make Calls
    </a>


  </td>
</tr>
