<div id="events-nav" class="btn-toolbar pull-right" role="toolbar">

  {% with "https://events.ourrevolution.com/" as link_url %}
  <div class="btn-group" role="group">
    <a href="{{ link_url }}" class="btn btn-secondary" target="_blank">
      Promote Events
    </a>
  </div>
  {% endwith %}

  {% url 'organizing-hub-event-create' as link_url %}
  {% if link_url != request.path and '/update/' not in request.path %}
  <div class="btn-group" role="group">
    <a href="{{ link_url }}" class="btn btn-secondary">
      Create Event
    </a>
  </div>
  {% endif %}

  {% url 'organizing-hub-event-list' as link_url %}
  {% if link_url != request.path %}
  <div class="btn-group" role="group">
    <a href="{{ link_url }}" class="btn btn-secondary">
      My Events
    </a>
  </div>
  {% endif %}


</div>
