<div id="events-nav" class="btn-toolbar pull-right mb10" role="toolbar">

  {% if show_promote_link %}
  {% with "https://events.ourrevolution.com/" as link_url %}
  <div class="btn-group" role="group">
    <a href="{{ link_url }}" class="btn btn-primary" target="_blank">
      Promote Events
    </a>
  </div>
  {% endwith %}
  {% endif %}

  {% url 'organizing-hub-event-create' as link_url %}
  {% if link_url != request.path and '/update/' not in request.path %}
  <div class="btn-group" role="group">
    <a href="{{ link_url }}" class="btn btn-primary">
      Create Event
    </a>
  </div>
  {% endif %}

</div>
