{% load organizing_hub_tags %}

<div class="list-group">

  {% organizing_hub_dashboard_url as link_url %}
  <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
  href="{{ link_url }}">
    <span class="inline-block mr5">
      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
    </span>
    Organizing Hub
  </a>

  <a class="list-group-item {% if organizing_guides_url == request.path %}active{% endif %}"
  href="{{ organizing_guides_url }}" target="_blank">
    <span class="inline-block mr5">
      <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    </span>
    Organizing Guides
  </a>

  {% if group %}

  {% url 'groups-manage' group.slug as link_url %}
  <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
  href="{{ link_url }}">
    <span class="inline-block mr5">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    </span>
    Update Group
  </a>

    {% if show_admins_link %}
    {% url 'organizing-hub-group-admins' group.slug as link_url %}
    <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
    href="{{ link_url }}">
      <span class="inline-block mr5">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </span>
      Manage Users
    </a>
    {% endif %}

  {% endif %}

  {% url 'organizing-hub-account' as link_url %}
  <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
  href="{{ link_url }}">
    <span class="inline-block mr5">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </span>
    My Account
  </a>

  <a class="list-group-item {% if organizing_docs_url == request.path %}active{% endif %}"
  href="{{ organizing_docs_url }}" target="_blank">
    <span class="inline-block mr5">
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </span>
    Help
  </a>

</div>
