{# if static_content is true show only static content for cached pages #}

{% load django_bootstrap_breadcrumbs organizing_hub_tags %}

<div id="organizing-hub-header" class="blue-bg white-text">

  <div class="container-fluid back-bar">
    <div class="row ">
      <div class="col-xs-12">

        <div class="container">
          <div class="row ">

            <div class="col-md-6">

              <div class="uppercase breadcrumb-hide-active">

                <div class="hidden-xs">
                  {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
                </div>

                <div class="visible-xs-block mb10">
                  {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
                </div>

              </div>

            </div>

            {% if not static_content and request.user.is_authenticated %}
            <div class="col-md-6">
              <div class="uppercase text-right">
                {% group_link %}
                | <a href="{% url 'groups-logout' %}">Logout</a>
              </div>
            </div>
            {% endif %}

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
