{% extends "group_portal.html" %}

{% load bootstrap3 local_groups_tags %}

{% block page_title %}Our Revolution - Manage Group{% endblock %}

{% block content_pre_heading %}
<span class="article-type">Groups Portal</span>
{% endblock %}

{% block content_heading %}{{ group.name }}{% endblock %}

{% block content %}

<div class="container pt4">
  <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <h3 class="mb20 mt0">
          Manage Group
        </h3>
      </div>
  </div>
</div>

<div class="container pb4">

  <div class="row">

      <div class="col-md-3">
        {% group_portal_nav %}
      </div>

      <div class="col-md-9">

        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update" />
        </form>

      </div>
  </div>
</div>

{% endblock %}
