{% extends "calls/organizing_hub_calls.html" %}

{% load bootstrap3 django_bootstrap_breadcrumbs organizing_hub_tags %}

{% block page_title %}Our Revolution - {{ campaign.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb campaign.title "organizing-hub-call-campaign-create" %}
{% endblock %}

{% block content_pre_heading %}
<span class="article-type">
  {% if campaign.is_in_progress %}
  <span class="dot dot-success dot-sm"></span>
  {% endif %}
  {{ campaign.get_status_display }} Campaign
</span>
{% endblock %}

{% block content_heading %}{{ campaign.title }}{% endblock %}

{% block content %}

{{ block.super }}

<div class="container pb4 pt4">

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      {% bootstrap_messages %}
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      {% organizing_hub_nav %}
    </div>

    <div class="col-md-9">

      {# Show action buttons for certain statuses #}
      {% if campaign.is_approved or campaign.is_in_progress or campaign.is_paused or campaign.has_data_download %}
      <div class="btn-toolbar mb10" role="toolbar" aria-label="Actions">

        <div class="btn-group mb10" role="group"
        aria-label="Primary Actions">
          {% if campaign.is_approved %}
          <a class="btn btn-primary"
          href="{% call_campaign_start_url campaign %}">
            Start Campaign
          </a>
          {% elif campaign.is_in_progress %}
          <a class="btn btn-primary"
          href="{% call_campaign_pause_url campaign %}">
            Pause Campaign
          </a>
          {% elif campaign.is_paused %}
          <a class="btn btn-primary"
          href="{% call_campaign_resume_url campaign %}">
            Resume Campaign
          </a>
          {% endif %}

          {% if campaign.is_in_progress or campaign.is_paused %}
          <a class="btn btn-primary"
          href="{% call_campaign_complete_url campaign %}">
            Complete Campaign
          </a>
          {% endif %}
        </div>

        <div class="btn-group mb10" role="group"
        aria-label="Secondary Actions">
          {% if campaign.has_data_download %}
          <button type="button" class="btn btn-default">
            Download Data
          </button>
          {% endif %}
        </div>

      </div>
      {% endif %}

      <h3 class="mt0">Campaign Info</h3>

      <div class="row">

        <div class="col-md-6">
          <div class="mb5"><strong>State or Territory</strong></div>
          <div class="mb10 well well-sm">
            {{ campaign.get_state_or_territory_display }}
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb5"><strong>Zip Code</strong></div>
          <div class="mb10 well well-sm">
            {{ campaign.postal_code }}
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb5"><strong>Radius</strong></div>
          <div class="mb10 well well-sm">
            {{ campaign.max_distance }} Miles
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb5"><strong>Max Number of Contacts</strong></div>
          <div class="mb10 well well-sm">
            {{ campaign.max_recipients }}
          </div>
        </div>
      </div>

      <a class="pull-right" href="todo">
        Edit
      </a>
      <div class="mb5"><strong>Script</strong></div>
      <div class="mb10 well well-sm">
        {{ campaign.script|linebreaks }}
      </div>

      <h3>Callers</h3>
      <p>
        <strong>{{ campaign.callers.all|length }}</strong>
        callers on this campaign.
        <a href="todo">
          View
        </a>
      </p>

      <h3>Contacts</h3>
      <p>
        <strong>{{ campaign.calls_made_count }}</strong> of
        {{ campaign.contacts_total_count }} contacts called.
        <a href="todo">
          View
        </a>
      </p>

    </div>

  </div>
</div>

{% endblock %}
