{% extends "calls/organizing_hub_calls.html" %}

{% load bootstrap3 django_bootstrap_breadcrumbs organizing_hub_tags %}

{% block page_title %}Our Revolution - Create Campaign{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Create Campaign" "organizing-hub-call-campaign-create" %}
{% endblock %}

{% block content_heading %}
{% if update_view %}Update{% else %}Create{% endif %} Campaign
{% endblock %}

{% block content %}

{{ block.super }}

<div class="container pb4 pt4">

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      {% bootstrap_messages %}
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      {% organizing_hub_nav %}
    </div>

    <div class="col-md-9">

      {% if update_view %}
      {% url 'organizing-hub-call-campaign-update' object.uuid as action_url %}
      {% else %}
      {% url 'organizing-hub-call-campaign-create' as action_url %}
      {% endif %}
      <form action="{{ action_url }}" method="post" class="form mb20">
        {% csrf_token %}

        {% bootstrap_field form.title placeholder="General Member Outreach" %}

        <h3>Contact Info</h3>
        <p>
          A contact list will be built by gathering contacts within the
          zip code radius, or when the maximum number of contacts has been
          reached, whichever comes first.
        </p>

        <div class="row">

          <div class="col-md-6">
            {% bootstrap_field form.state_or_territory %}
          </div>

          <div class="col-md-6">
            {% bootstrap_field form.postal_code placeholder="05401" %}
          </div>

          <div class="col-md-6">
            {% bootstrap_field form.max_distance addon_after='Miles' %}
          </div>

          <div class="col-md-6">
            {% bootstrap_field form.max_recipients %}
          </div>

        </div>

        <h3>Callers</h3>
        <p>
          Add callers to your calling campaign. These users will be able to
          login and make calls using the email address listed after creating an
          account. You may add or remove callers after campaign creation.
        </p>

        <p>
          Enter one or more email addresses, separated by commas.
        </p>

        {% bootstrap_field form.callers show_label=False%}

        <h3 class="mt5">Calling Script</h3>

        <p>
          This script is what your callers will read to contacts. Make
          sure you're asking one YES or NO question in it so that your
          callers can record a simple YES or NO result. You can edit this
          after creation.
        </p>

        <p>
          <a href="{% organizing_hub_call_script_url %}" target="_blank">
            For more help writing a script, click here.
          </a>
        </p>

        {% bootstrap_field form.script %}

        <button type="submit"
        class="btn btn-success btn-block uppercase ls2">
          {% if update_view %}Save{% else %}Create{% endif %} Calling Campaign
        </button>

      </form>

  </div>
</div>

{% endblock %}
