{% extends "calls/organizing_hub_calls.html" %}

{% load bootstrap3 django_bootstrap_breadcrumbs organizing_hub_tags %}

{% block page_title %}Our Revolution - Detail Campaign{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Detail Campaign" "organizing-hub-call-campaign-create" %}
{% endblock %}

{% block content_pre_heading %}
<span class="article-type">
  {% if campaign.is_in_progress %}
  <span class="dot dot-success dot-sm"></span>
  {% endif %}
  {{ campaign.get_status_display }} Campaign
</span>
{% endblock %}

{% block content_heading %}{{ campaign.title }}{% endblock %}

{% block content %}

{{ block.super }}

<div class="container pt4">
  <div class="row">
      <div class="col-md-9 col-md-offset-3">

        {% bootstrap_messages %}

      </div>
  </div>
</div>

<div class="container pb4">

  <div class="row">

      <div class="col-md-3">
        {% organizing_hub_nav %}
      </div>

      <div class="col-md-9">

        {# Show action buttons for certain statuses #}
        {% if campaign.is_approved or campaign.is_in_progress or campaign.is_paused or campaign.has_data_download %}
        <div class="row">
          <div class="col-md-12">

            <div class="btn-group mb20" role="group" aria-label="Actions">
              {% if campaign.is_approved %}
              <button type="button" class="btn btn-primary">
                Start Campaign
              </button>
              {% elif campaign.is_in_progress %}
              <button type="button" class="btn btn-primary">
                Pause Campaign
              </button>
              {% elif campaign.is_paused %}
              <button type="button" class="btn btn-primary">
                Resume Campaign
              </button>
              {% endif %}

              {% if campaign.is_in_progress or campaign.is_paused %}
              <button type="button" class="btn btn-primary">
                Complete Campaign
              </button>
              {% endif %}

              {% if campaign.has_data_download %}
              <button type="button" class="btn btn-primary">
                Download Data
              </button>
              {% endif %}
            </div>

          </div>
        </div>
        {% endif %}

        <div class="row">

          <div class="col-md-12">
            <h3 class="mt0">Campaign Info</h3>
          </div>

          <div class="col-md-4">
            <p><strong>Zip Code</strong></p>
            <div class="well well-sm">
              {{ campaign.postal_code }}
            </div>
          </div>

          <div class="col-md-4">
            <p><strong>Radius</strong></p>
            <div class="well well-sm">
              {{ campaign.max_distance }}
            </div>
          </div>

          <div class="col-md-4">
            <p><strong>Max Number of Contacts</strong></p>
            <div class="well well-sm">
              {{ campaign.max_recipients }}
            </div>
          </div>

          <div class="col-md-12">
            <a class="pull-right" href="todo">
              Edit
            </a>
            <p><strong>Script</strong></p>
            <div class="well well-sm">
              {{ campaign.script|linebreaks }}
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>Callers</h3>
            <p>
              <strong>{{ campaign.callers.all|length }}</strong>
              callers on this campaign.
              <a href="todo">
                View
              </a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>Contacts</h3>
            <p>
              <strong>{{ campaign.calls_made_count }}</strong> of
              {{ campaign.contacts_total_count }} contacts called.
              <a href="todo">
                View
              </a>
            </p>
          </div>
        </div>

      </div>
  </div>
</div>

{% endblock %}
