{% extends "calls/organizing_hub_calls.html" %}

{% load bootstrap3 django_bootstrap_breadcrumbs organizing_hub_tags %}

{% block page_title %}Our Revolution - Create Campaign{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Create Campaign" "organizing-hub-call-campaign-create" %}
{% endblock %}

{% block content_pre_heading %}
<span class="article-type">
  {% if call_campaign.is_in_progress %}
  <span class="dot dot-success dot-sm"></span>
  {% endif %}
  {{ call_campaign.get_status_display }} Campaign
</span>
{% endblock %}

{% block content_heading %}{{ call_campaign.title }}{% endblock %}

{% block content %}

{{ block.super }}

<div class="container pb4 pt4">

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      {% bootstrap_messages %}
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      {% organizing_hub_nav %}
    </div>

    <div class="col-md-9">

      <p>
        Are you sure that you want to: <strong>{{ action }}</strong>?
      </p>

      <ul>
        <li>Start Campaign: change status to In Progress</li>
        <li>Pause Campaign: change status to Paused</li>
        <li>Resume Campaign: change status to In Progress</li>
        <li>Complete Campaign: change status to Complete</li>
      </ul>

      <form action="{% url 'organizing-hub-call-campaign-create' %}"
      method="post" class="form mb20">

        {% csrf_token %}

        <button type="submit"
        class="btn btn-success btn-block uppercase ls2">
          Update Campaign Status
        </button>

      </form>

  </div>
</div>

{% endblock %}
