{% extends "pages/base_page.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block meta %}
  {{ block.super }}

  <style>

    .birthday-primary-content {
      {% if page.primary_content_background_color %}
        background-color: #{{ page.primary_content_background_color }};
      {% endif %}

      {% if page.primary_content_background_image %}
        {% image page.primary_content_background_image original as primary_img %}
        background-image: url('{{ primary_img.url }}');
      {% endif %}
    }

    .birthday-section-2-1-image {
      {% if page.section_2_1_image %}
        {% image page.section_2_1_image original as section_2_1_image %}
        background-image: url('{{ section_2_1_image.url }}');
      {% endif %}
    }

    .birthday-section-2-2-image {
      {% if page.section_2_2_image %}
        {% image page.section_2_2_image original as section_2_2_image %}
        background-image: url('{{ section_2_2_image.url }}');
      {% endif %}
    }

    .birthday-section-2-3-image {
      {% if page.section_2_3_image %}
        {% image page.section_2_3_image original as section_2_3_image %}
        background-image: url('{{ section_2_3_image.url }}');
      {% endif %}
    }

    .birthday-section-2-4-image {
      {% if page.section_2_4_image %}
        {% image page.section_2_4_image original as section_2_4_image %}
        background-image: url('{{ section_2_4_image.url }}');
      {% endif %}
    }

    .birthday-section-4 {
      {% if page.section_4_background_image %}
        {% image page.section_4_background_image original as section_4_bg_img %}
        background-image: url('{{ section_4_bg_img.url }}');
      {% endif %}
    }

    .birthday-section-4-1-icon {
      {% if page.section_4_1_icon %}
        {% image page.section_4_1_icon original as section_4_1_icon %}
        background-image: url('{{ section_4_1_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-2-icon {
      {% if page.section_4_2_icon %}
        {% image page.section_4_2_icon original as section_4_2_icon %}
        background-image: url('{{ section_4_2_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-3-icon {
      {% if page.section_4_3_icon %}
        {% image page.section_4_3_icon original as section_4_3_icon %}
        background-image: url('{{ section_4_3_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-4-icon {
      {% if page.section_4_4_icon %}
        {% image page.section_4_4_icon original as section_4_4_icon %}
        background-image: url('{{ section_4_4_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-5-icon {
      {% if page.section_4_5_icon %}
        {% image page.section_4_5_icon original as section_4_5_icon %}
        background-image: url('{{ section_4_5_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-6-icon {
      {% if page.section_4_6_icon %}
        {% image page.section_4_6_icon original as section_4_6_icon %}
        background-image: url('{{ section_4_6_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-7-icon {
      {% if page.section_4_7_icon %}
        {% image page.section_4_7_icon original as section_4_7_icon %}
        background-image: url('{{ section_4_7_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-8-icon {
      {% if page.section_4_8_icon %}
        {% image page.section_4_8_icon original as section_4_8_icon %}
        background-image: url('{{ section_4_8_icon.url }}');
      {% endif %}
    }

  </style>
{% endblock %}


{% block notification_banner %}
<!-- TODO: conditional notification banner on page model -->
{% endblock %}


{% block content %}

<div class="birthday-page">

  <section class="birthday-primary-content container-fluid bg-cover">
    <div class="row ">
      <div class="col-xs-12">

        <div class="container pt4 pb4">
          <div class="row">

            <div class="col-md-5 birthday-primary-content-body">
              {{ page.primary_content_body | richtext }}
            </div>

            <div class="col-md-7 birthday-primary-content-embed">
              <div class="embed-responsive embed-responsive-16by9">
                {{ page.primary_content_embed_code | safe }}
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="birthday-section-2 container-fluid blue-bg white-text">
    <div class="row ">
      <div class="col-xs-12">

        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <div class="row">

                <div class="birthday-section-2-1-body col-xs-6 birthday-stat">
                  {{ page.section_2_1_body | richtext }}
                </div>

                <div class="birthday-section-2-1-image col-xs-6 birthday-stat bg-cover">
                </div>

                <div class="birthday-section-2-2-image col-xs-6 birthday-stat bg-cover">
                </div>

                <div class="birthday-section-2-2-body col-xs-6 birthday-stat">
                  {{ page.section_2_2_body | richtext }}
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="row">

                <div class="birthday-section-2-3-body col-xs-6 birthday-stat">
                  {{ page.section_2_3_body | richtext }}
                </div>

                <div class="birthday-section-2-3-image col-xs-6 birthday-stat bg-cover">
                </div>

                <div class="birthday-section-2-4-image col-xs-6 birthday-stat bg-cover">
                </div>

                <div class="birthday-section-2-4-body col-xs-6 birthday-stat">
                  {{ page.section_2_4_body | richtext }}
                </div>

              </div>
            </div>


          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="birthday-section-3 container">
    <div class="row ">
      <div class="col-md-6 col-md-offset-3">
        {{ page.section_3_body | richtext }}
      </div>
    </div>
  </section>

  <section class="birthday-section-4 container bg-cover">
    <div class="row ">
      <div class="col-md-6 col-md-offset-3">
        {{ page.section_4_body | richtext }}
      </div>
    </div>
  </section>

</div>

{% endblock %}
