{% extends "pages/base_page_v2.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block meta %}
  {{ block.super }}

  <style>

    .navbar-fixed-top {
      {% if page.header_border_color %}
        border-top: solid 5px #{{ page.header_border_color }} !important;
      {% endif %}

      {% if page.header_border_image %}
        {% image page.header_border_image original as header_border_image %}
        background-image: url('{{ header_border_image.url }}') !important;
        background-repeat: repeat-x !important;
      {% endif %}
    }

    .birthday-primary-content {
      {% if page.primary_content_background_color %}
        background-color: #{{ page.primary_content_background_color }};
      {% endif %}

      {% if page.primary_content_background_image %}
        {% image page.primary_content_background_image original as primary_img %}
        background-image: url('{{ primary_img.url }}');
      {% endif %}
    }

    .birthday-section-2-1-image {
      {% if page.section_2_1_image %}
        {% image page.section_2_1_image original as section_2_1_image %}
        background-image: url('{{ section_2_1_image.url }}');
      {% endif %}
    }

    .birthday-section-2-2-image {
      {% if page.section_2_2_image %}
        {% image page.section_2_2_image original as section_2_2_image %}
        background-image: url('{{ section_2_2_image.url }}');
      {% endif %}
    }

    .birthday-section-2-3-image {
      {% if page.section_2_3_image %}
        {% image page.section_2_3_image original as section_2_3_image %}
        background-image: url('{{ section_2_3_image.url }}');
      {% endif %}
    }

    .birthday-section-2-4-image {
      {% if page.section_2_4_image %}
        {% image page.section_2_4_image original as section_2_4_image %}
        background-image: url('{{ section_2_4_image.url }}');
      {% endif %}
    }

    .birthday-section-4 {
      {% if page.section_4_background_color %}
        background-color: #{{ page.section_4_background_color }} !important;
      {% endif %}

      {% if page.section_4_background_image %}
        {% image page.section_4_background_image original as section_4_bg_img %}
        background-image: url('{{ section_4_bg_img.url }}');
      {% endif %}
    }

    .birthday-section-4-1-icon {
      {% if page.section_4_1_icon %}
        {% image page.section_4_1_icon original as section_4_1_icon %}
        background-image: url('{{ section_4_1_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-2-icon {
      {% if page.section_4_2_icon %}
        {% image page.section_4_2_icon original as section_4_2_icon %}
        background-image: url('{{ section_4_2_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-3-icon {
      {% if page.section_4_3_icon %}
        {% image page.section_4_3_icon original as section_4_3_icon %}
        background-image: url('{{ section_4_3_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-4-icon {
      {% if page.section_4_4_icon %}
        {% image page.section_4_4_icon original as section_4_4_icon %}
        background-image: url('{{ section_4_4_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-5-icon {
      {% if page.section_4_5_icon %}
        {% image page.section_4_5_icon original as section_4_5_icon %}
        background-image: url('{{ section_4_5_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-6-icon {
      {% if page.section_4_6_icon %}
        {% image page.section_4_6_icon original as section_4_6_icon %}
        background-image: url('{{ section_4_6_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-7-icon {
      {% if page.section_4_7_icon %}
        {% image page.section_4_7_icon original as section_4_7_icon %}
        background-image: url('{{ section_4_7_icon.url }}');
      {% endif %}
    }

    .birthday-section-4-8-icon {
      {% if page.section_4_8_icon %}
        {% image page.section_4_8_icon original as section_4_8_icon %}
        background-image: url('{{ section_4_8_icon.url }}');
      {% endif %}
    }

    .birthday-section-5-image {
      {% if page.section_5_image %}
        {% image page.section_5_image original as section_5_image %}
        background-image: url('{{ section_5_image.url }}');
      {% endif %}
    }

    .birthday-section-6-image {
      {% if page.section_6_image %}
        {% image page.section_6_image original as section_6_image %}
        background-image: url('{{ section_6_image.url }}');
      {% endif %}
    }

    .birthday-section-7 {
      {% if page.section_7_background_color %}
        background-color: #{{ page.section_7_background_color }};
      {% endif %}

      {% if page.section_7_background_image %}
        {% image page.section_7_background_image original as section_7_image %}
        background-image: url('{{ section_7_image.url }}');
      {% endif %}
    }

  </style>
{% endblock %}

{% block body_classes %}{{ block.super }} birthday-page{% endblock %}

{% block notification_banner %}{% endblock %}

{% block nav %}
{% include "partials/nav-birthday.html" %}
{% endblock %}

{% block content %}

<canvas id="birthday-canvas" class="canvas"></canvas>

<div class="h-mt0 text-center">

  <section class="birthday-primary-content container-fluid bg-cover">
    <div class="row">
      <div class="col-xs-12">

        <div class="container pt4">
          <div class="row">

            <div class="col-md-5 birthday-primary-content-body">

              <div class="mb20">
                {{ page.primary_content_body | richtext }}
              </div>

              <a href="#birthday-explore" data-scroll
              class="btn btn-primary hidden-xs hidden-sm">
                {{ page.primary_content_button_text }}
                <span class="glyphicon glyphicon-chevron-down"></span>
              </a>

            </div>

            <div class="col-md-7 birthday-primary-content-embed">
              <div class="embed-layout-{{ page.primary_content_embed_layout }}">
                <div class="embed-responsive">
                  {{ page.primary_content_embed_code | safe }}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div id="birthday-explore"></div>

      </div>
    </div>
  </section>

  <section class="birthday-section-2 container-fluid blue-bg text-left text-poppins white-text">
    <div class="row">
      <div class="col-xs-12">

        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <div class="row">

                <div class="col-xs-6 height-lg">
                  <div class="pos-bottom-left">
                    {{ page.section_2_1_body | richtext }}
                  </div>
                </div>

                <div class="birthday-section-2-1-image col-xs-6 height-lg bg-cover">
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="row">

                <div class="col-xs-6 height-lg col-xs-push-6 col-md-push-0">
                  <div class="pos-bottom-left">
                    {{ page.section_2_2_body | richtext }}
                  </div>
                </div>

                <div class="birthday-section-2-2-image col-xs-6 col-xs-pull-6 col-md-pull-0 height-lg bg-cover">
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="row">

                <div class="col-xs-6 height-lg col-md-push-6">
                  <div class="pos-bottom-left">
                    {{ page.section_2_3_body | richtext }}
                  </div>
                </div>

                <div class="bg-cover birthday-section-2-3-image col-xs-6 col-md-pull-6 height-lg">
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="row">

                <div class="col-xs-6 col-xs-push-6 height-lg ">
                  <div class="pos-bottom-left">
                    {{ page.section_2_4_body | richtext }}
                  </div>
                </div>

                <div class="bg-cover birthday-section-2-4-image col-xs-6 col-xs-pull-6 height-lg">
                </div>

              </div>
            </div>


          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="birthday-section-3 container pb4 pt4">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ page.section_3_body | richtext }}
      </div>
    </div>
  </section>

  <section class="birthday-section-4 container-fluid bg-cover blue-bg pb4 pt4 white-text">
    <div class="row">
      <div class="col-xs-12">

        <div class="container">

          <div class="row">
            <div class="col-md-6 col-md-offset-3 pb2">
              {{ page.section_4_body | richtext }}
            </div>
          </div>

          <div class="row card-list-static h-mb0 text-left">

            <div class="col-md-6">
              <div class="row">

                <div class="col-xs-6">
                  <div class="birthday-section-4-1-icon height-md bg-right card">
                    <h3>
                      {{ page.section_4_1_title }}
                    </h3>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="birthday-section-4-2-icon height-md bg-right card">
                    <h3>
                      {{ page.section_4_2_title }}
                    </h3>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="row">

                <div class="col-xs-6">
                  <div class="birthday-section-4-3-icon height-md bg-right card">
                    <h3>
                      {{ page.section_4_3_title }}
                    </h3>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="birthday-section-4-4-icon height-md bg-right card">
                    <h3>
                      {{ page.section_4_4_title }}
                    </h3>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="row">

                <div class="col-xs-6">
                  <div class="birthday-section-4-5-icon height-md bg-right card">
                    <h3>
                      {{ page.section_4_5_title }}
                    </h3>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="birthday-section-4-6-icon height-md bg-right card">
                    <h3>
                      {{ page.section_4_6_title }}
                    </h3>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="row">

                <div class="col-xs-6">
                  <div class="birthday-section-4-7-icon height-md bg-right card">
                    <h3>
                      {{ page.section_4_7_title }}
                    </h3>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="birthday-section-4-8-icon height-md bg-right card">
                    <h3>
                      {{ page.section_4_8_title }}
                    </h3>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </section>


  <section class="birthday-section-5 container">
    <div class="row">

      <div class="col-md-6 col-md-push-6">
        {{ page.section_5_body | richtext }}
      </div>

      <div class="bg-cover birthday-section-5-image col-md-6 col-md-pull-6">
      </div>

    </div>
  </section>

  <section class="birthday-section-6 container-fluid blue-bg white-text">
    <div class="row">
      <div class="col-xs-12">

        <div class="container">
          <div class="row">

            <div class="col-md-6">
              {{ page.section_6_body | richtext }}
            </div>

            <div class="bg-cover birthday-section-6-image col-md-6">
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="bg-cover birthday-section-7 container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <div class="container pt4 pb4">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">

              <div class="bg-white">
                {{ page.section_7_body | richtext }}
              </div>

              <a href="{{ page.section_7_button_url }}"
              class="btn btn-block btn-lg btn-success"
              onclick="trackOutboundLink('{{ page.button_url }}', {{ page.section_7_button_new_window|yesno:'true,false'}});"
              target="{{ page.section_7_button_new_window|yesno:'_blank,_self'}}">
                {{ page.section_7_button_text }}
              </a>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>

<script>

  $(document).ready(function() {

    var scroll = new SmoothScroll('a[data-scroll]');

    // Canvas based on https://github.com/cjmabry/PoliChart/blob/master/polichart/templates/layouts/bern-path.html#L750
    console.log('canvas');
    var canvas = document.getElementById("birthday-canvas");
    var body = document.body;
    var html = document.body;
    var height = Math.max( body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
    var ctx = canvas.getContext("2d");
    canvas.width = body.width;
    canvas.height = height;
    handleResize();
    window.addEventListener("resize", handleResize);

    function handleResize() {
      var body = document.body;
      var w = window.innerWidth;
      var h = Math.max( body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
      canvas.width = w;
      canvas.height = h;
      drawPath();
    }

    function drawPath() {
      var $logo = $('#logo');
      var $btnDonate = $('.navbar .btn-danger');
      var $bdayPrimaryContent = $('.birthday-primary-content');
      var $btnExplore = $('.btn-primary', $bdayPrimaryContent);
      var $bdaySection3 = $('.birthday-section-3');
      var $bdaySection4 = $('.birthday-section-4');
      var $bdaySection4Cards = $('.card-list-static', $bdaySection4);
      var $bdaySection5 = $('.birthday-section-5');
      var $bdaySection6 = $('.birthday-section-6');
      var $bdaySection7 = $('.birthday-section-7');
      var $bdaySection7Cta = $('.btn-success', $bdaySection7);

      var logo_x = Math.floor($logo.offset().left + $logo.width()/2);
      var left_x = Math.floor($bdaySection3.offset().left) + 150;
      var bdaySection7Cta_x = Math.floor($bdaySection7Cta.offset().left) + 100;
      var bdaySection7Cta_left_x = bdaySection7Cta_x - 150;
      var middle_x = Math.floor(window.innerWidth/2) + 0.5
      var right_x = Math.floor($btnDonate.offset().left) - 40;
      var btnDonate_x = Math.floor(
        $btnDonate.offset().left + $btnDonate.width()/2
      ) + 20;

      var logo_y = 0;
      var btnExplore_y = Math.floor($btnExplore.offset().top) - 16;
      var bdaySection3_y = Math.floor($bdaySection3.offset().top) - 145;
      var bdaySection3_bottom_y = Math.floor($bdaySection4.offset().top) - 180;
      var bdaySection4Cards_y = Math.floor($bdaySection4Cards.offset().top) - 190;
      var bdaySection5_y = Math.floor($bdaySection5.offset().top) - 200;
      var bdaySection5_bottom_y = Math.floor($bdaySection6.offset().top) - 300;
      var bdaySection7_y = Math.floor($bdaySection7.offset().top) - 280;
      var bdaySection7Cta_y = Math.floor($bdaySection7Cta.offset().top) - 325;

      var points = [
        [logo_x, logo_y],
        [logo_x, btnExplore_y],
        [middle_x, btnExplore_y],
        [middle_x, bdaySection3_y],
        [left_x, bdaySection3_y],
        [left_x, bdaySection3_bottom_y],
        [btnDonate_x, bdaySection3_bottom_y],
        [btnDonate_x, bdaySection4Cards_y],
        [left_x, bdaySection4Cards_y],
        [left_x, bdaySection5_y],
        [logo_x, bdaySection5_y],
        [logo_x, bdaySection5_bottom_y],
        [right_x, bdaySection5_bottom_y],
        [right_x, bdaySection7_y],
        [bdaySection7Cta_left_x, bdaySection7_y],
        [bdaySection7Cta_left_x, bdaySection7Cta_y],
        [bdaySection7Cta_x, bdaySection7Cta_y],
      ]

      ctx.lineWidth = 2;
      ctx.setLineDash([6]);
      ctx.beginPath();
      ctx.strokeStyle="#0098ff";
      for (var coords in points) {
        ctx.lineTo(points[coords][0],points[coords][1])
      }
      ctx.stroke();
    }

  });

</script>

{% endblock %}
