auth0-python==3.0.0
Babel==2.3.4
Django==1.10.2
Pillow==3.4.2
Pygments==2.1.3
Unidecode==0.4.19
Willow==0.4
ansicolors==1.0.2
appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
boto==2.43.0
configparser==3.5.0
decorator==4.0.10
dj-database-url==0.4.1
-e git://github.com/Our-Revolution/django-address.git@37009b2d11ec084b9e50d4d703ffe18ed17b99c1#egg=django_address
django-anymail==0.6.1
django-bootstrap3==8.2.1
django-countries==4.1
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-dotenv==1.4.1
django-gulp==2.5.0
django-localflavor==1.4.1
django-modelcluster==2.0
django-multiselectfield==0.1.5
django-phonenumber-field==1.1.0
django-recurrence==1.4.1
django-storages==1.5.1
django-taggit==0.18.3
django-treebeard==4.0.1
djangorestframework==3.5.1
enum34==1.1.6
env-tools==2.0.0
futures==3.0.5
gunicorn==19.6.0
html5lib==1.0b10
ipdb==0.10.1
ipython==5.1.0
ipython-genutils==0.1.0
pathlib2==2.1.0
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
phonenumberslite==8.3.1
prompt-toolkit==1.0.8
psutil==4.3.0
psycopg2==2.6.2
ptyprocess==0.5.1
python-dateutil==2.6.0
pytz==2016.7
requests==2.11.1
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.2
stevedore==1.18.0
tini==3.0.1
traitlets==4.3.1
unicodecsv==0.14.1
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wagtail==1.7
wcwidth==0.1.7
webencodings==0.5
whitenoise==3.2.2
wsgiref==0.1.2
