Django==1.10.2
Pillow==3.4.2
Pygments==2.1.3
Unidecode==0.04.19
Willow==0.4
appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
boto==2.43.0
decorator==4.0.10
dj-database-url==0.4.1
django-debug-toolbar==1.6
django-dotenv==1.4.1
django-gulp==2.5.0
django-modelcluster==2.0
django-storages==1.5.1
django-taggit==0.18.3
django-treebeard==4.0.1
djangorestframework==3.5.1
enum34==1.1.6
gunicorn==19.6.0
html5lib==1.0b10
ipdb==0.10.1
ipython==5.1.0
ipython-genutils==0.1.0
pathlib2==2.1.0
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.8
psycopg2==2.6.2
ptyprocess==0.5.1
pytz==2016.7
requests==2.11.1
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.2
stevedore==1.18.0
traitlets==4.3.1
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wagtail==1.7
wcwidth==0.1.7
webencodings==0.5
whitenoise==3.2.2
wsgiref==0.1.2
