{% extends "organizing_hub_layout.html" %}

{% load bootstrap3 organizing_hub_tags %}

{% block page_title %}Our Revolution - Login{% endblock %}

{% block nav %}
    {% with center_header=True %}
        {{ block.super }}
    {% endwith%}
{% endblock %}

{% block content_pre_heading %}
<span class="article-type">Organizing Hub</span>
{% endblock %}

{% block content_heading %}Login{% endblock %}

{% block content %}

<div class="container">

  <div class="row pt4 pb4">

    <div class="col-md-6 col-md-offset-3">

      {% organizing_hub_login_alert %}

      {% bootstrap_messages %}

      {% bootstrap_form_errors form %}

      <p class="fs18">
        Log in with your Our Revolution account to manage your local
        group.
      </p>

      <div class="mb20 mt20 pa20 br3 f5f5f5-bg">

        <form action="{% url 'groups-login' %}{% if next %}?next={{ next }}{% endif %}"
        method="post" class="form form-uppercase">

          {% csrf_token %}

          {% bootstrap_field form.username placeholder="you@example.com" %}

          {% bootstrap_field form.password placeholder="" %}

          <div class="form-group">
            <p class="help-block fs14">
              <a href="{% url 'password_reset' %}">
                <strong>Need to reset password?</strong>
              </a>
            </p>
          </div>

          {% buttons %}
          {% bootstrap_button "Log In" button_type="submit" button_class="btn-primary btn-block uppercase" %}
          {% endbuttons %}

        </form>
      </div>

      {% include 'partials/create_account.html' %}

    </div>
  </div>
</div>

{% endblock %}
