{% extends "organizing_hub_layout.html" %}

{% load bootstrap3 django_bootstrap_breadcrumbs organizing_hub_tags %}

{% block page_title %}Our Revolution - Group Admin Request Password Reset{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Request Password Reset" "password_reset_done" %}
{% endblock %}

{% block content_heading %}Group Admin Request Password Reset{% endblock %}

{% block content %}

{% with center_header=True %}
  {{ block.super }}
{% endwith%}

<div class="container">

  <div class="row pt4 pb4">

    <div class="col-md-6 col-md-offset-3">

      <p class="fs18">
        We emailed you instructions for resetting your password, if an account
        exists with the email you entered. You should receive it shortly.
      </p>

      <p class="fs18">
        If you don't receive an email, please make sure you entered the correct
        email address and check your spam folder.
      </p>

      <hr />

      {% include 'partials/create_account.html' %}

    </div>
  </div>
</div>

{% endblock %}
