// Background elements

.bg-cover {
  background-position: center;
  background-size: cover;
}

// Background image aligned to the right
.bg-right {
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: auto 70%;
  padding-right: 30% !important;
}

// White background
.bg-white {
  background-color: #ffffff;
}
