// Background elements

.bg-cover {
  background-position: center;
  background-size: cover;
}

.bg-right {
  background-position: 90% 50%;
  background-repeat: no-repeat;
}

.bg-white {
  background-color: #ffffff;
}
