.form-uppercase {
  .form-group {
    label {
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

.sign-up-form {
  .module__heading {
    margin-bottom: 10px;
  }

  label {
    // font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  input {
    font-size: 16px;
  }

  &--block {
    .form-group {
      display: block;
      margin-right: 0;
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }

      &.submit {
        width: 100%;
      }

    }
  }

  &.small {

    .form-group {
      margin-bottom: 10px;

      &.email {
        width: 59%;
      }

      &.zip {
        width: 36%;
        margin-right: 0;
      }

      &.submit {
        display: block;
        width: 100%;
      }

    }

  }

  &.petition {
    .form-group {
      margin-bottom: 20px;

      // display: block;

      &.zip, &.first-name {
        width: 48%;
      }

      &.zip {
        margin-right: 0;
      }

      &.email {
        width: 99%;
        display: block;
      }

      &.submit {
        display: block;
        width: 99%;
        margin-bottom: 0;
      }

    }
  }

  .alert {
    display: none;
  }

  .alert-danger {
    a {
      color: #a94442;
    }
  }

  &.new {
    .form-group {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      &.full {
        width: 100%;
        margin-right: 0;
        display: block;
      }

      &.half {
        width: 49%;
        display: block;
        float: left;
        margin-right: 0;

        &.left {
          margin-right: 1%;
        }

        &.right {
          margin-left: 1%;
        }

        @include until($medium) {
          width: 100%;
          margin-right: 0;
          display: block;
          margin-left: 0;
          margin-right: 0;
        };
      }
    }

    button {
      margin-top: 10px;
    }
  }

}

.form-group.required {
  .control-label:after {
    display: inline-block;
    content: "*";
  }
}

div.recurrence-widget {
  border-radius: 3px;
  width: 100%;

  .add-button.add-date {
    display: none;
  }

  input[type=checkbox], input[type=radio] {
    display: inline-block;
  }

  .panel {
    margin-bottom: 0;
  }
}

// Form wrapper to make embedded forms match our style guide
.form-wrapper {

  #action_info,
  #can_embed_form #d_sharing,
  #can_embed_form_inner > h2 + h4,
  .country_wrap,
  #logo_wrap {
    display: none !important;
  }

  #can_embed_form,
  #can_embed_form label,
  #can_embed_form .floatlabel-wrapper .floatlabel-label,
  #can_embed_form .floatlabel-wrapper .floatlabel-label.floatlabel-label-focus,
  #can_embed_form_inner *:not(input, select, textarea) {
    color: inherit !important;
  }

  #can_embed_form,
  #can_embed_form h2,
  #can_embed_form_inner * {
    font-family: inherit !important;
  }

  #can_embed_form {
    border: none !important;
    padding: 40px !important;

    &,
    #action_welcome_message #action_welcome_message_inner {
      background-color: inherit !important;
    }

    .floatlabel-wrapper .floatlabel-label {
      display: block !important;
      font-size: 12px !important;
      font-weight: 700 !important;
      left: 0px !important;
      letter-spacing: 1px !important;
      margin-bottom: 5px !important;
      opacity: 1 !important;
      position: relative !important;
      text-transform: uppercase !important;
      top: 0px !important;

      &:after {
        display: none !important;
      }
    }

    input[type=text] {
      border-radius: 3px !important;
    }

    input[type=submit] {
      @extend .btn;
      @extend .btn-block;
      @extend .btn-primary;
      @extend .ls2;
      @extend .uppercase;
      background-color: #45d363 !important;
      border: 1px solid #45d363 !important;
      border-radius: 4px !important;
      font-weight: 700 !important;
      padding: 10px 15px !important;

      &:hover {
        background-color: #2ec14d !important;
        border: 1px solid #2ec14d !important;
      }
    }

    &.can_float {
      #form_col1,
      #form_col2 {
        float: none !important;
        width: auto !important;
      }
    }
  }

  .can_embed.form #can_embed_form_inner > h2 {
    border-bottom: none !important;
    margin-bottom: 40px !important;
    padding-bottom: 0 !important;
    text-align: center !important;
    text-transform: lowercase !important;

    &::first-letter {
      text-transform: uppercase !important;
    }
  }
}
