.sign-up-form {
  .module__heading {
    margin-bottom: 10px;
  }
  
  label {
    // font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  input {
    font-size: 16px;
  }
  
  &--block {
    .form-group {
      display: block;
      margin-right: 0;
      margin-top: 20px;
      
      &:first-child {
        margin-top: 0;
      }
    
      &.submit {
        width: 100%;
      }
    
    }
  }

  &.small {

    .form-group {
      margin-bottom: 10px;

      &.email {
        width: 59%;
      }

      &.zip {
        width: 36%;
        margin-right: 0;
      }

      &.submit {
        display: block;
        width: 100%;
      }

    }

  }
  
  &.petition {
    .form-group {
      margin-bottom: 20px;

      // display: block;

      &.zip, &.first-name {
        width: 48%;
      }
      
      &.zip {
        margin-right: 0;
      }
      
      &.email {
        width: 99%;
        display: block;
      }

      &.submit {
        display: block;
        width: 99%;
        margin-bottom: 0;
      }

    }
  }
  
  .alert {
    display: none;
  }

}
