// Height elements

.height-xs {
  height: 50px;
}

.height-sm {
  height: 100px;
}

.height-md {
  height: 150px;
}

.height-lg {
  height: 200px;
}

.height-xl {
  height: 400px;
}

.height-xxl {
  height: 600px;
}
