// List styles

ul {
  &.list-plain,
  .list-plain & {
    list-style-type: none;
    padding: 0px;
  }
}

.list-group {

  .list-group-item {

    &.active {
      border-left: 6px solid $list-group-active-color;
      padding-left: 10px;
    }
  }
}
