// Modules
.module-container {
  @include clearfix();
  overflow: hidden;
  margin: 20px 0;
  height: 600px;
  display: flex;
  border-radius: 3px;

  .alone .module {
    border-radius: 3px; 
  }

  &--video {
    display: block;
    
    // @include until($large) {
    //   height: 550px;
    // };
  }
}

.module {
  height: auto;
  display: flex;

  &__heading {
    margin: 0;
    
    &--small {
      @extend .module__heading;
      font-size: 1.4em;
    }
  }

  &.centered {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  &.align-bottom {
    display: flex;
    align-items: flex-end;
  }

  &.align-left {
    display: flex;
    justify-content: flex-start;
  }

  &.align-middle {
    display: flex;
    justify-content: center;
  }

  &.align-center {
    display: flex;
    align-items: center;
  }

  &.blue {
    background: $blue;
  }

  &.dark-blue {
    background: darken($blue, 30);
    color: white;

    &-transparent {
      @extend .dark-blue;
      background: transparentize(darken($blue, 30), 0.5);
    }
  }

  &.white {
    background: white;
  }

  &.crowd {
    background-image: url('../img/nina_bg.jpg');
    background-size: cover;
    color: white;
  }

  &.tpp-bg {
    background: darken($blue,40) url('../img/tpp_bg.jpg');
    background-size: cover;
    color: white;
    font-weight: bolder;

    .module__heading, p {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.lopez-bg {
    background: darken($blue,40) url('../img/lopez-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bolder;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.gwu-bg {
    background: darken($blue,40) url('../img/gwu-bg.jpg');
    background-size: cover;
    color: white;
    font-weight: bolder;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.bernie-bg {
    background: darken($blue,40) url('../img/bernie-bg.jpg');
    background-size: cover;
    color: white;
    font-weight: bolder;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.call-success-bg {
    background: darken($blue,40) url('../img/call-success.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bolder;
    min-height: 300px;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.stop-sessions-bg {
    background: darken($blue,40) url('../img/stop-sessions.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bolder;
    min-height: 300px;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.stream-bg {
    background: darken($blue,40) url('../img/stream-announcement.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bolder;
    min-height: 300px;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.erika-bg {
    background: $blue url('../img/erika-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bolder;
    min-height: 300px;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.health-bg {
    background: $blue url('../img/health-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bolder;
    min-height: 300px;

    .module__heading {
      // text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.oscar-free {
    background: $blue url('../img/oscar-free.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bolder;
    min-height: 300px;

    .module__heading {
      // text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }

  &.map-bg {
    background: darken($blue, 30) url('../img/map-bg.jpg');
    background-position: center;
    color: white;
    font-weight: bolder;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.dapl-bg {
    background: darken($blue, 30) url('../img/dapl_module_1.jpg');
    background-size: cover;
    color: white;
    font-weight: bolder;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }
  
  &.dapl-victory-bg {
    background: darken($blue, 30) url('../img/dapl-crowd.jpg');
    background-size: cover;
    color: white;
    font-weight: bolder;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }

  &.shailene-bg {
    background: $blue url('../img/shailene-arrest.png');
    background-size: cover;
    color: white;
    font-weight: bolder;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }

  &.lucy-and-bernie {
    background: $blue url('../img/lucy-and-bernie.jpg');
    background-size: cover;
    background-position: bottom center;
    color: white;
    font-weight: bolder;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }

  &.flag-bg {
    background: black url('../img/bg_flag.jpg');
    background-size: cover;
    color: white;
    font-weight: bolder;

    .module__heading {
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }

    .article-type {
      font-weight: bolder;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
  }

  &.connolly {
    background-image: url('../img/bg_connolly.jpg');
    background-position: center;
    background-size: cover;
    color: white;
  }

  &.jehlen {
    background-image: url('../img/bg_jehlen.jpg');
    background-position: center;
    background-size: cover;
    color: white;
  }

  &.vassell {
    background-image: url('../img/bg_vassell.jpg');
    background-position: right center;
    background-size: cover;
    color: white;
  }

  &.calkin {
    background-image: url('../img/bg_calkin.jpg');
    background-position: right center;
    background-size: cover;
    color: white;
  }

  &.eramo {
    background-image: url('../img/bg_eramo.jpg');
    background-position: right center;
    background-size: cover;
    color: white;
  }

  &.border-left {
    border-left: 5px solid lighten($blue, 10);
  }

  &.border-right {
    border-right: 5px solid lighten($blue, 10);
  }

  &--video {
    display: block;

    .module__content {
      max-width: 100%;
      width: 100%;
      padding:0;
      height: 100%;
    }
  }

  &__content {
    padding: 30px;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    // margin: auto;

    &.flex {
      @extend .module__content;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
    }

    &.full {
      flex: 1;
      max-width: 100%;
    }

    &.align-left {
      width: 100%;
      text-align: left;
      max-width: 100%;
      padding: 30px;
    }

    &.max-70 {
      max-width: 70%;
    }
    
    &.bottom {
      vertical-align: bottom !important;
    }
    
    &.small {
      padding: 5%;
    }
  }

  &__button {
    margin-top: 10px;
  }

  &--small-bottom {
    background: $blue;
    width: 100%;
    align-self: flex-end;
    margin-bottom: 0;
    flex: 0 0 100px;
    max-width: 100%;
    border-radius: 0 0 0 3px;

    @media (max-width:767px) {
      border-radius: 0;
    }
  }

  &--two-thirds--full {
    width: 66%;
    float: left;
  }

  &--one-third--full {
    width: 34%;
    float: left;
    background: #f5f5f5;
    height: 100%;
  }
}


// Module Grid
.module-col {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.third {
    width: 34%;
    @include until($medium) {
      order: 5;
    }
  }
  
  &.block {
    display: block;
    height: 100%;
    float: left;
    
    @include until($medium) {
      height: auto;
    };
    
    .module {
      // height: 100%;
      display: table;
      
      @include until($medium) {
        height: auto;
      };
      
      .module__content {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  
  &.table {
    display: table;
    height: 100%;
    float: left;
    
    @include until($medium) {
      height: auto;
    };
    
    .module {
      // height: 100%;
      display: table;
      
      @include until($medium) {
        height: auto;
      };
      
      .module__content {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  &.half {
    width: 50%;
  }
  
  &.third {
    width: 34%;
    
    &.margin-right {
      width: 32%;
      width: calc(34% - 10px);
      margin-right: 10px;
      
      @include until($medium) {
        margin-right: 0;
        margin-left: 0;
        // margin-top: 20px;
      };
    }
    
    &.margin-left {
      width: 32%;
      width: calc(34% - 10px);
      margin-left: 10px;
      
      @include until($medium) {
        margin-right: 0;
        margin-left: 0;
        margin-top: 20px;
      };
    }
    
    &.alone {
      width: 32%;
      width: calc(34% - 10px);
      margin-right: 10px;
    }
    
  }

  &.two-thirds {
    width: 66%;
    
    &.margin-right {
      width: 64%;
      width: calc(66% - 10px);
      margin-right: 10px;
    
      @include until($medium) {
        margin-right: 0;
        // margin-top: 20px;
      };
    }
    
    &.margin-left {
      width: 64%;
      width: calc(66% - 10px);
      margin-left: 10px;
    
      @include until($medium) {
        margin-left: 0;
        margin-top: 20px;
      };
    }
    
    &.alone {
      width: 64%;
      width: calc(66% - 10px);
      margin-left: 10px;
    
      @include until($medium) {
        margin-left: 0;
        // margin-top: 20px;
      };
    }
  }
  
  &.sixty {
    width: 60%;
    
    &.alone {
      width: 58%;
      width: calc(60% - 10px);
      margin-right: 10px;
    }
  }
  
  &.forty {
    width:40%;
    
    &.alone {
      width: 38%;
      width: calc(40% - 10px);
      margin-left: 10px;
      
      @include until($medium) {
        margin-left: 0;
        margin-top: 20px;
      };
    }
  }
  
  &.full {
    width: 100%;
  }

  @include until($medium) {
    width: 100% !important;
    flex-flow: row wrap;
  }
}

.module {
  height: 100%;
  width: 100%;

  &.half {
    height: 50%;
    
    &.margin-bottom {
      height: 48%;
      height: calc(50% - 20px);
      margin-bottom: 20px;
    }
    
    &.margin-top {
      height: 48%;
      height: calc(50% - 20px);
      margin-top: 20px;
    }
  }

  &.full {
    height: 100%;
  }

  &.fill {
    height: auto;
    flex: auto;
    min-height: 150px;

    @include until($small) {
      min-height: 200px;
    };
  }
  
  &.sixty {
    height: 60%;
    
    &.alone {
      height: calc(60% - 10px);
      margin-bottom: 10px;
    }
  }
  
  &.forty {
    height: 40%;
    
    &.alone {
      height: calc(40% - 10px);
      margin-top: 20px;
    }
  }

  &.top {
    height: auto;
    align-self: flex-start;
    flex: 0 0 auto;
  }

  &.bottom {
    height: auto;
    align-self: flex-end;
  }
}

// Video Stuff
@media (max-width: 991px) {
  .module-container--video {
    .module--video {
      // padding: 20px;
      border-radius: 0 0 3px 3px;
    }

    .module--centered {
      display: block;
      height: auto;
    }

    .video-wrapper {
      margin-top: 10px;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      padding-bottom: 45%;
    }
  }
}

@media (max-width: 991px) and (max-width: 768px) {
  .module-container .sign-up-form .form-group {
    margin-bottom: 10px;

    &.email {
      width: 60%;
    }

    &.zip {
      width: 36%;
      margin-right: 0;
    }

    &.submit {
      display: block;
      width: 100%;
    }

  }
}

@media (max-width: 767px) {
  .module-container {
    height: auto;
    flex-flow: row wrap;

    .module--centered {
      flex: 0 0 100%;
    }
  }

  // .navbar .btn-donate {
  //   display: block;
  //   width: 100%;
  //   float: none !important;
  // }
}
