.navbar {
  border-radius: 0;
  width: 100%;
  margin: 0;
  background: white;
  // border-bottom: 1px solid #e7e7e7 !important;
  border-width: 0;

  .navbar__logo {
    display: block;
    background: url('../img/logo.svg') center no-repeat;
    width: 47px;
    height: 40px;
    color: white;
    margin: 0 auto;
    transition: 0.25s;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;

    h1 {
      margin: 0;
    }

    &:hover {
      transform: scale(1.1);
    }

    @include text-indent();
  }

  .navbar__upper {
    padding: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 61px;
  }

  .navbar__lower {
    background: #fafafa;
    border-top: solid 1px #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    z-index: -3;
    overflow: auto;
    transition: 0.25s;
    max-height: 800px;
  }

  .nav-list {
    // display: box;
    // display: flex;
    margin: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;

    &__button {
      padding: 5px;
      color: white !important;
      height: auto !important;

      a {
        color: white !important;

        &::before {
          display: none !important;
        }
      }
    }

    li {
      display: block;
      width: 16.6%;
      float: left;
      margin: 0;
      border: 1px solid #e7e7e7;
      border-width: 0 1px 0 0;
      // flex: 1 1 auto;

      &:first-child {
        border-width: 0 1px 0 1px;
      }

      a {
        display: block;
        padding: 10px 0;
        transition: 0.25s;
        position: relative;
        z-index: 9;

        &::before {
          content: "";
          width: 100%;
          height: 5px;
          display: block;
          position: absolute;
          bottom: 0;
          transition: height 0.25s;
          z-index: -1;
        }

        &.active {
          color: white !important;
        }

        &:hover, &.active {
          color: white;

          &::before {
            height: 100%;
          }
        }
      }

      &:first-child a {
        color: $blue;

        &::before {
          background: $blue;
        }

        &:hover {
          color: white;
        }
      }

      &:nth-child(2) {
        a {
          color: $periwinkle;

          &::before {
            background: $periwinkle;
          }

          &:hover {
          color: white;
          }
        }
      }

      &:nth-child(3) {
        // border-bottom: 5px solid $light-purple;

        a {
          color: $light-purple;

          &::before {
            background: $light-purple;
          }

          &:hover {
          color: white;
          }
        }
      }

      &:nth-child(4) {
        // border-bottom: 5px solid $mauve;

        a {
          color: $mauve;

          &::before {
            background: $mauve;
          }

          &:hover {
          color: white;
          }
        }
      }

      &:nth-child(5) {
        // border-bottom: 5px solid $maroon;

        a {
          color: $maroon;

          &::before {
            background: $maroon;
          }

          &:hover {
          color: white;
          }
        }
      }

      &:nth-child(6) {
        // border-bottom: 5px solid $red;

        a {
          color: $red;

          &::before {
            background: $red;
          }

          &:hover {
          color: white;
          }
        }
      }
    }

    a {
      text-decoration: none;
    }
  }

  .uppercase {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .navbar__buttons {
    @extend .uppercase;

    position: absolute;
    right: 10px;
    top: 10px;

    .btn {
      padding: 12px 18px;
      font-weight: bold;
      align-self: center;
      border-radius: 3px;
      height: 40px;
      font-weight: bolder;
      font-size: 13px;

      &:first-child {
        margin-right: 5px;
      }
    }
  }

  &__social {
    position: absolute;
    left: 10px;
    top: 12px;
  }

  &__social, &__mobile {
    flex: auto;
  }

  .social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 5px 5px 0 0;

    &--twitter {
      @extend .social-icon;
      @extend .twitter-icon;
      background-size: 18px 15px;
      background-color: $blue;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--facebook {
      @extend .social-icon;
      @extend .facebook-icon;
      background-size: 7px 15px;
      background-color: darken($blue,30);
      background-position: center;
      background-repeat: no-repeat;
    }

    @include text-indent();
  }

  &__mobile {
    // display: none;
    // background: red;

    .navbar-toggle {
      margin: 0;
      float: none;
      height: 50px;
      width: 50px;
      padding: 0;

      .icon-bar {
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        transition: 0.25s;
        height: 3px;

        &:nth-child(2) {
          background: darken($blue,30);
          transform: translate(0, 7px) rotate(135deg);
        }

        &:nth-child(3) {
          background: $light-purple;
          opacity: 0;
          transform: rotate(180deg);
          // display: none;
        }

        &:nth-child(4) {
          background: darken($blue,30);
          transform: translate(0, -7px) rotate(-135deg);
        }
      }

    }
  }

  @include until($medium) {
    border: 0;
    // box-shadow: 0 0px 10px rgba(0,0,0,0.3);
    &.collapsed {
      .navbar__buttons {
        display: block;

        .btn:first-child {
          margin-right: 0;
        }
      }

      .navbar__social {
        display: none;
      }

      .navbar__lower {
        max-height: 0;
        transition: 0.25s;
        overflow: auto;

        // fixes quick flash of black border on animate
        border: 1px solid transparent;
        border-width: 0;
      }

      .navbar__mobile {
        .icon-bar {
          &:nth-child(2) {
            background: $red;
            transform: translate(0,0) rotate(0);
          }

          &:nth-child(3) {
            background: $light-purple;
            opacity: 1;
            // display: block;
          }

          &:nth-child(4) {
            background: $blue;
            transform: translate(0,0) rotate(0);
          }
        }
      }
    }

    .navbar__lower {
      border-top: 0;
    }

    & .navbar__upper {
      // margin-left: 50px;
      padding: 5px;
      align-content: stretch;
      justify-content: initial;
      border-bottom: 1px solid #e7e7e7;
      height: 51px;
    }

    .nav-list {
      flex-direction: column;

      li {
        height: 40px;
        border-width: 0 0 1px;
        background: #f5f5f5;
        width: 100%;

        &:first-child {
          border-width: 0 0 1px;
        }

        &:last-child {
          border-width: 0;
        }

        a {
          line-height: 40px;
          height: 40px;
          padding: 0;

          &:hover {

            &::before {
              width: 100%;
              height: 98%;
              bottom: 1px;
            }

          }

          &::before {
            width: 8px;
            height: 98%;
            bottom: 1px;
            transition: width 0.25s;
          }

          &.active::before {
            width: 100%;
            height: 98%;
            bottom: 1px;

          }
        }
      }
    }

    &__mobile {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      display: block;
      border: 1px solid #e7e7e7;
      border-width: 0 1px 0 0;
      height: 51px;
      width: 50px;
    }

    .navbar__logo {
      margin: 0 auto 0 50px;
      top: 0;
      position: relative;
    }

    & .navbar__buttons {
      // float: right;
      display: none;
      top: 5px;
      right: 5px;
    }

    &__social {
      position: absolute;
      right: 5px;
      top: 5px;
      left: auto;
      display: block;
    }

  }

  @include until($small) {
    .navbar__join {
      display: none;
    }
  }

  &__sub {

    ul {
      margin: 0;
    }

    .nav > li > a {
      float: left;

      &:hover {
        background: rgba(0,0,0,0.2);
      }

      &:focus {
        background: rgba(0,0,0,0.2);
      }
    }
  }
}

.navbar--splash {
  border-bottom: 1px solid #e7e7e7;

  @include until($medium) {
    .navbar__logo {
      margin: auto;
    }

    .navbar__upper {
      border: 0;
    }
  };

}

.navbar-backdrop {
  display: none;

  &.active {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
  }
}

.nav-pills > li > a {
  background: #f5f5f5;
  margin-bottom: 10px;

  &:hover {
    background: darken(#f5f5f5, 10);
  }
}

.navbar--microsite {
  .microsite-header-image {
    width: auto;
    height: 150px;
  }

  .navbar__upper {
    height: auto;
  }

  @include until($small) {
    .navbar__upper {
      border-bottom: none;
      display: block;
    }

    .microsite-header-image {
      display: block;
      margin: 50px auto 0;
    }
  }

  @include until($medium) {
    .navbar__upper {
      border-bottom: none;
      display: block;
    }

    .microsite-header-image {
      display: block;
      margin: 50px auto 0;
    }

    .navbar__social {
      position: relative;
      left:10px;
      top: 12px;
      right: auto;
    }

    .navbar__buttons {
      display: block;
      right: 10px;
      top: 10px;
    }
  }
}
