// Progress bar elements

.progress {

  &.progress-lg {
    border: 2px solid $dark-blue;
    border-radius: 20px;
    height: 40px;
    position: relative;

    .progress-bar {
      @extend .fs-sm;
      @extend .text-poppins;

      // Scale down for sm-md screens
      @include range($small, $medium) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    .progress-bar-content {
      left: 0;
      padding: 7px 0 0 20px;
      position: absolute;
      top: 0;

      // Scale down for sm-md screens
      @include range($small, $medium) {
        padding: 9px 0 0 10px;
      }
    }

    // Hide text on smaller screens
    .progress-bar-text {
      @include until($small) {
        display: none;
      }
    }
  }
}
