// Progress bar elements

.progress {

  &.progress-lg {
    border: 2px solid $dark-blue;
    border-radius: 20px;
    height: 40px;
    position: relative;

    .progress-bar {
      @extend .fs-sm;
      @extend .text-poppins;

      // Scale down for smaller screens
      @include range($small, $medium) {
        font-size: 14px;
        line-height: 18px;
      }

      @include until($small) {
        font-size: 12px;
        line-height: 14px;
      }
    }

    .progress-bar-content {
      left: 0;
      padding: 7px 20px 0;
      position: absolute;
      top: 0;
      width: 100%;

      // Scale down for smaller screens
      @include until($medium) {
        padding: 8px 10px 0;
      }
    }

    // Hide on smaller screens
    .progress-bar-goal-met {
      @include until($medium) {
        display: none;
      }
    }
  }
}
