// Text elements

// Poppins
.text-poppins {
  font-family: 'Poppins', sans-serif;
}

// White text with red background
.text-white-red {
  background-color: #ff3939;
  color: #ffffff;
  padding: 0 5px;
}
