<div style="font-family: Arial, sans-serif;max-width:750px;margin:auto; color:#444;">
  <h1 style="text-align:center;padding:25px 0 20px 0;border:0;margin:0">
    <img width="150" alt="Our Revolution" src="{{ or_logo_secondary }}">
  </h1>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    If you requested email verification for your Our Revolution account, then
    please click the link below to complete the process.
  </p>

  <p style="font-family:Arial;font-size:17px;line-height:140%;margin:0">
		<a href="{{ activate_url }}" target="_blank"
    style="font-family:sans-serif;font-size:18px;background-color:#218fff;width:290px;margin:12px auto;border-radius:4px;text-align:center;color:white;text-decoration:none;padding:12px 5px 11px;font-weight:700;display:block;text-transform:uppercase;letter-spacing:0.075em">
    Confirm Email Verification
    </a>
  </p>
</div>
