
<div style="font-family: Arial, sans-serif;max-width:750px;margin:auto; color:#444;">

  <h1 style="text-align:center;padding:25px 0 20px 0;border:0;margin:0">
    <img width="150" alt="Our Revolution" src="{{ or_logo_secondary }}">
  </h1>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    <strong>Hi {{group_name}},</strong>
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    Thank you for nominating {{candidate_name}} for a national endorsement.
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    If this nomination for endorsement is for an election
    <strong>before</strong> April 1st, 2019, we will work on getting back to
    you soon.
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    If this nomination for endorsement is for an election
    <strong>after</strong> April 1st, 2019, your group needs to attend an
    in-service training on either Thursday, February 21st or Saturday, March
    2nd.
    <strong>
      Attendance is mandatory for nominating a candidate for a national
      endorsement.
    </strong>
    Your group can RSVP for the
    <a href="https://register.gotowebinar.com/register/6686579205477704972">February in-service here</a>
    or the
    <a href="https://register.gotowebinar.com/register/4798660565981995788">March in-service here</a>.
    For more on in-service trainings and for what to do should both in-service
    training dates conflict with your schedule, email
    organizing@ourrevolution.com.
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    We wish you and your candidate the best and will continue to fight the
    political revolution with you.
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    Solidarity,<br />
    <strong>The Our Revolution Team</strong>
  </p>

</div>
