
<div style="font-family: Arial, sans-serif;max-width:750px;margin:auto; color:#444;">

  <h1 style="text-align:center;padding:25px 0 20px 0;border:0;margin:0">
    <img width="200" alt="Our Revolution"
    src="https://s.bsd.net/bernie16/ourrevolution/page/-/images/our-revolution-logo-3-color.png">
  </h1>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    <strong>Dear Our Revolution Member,</strong>
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    We're excited to review your candidate nomination. We deeply
    appreciate the time, energy, and care you put into researching
    and nominating candidates.
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    Let's review the next steps from here. 
  </p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    As you know, the progressive movement is highly energized, and this is 
    something we all should be proud of. As a result, we receive dozens of 
    nominations each month, therefore, this process takes several weeks. 
    Lastly, as I'm sure you can understand, we cannot endorse every 
    nominated candidate. 
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    Your candidate's application is now submitted in our system.
  </p>

  <ul style="font-size: 17px; font-family: Arial; line-height:140%;">

    <li>
      This nomination will be sent to our researchers to look for additional
      information we factor in any endorsement.
    </li>

    <li>
      Once that is complete, the political team staff will review it and
      add any new information.
    </li>

    <li>
      We may contact you during this process, but not hearing from us is
      totally normal, too.
    </li>

    <li>
      Once the research is finished, it will be presented to the Political
      Committee, which is a subset of Our Revolution's Board of Directors.
      They will have a final vote on whether we endorse or not. Staff do not
      have a vote on this.
    </li>

    <li>
      Once the decision is final, we'll be in touch to let you know if your
      candidate will receive a national endorsement or not. We email at least
      the person who submitted the nomination and the candidate's staff.
    </li>

    <li>
      Even if endorsed, the nomination is not public until our communications
      department puts out a press release and graphic. This can take a few more
      weeks depending on our workload.
    </li>
    
    <li>Please note - even if endorsed, the nomination is not public until our
      communications department puts out a press release and graphic. This can take
      a few more weeks depending on our workload.</li>

  </ul>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    If the Political Committee votes to endorse the candidate, which we do
    not promise, please expect four to six weeks for a public endorsement
    to occur from the time your candidate submission is complete.
    Sometimes, unfortunately, it can take longer. We greatly appreciate your
    patience throughout this rigorous and very important process. 
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">
    Solidarity,<br />
    <strong>The Our Revolution Team</strong>
  </p>

</div>
