
<div style="font-family: Arial, sans-serif;max-width:750px;margin:auto; color:#444;">
  <h1 style="text-align:center;padding:25px 0 20px 0;border:0;margin:0">
    <img width="150" alt="Our Revolution" src="{{ or_logo_secondary }}">
  </h1>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>Hi {{candidate_name}},</strong></p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">You’ve been nominated by {{group_name}} for an endorsement from Our Revolution! Your local endorsement is a critical first step in building the Political Revolution across the land.</p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Note, the office you are seeking may not have jurisdiction over some of these issues. Please completely fill out the entire questionnaire as they will be used to determine how aligned you are with our national platform.</p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>Please keep in mind that the following factors will be essential for consideration of a national endorsement:</strong></p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>1. Values:</strong> How aligned is the candidate with Our Revolution’s values?</p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>2. Pathway:</strong> Our Revolution does not expect all our candidates will win - sometimes we know they won’t. But we want candidates to demonstrate that they have thought about how they would win. This thought exercise is called “a pathway to victory,” we want you to think about what steps you can take to win the race by reaching out to voters and allies.</p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>3. Group and Allies Support:</strong> We know strong candidates are ones that are leaders in their communities. Good leaders will have support of not only the Our Revolution groups in the area, but allies of our organization. While only Our Revolution decides who we endorse, we do examine if a campaign can garner support of groups if there is more than one and partners as well.</p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>4. Fundraising and Origin of Candidate’s Campaign Contributions:</strong> Does the candidate have the ability to raise money to make him/her/them competitive without having to compromise their values?</p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Once you have filled out and submitted the candidate questionnaire, {{group_name}} can submit your nomination and Our Revolution National will review your candidacy for endorsement. Please understand that we process the applications as quickly as we can but not always as fast as we wish. If you have not heard from us within a month, please feel free to reach out.</p>

  <p style="font-family:Arial;font-size:17px;line-height:140%;margin:0">
		<a href="https://ourrevolution.com/groups/nominations/candidate/login" style="font-family:sans-serif;font-size:18px;background-color:#218fff;width:290px;margin:12px auto;border-radius:4px;text-align:center;color:white;text-decoration:none;padding:12px 5px 11px;font-weight:700;display:block;text-transform:uppercase;letter-spacing:0.075em" target="_blank" >Fill Out Our Questionnaire</a>
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%; text-align:center;"><a href="https://ourrevolution.com/groups/nominations/candidate/login">Fill out our platform questionnaire.</a></p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>Questions?</strong> You can contact {{group_name}} at <a href="mailto:{{group_rep_email|urlencode}}">{{group_rep_email}}</a>.</p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Thanks,<br><strong>Our Revolution</strong></p>
</div>
