
<div style="font-family: Arial, sans-serif;max-width:750px;margin:auto; color:#444;">
  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>Hi {{candidate_name}},</strong></p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">You’ve been nominated by {{group}} for an endorsement from Our Revolution!</p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;">In order for us to consider your candidacy for a national endorsement, you must fill out and submit a candidate questionnaire.</p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Once you have filled out and submitted a candidate questionnaire, {{group}} can submit your nomination and Our Revolution National will review your candidacy for endorsement.</p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><a href="https://ourrevolution.com/groups/nominations/candidate-login">Fill out our platform questionnaire.</a></p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>Questions?</strong> You can contact {{group}} at <a href="mailto:{{group_rep_email}}">{{group_rep_email}}</a>.</p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Thanks,<br><strong>Our Revolution</strong></p>
</div>
