
<div style="font-family: Arial, sans-serif;max-width:750px;margin:auto; color:#444;">
  <h1 style="text-align:center;padding:25px 0 20px 0;border:0;margin:0">
    <img width="200" alt="Our Revolution" src="https://s.bsd.net/bernie16/ourrevolution/page/-/images/our-revolution-logo-3-color.png">
  </h1>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>Hi {{candidate_name}},</strong></p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">You’ve been nominated by {{group}} for an endorsement from Our Revolution!</p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Congratulations on receiving an endorsement nomination from a local Our Revolution group! In order for Our Revolution to consider your candidacy for a national endorsement, you must fill out and submit the following questionnaire.</p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Note, the office you are seeking may not have jurisdiction over some of these issues. Please completely fill out the entire questionnaire as they will be used to determine how aligned you are with our national platform.</p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>Please keep in mind that the following factors will be considered essential for consideration of a national endorsement:</strong></p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>1. Values:</strong> How aligned is the candidate with Our Revolution’s values?</p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>2. Viability:</strong> Historical voting data, including voter turnout and previous election party breakdown, is a good indicator of how an election may turn out. This information will give an indication of how much effort a candidate will need to exert and invest in order to win.</p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>3. Fundraising and Origin of Candidate’s Campaign Contributions:</strong> Does the candidate have the ability to raise money to make him/her competitive without having to compromise their values?</p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Once you have filled out and submitted a candidate questionnaire, {{group}} can submit your nomination and Our Revolution National will review your candidacy for endorsement.</p>
  
  <p style="font-family:Arial;font-size:17px;line-height:140%;margin:0">
		<a href="https://ourrevolution.com/groups/nominations/candidate/login" style="font-family:sans-serif;font-size:18px;background-color:#218fff;width:290px;margin:12px auto;border-radius:4px;text-align:center;color:white;text-decoration:none;padding:12px 5px 11px;font-weight:700;display:block;text-transform:uppercase;letter-spacing:0.075em" target="_blank" >Fill Out Our Questionnaire</a>
  </p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%; text-align:center;"><a href="https://ourrevolution.com/groups/nominations/candidate/login">Fill out our platform questionnaire.</a></p>
  
  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>Questions?</strong> You can contact {{group}} at <a href="mailto:{{group_rep_email|urlencode}}">{{group_rep_email}}</a>.</p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Thanks,<br><strong>Our Revolution</strong></p>
</div>
