
<div style="font-family: Arial, sans-serif;max-width:750px;margin:auto; color:#444;">
  <h1 style="text-align:center;padding:25px 0 20px 0;border:0;margin:0">
    <img width="200" alt="Our Revolution" src="https://s.bsd.net/bernie16/ourrevolution/page/-/images/our-revolution-logo-3-color.png">
  </h1>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;"><strong>Hi {{rep_name}},</strong></p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">{{candidate_name}} has completed the candidate questionnaire!</p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Log into the group nominations dashboard to review and submit your application for endorsement.</p>

  <p style="font-family:Arial;font-size:17px;line-height:140%;margin:0">
		<a href="{{ nominations_submit_url }}"
    style="font-family:sans-serif;font-size:18px;background-color:#218fff;width:290px;margin:12px auto;border-radius:4px;text-align:center;color:white;text-decoration:none;padding:12px 5px 11px;font-weight:700;display:block;text-transform:uppercase;letter-spacing:0.075em"
    target="_blank" >Submit My Nomination</a>
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%; text-align:center;">
    <a href="{{ nominations_submit_url }}">Submit My Nomination</a>
  </p>

  <p style="font-size: 17px; font-family: Arial; line-height:140%;">Thanks,<br><strong>Our Revolution</strong></p>
</div>
