{% extends "organizing_hub_layout.html" %}

{% load bootstrap3 organizing_hub_tags %}

{% block page_title %}Our Revolution - Create Account{% endblock %}

{% block nav %}
    {% with center_header=True %}
        {{ block.super }}
    {% endwith%}
{% endblock %}

{% block content_pre_heading %}
<span class="article-type">Organizing Hub</span>
{% endblock %}

{% block content_heading %}Create Account{% endblock %}

{% block content %}

<div class="container">

  <div class="row pt4 pb4">

    <div class="col-md-6 col-md-offset-3">

      {% bootstrap_messages %}

      <p class="fs18">
        To create an account, just fill out the form below.
      </p>

      <div class="mb20 mt20 pa20 br3 f5f5f5-bg">

      <form action="{{ request.get_full_path }}" method="post"
      class="form form-uppercase">

          {% csrf_token %}

          {% bootstrap_field form.first_name %}

          {% bootstrap_field form.last_name %}

          {% bootstrap_field form.email_address placeholder="you@example.com" %}

          {% bootstrap_field form.postal_code %}

          {% bootstrap_field form.new_password1 placeholder="" %}

          {% bootstrap_field form.new_password2 placeholder="" %}

          {% buttons %}
          {% bootstrap_button "Create Account" button_type="submit" button_class="btn-primary btn-block uppercase" %}
          {% endbuttons %}

        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
