{% extends "group_portal.html" %}

{% load bootstrap3 local_groups_tags %}

{% block page_title %}Our Revolution - Manage Group Admins{% endblock %}

{% block content_pre_heading %}
<span class="article-type">Organizing Hub</span>
{% endblock %}

{% block content_heading %}
{% group_link %}
{% endblock %}

{% block content %}

<div class="container pt4">
  <div class="row">
      <div class="col-md-9 col-md-offset-3">

        {% bootstrap_messages %}

        <h3 class="mb20 mt0">
          Manage Group Admins
        </h3>
      </div>
  </div>
</div>

<div class="container pb4">

  <div class="row">

      <div class="col-md-3">
        {% group_portal_nav %}
      </div>

      <div class="col-md-9">

            <form action="{% url 'organizing-hub-group-admins' local_group.slug %}"
            method="post" class="form mb20">
              {% csrf_token %}

              <div class="row">
                  <div class="col-md-12">
                    {% bootstrap_field form.email placeholder="you@example.com" %}
                  </div>

                  <div class="col-md-12">
                    {% bootstrap_field form.is_admin %}
                  </div>
              </div>

                <div class="row">
                    <div class="col-md-12">
                      <button type="submit"
                      class="btn btn-primary btn-block uppercase ls2">
                      Submit
                    </button>
                    </div>
                </div>

            </form>

      </div>
  </div>
</div>

{% endblock %}
