{% extends "organizing_hub_layout.html" %}

{% load bootstrap3 django_bootstrap_breadcrumbs organizing_hub_tags %}

{% block page_title %}Our Revolution - My Account{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "My Account" "organizing-hub-account" %}
{% endblock %}

{% block content_heading %}
My Account
{% endblock %}

{% block content %}

{{ block.super }}

<div class="container pt4">
  <div class="row">
      <div class="col-md-9 col-md-offset-3">

        {% bootstrap_messages %}

      </div>
  </div>
</div>

<div class="container pb4">

  <div class="row">

      <div class="col-md-3">
        {% organizing_hub_nav %}
      </div>

      <div class="col-md-9">

        <p>
          Logged in as
          <strong>
            {% if user.email %}
            {{ user.email }}
            {% else %}
            {{ user.username }}
            {% endif %}
          </strong>
        </p>

        <hr />

        <a href="{% url 'organizing-hub-password-change' %}">
          Change Password
        </a>

      </div>
  </div>
</div>

{% endblock %}
