{% extends "pages/base_page.html" %}

{% load bootstrap3 django_bootstrap_breadcrumbs organizing_hub_tags %}

{% block breadcrumbs %}
  {{ block.super }}
  {% organizing_hub_dashboard_url as link_url %}
  {% breadcrumb "Organizing Hub" link_url %}
{% endblock %}

{% block nav %}

{{ block.super }}

{% include "partials/organizing_hub_header.html" %}

<div class="container-fluid">

  <div class="row blue-bg white-text pb2">

    <div class="container {% if center_header %}pb2 pt4{% else %}pt6{% endif %}">

      {% if center_header %}
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
      {% endif %}

      {% block content_pre_heading %}{% endblock %}

      <h1 class="mt0 mb0">
        {% block content_heading %}
        {{ page.title }}
        {% endblock %}
      </h1>

      {% if page.sub_heading %}
        <p class="mt10 fs18">
          {{ page.sub_heading }}
        </p>
      {% endif %}

      {% if center_header %}
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
