{% extends "organizing_hub_layout.html" %}

{% load bootstrap3 django_bootstrap_breadcrumbs organizing_hub_tags %}

{% block page_title %}Our Revolution - Email Verification{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Email Verification" 'organizing-hub-verify-email-request' %}
{% endblock %}

{% block content_heading %}Email Verification{% endblock %}

{% block content %}

{% with center_header=True %}
    {{ block.super }}
{% endwith%}

<div class="container">

  <div class="row pt4 pb4">

    <div class="col-md-6 col-md-offset-3">

      {% bootstrap_messages %}

      <p class="fs18 mb20">
        The page you requested requires email address verification. Please
        verify your email address and then try again.
      </p>

      <form action="{% url 'organizing-hub-verify-email-request' %}" method="post">
        {% csrf_token %}

        {% buttons %}
        {% bootstrap_button "Send Email Verification" button_type="submit" button_class="btn-primary btn-block uppercase" %}
        {% endbuttons %}

      </form>
    </div>
  </div>
</div>

{% endblock %}
