{% extends "organizing_hub_events.html" %}

{% load bootstrap3 organizing_hub_tags %}

{% block page_title %}Our Revolution - Calling Campaigns{% endblock %}

{% block content_heading %}
Calling Campaigns
{% endblock %}

{% block content %}

{{ block.super }}

<div class="container pt4">
  <div class="row">
      <div class="col-md-9 col-md-offset-3">
        {% bootstrap_messages %}
      </div>
  </div>
</div>

<div class="container pb4">

  <div class="row">

      <div class="col-md-3">
        {% organizing_hub_nav %}
      </div>

      <div class="col-md-9">

        <section>


          <span class="dot"></span>
          <span class="dot dot-success"></span>
          <span class="dot dot-info"></span>
          <span class="dot dot-warning"></span>
          <span class="dot dot-danger"></span>
          <span class="dot dot-sm"></span>
          <span class="dot dot-lg"></span>


          <h4 class="mt0">Active Calling Campaigns</h4>

          <div class="panel panel-default">

            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Calls Made</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>

              <tbody>

                {% for campaign in campaigns_as_admin_active %}
                {% include "partials/call_campaign_row.html" %}
                {% endfor %}

                {% for campaign in campaigns_as_caller_active %}
                  {% if campaign not in campaigns_as_admin_active %}
                  {% include "partials/call_campaign_row.html" %}
                  {% endif %}
                {% endfor %}

              </tbody>
            </table>

          </div>

          <a class="btn btn-block btn-success uppercase ls2"
          href="{% url 'organizing-hub-event-create' %}">
            Create Calling Campaign
          </a>

        </section>

        <hr />

        <section>

          <h4 class="mt0">Inactive Calling Campaigns</h4>

          <div class="panel panel-default">

            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Calls Made</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>

              <tbody>

                {% for campaign in campaigns_as_admin_inactive %}
                {% include "partials/call_campaign_row.html" %}
                {% endfor %}

                {% for campaign in campaigns_as_caller_inactive %}
                  {% if campaign not in campaigns_as_admin_inactive %}
                  {% include "partials/call_campaign_row.html" %}
                  {% endif %}
                {% endfor %}

              </tbody>
            </table>

          </div>

        </section>



      </div>
  </div>
</div>

{% endblock %}
