{% extends "easy_pdf/base.html" %}

{% block content %}
    {% load static humanize %}

    {# add ? to url to avoid UnicodeDecodeError https://ourrevolution.atlassian.net/browse/TECH-1202 #}    
    <link rel="stylesheet" href="{% static "dist/css/main.min.css" %}?">

    <style>

      body {
        font-size: 14px;
      }

      h1 {
        font-size: 22px;
      }

      h2 {
        font-size: 18px;
      }

      h3 {
        font-size: 14px;
      }

      h1, h2, h3 {
        margin-bottom: 0;
        color: #218fff;
      }

      p {
        margin-top: 0;
      }

      table {
        margin-bottom: 10px;
      }

      th {
        background-color: #E5E5E5;
        text-align: left;
      }

      th, td {
        border: solid 1px black;
        padding: 4px 4px 0;
      }

      td.value,
      th.value {
        text-align: right;
      }

      .bg-blue {
        background: #218fff;
        border-radius: 3px;
        color: white;
        padding: 10px 10px 0;
      }

      .bg-blue h1,
      .bg-blue h2,
      .bg-blue h3 {
        color: white;
        margin-bottom: 10px;
      }

    </style>

    <div id="content">

      <h1>Our Revolution</h1>

      <section>

        <p>

          <strong>
            {{ app.candidate_first_name }} {{ app.candidate_last_name }}
          </strong><br />

          <strong>
            {{ app.candidate_city }}
            {{ app.candidate_office }}
            {{ app.candidate_district }}
            in {{ app.candidate_state }}
          </strong><br />

          <strong>Submitted:</strong> {{ app.submitted_dt|date:"Y-m-d" }}<br />

          <strong>Primary election date:</strong>
          {{ app.questionnaire.primary_election_date|date:"Y-m-d" }}<br />

          <strong>General election date:</strong>
          {{ app.questionnaire.general_election_date|date:"Y-m-d" }}

        </p>

        <p>
          <strong>
            Written by: {{ app.staff }}
          </strong>
        </p>

        <p>
          <strong>Staff Recommendation:</strong>
          {% if app.staff_recommendation %}
          {{ app.get_staff_recommendation_display }}
          {% endif %}
        </p>

      </section>

      <section>

        <h2>
          Stand Out Information
        </h2>

        {{ app.stand_out_information|safe }}

      </section>

      <section>

        <h2>
          State of the Race
        </h2>

        {{ app.state_of_the_race|safe }}

      </section>

      <section>

        <h2>
          Candidates
        </h2>

        {% for party, candidates in app.candidates_by_party %}

        {% with candidates|first as first_candidate %}
        <h3>
          {{ first_candidate.get_party_display }}
        </h3>
        {% endwith %}

        <ul>

          {% for candidate in candidates %}

          <li>

            Name: {{ candidate.name }}

            <ul>

              <li>
                Website:
                {% if candidate.website_url %}
                <a href="{{ candidate.website_url }}">{{ candidate.website_url }}</a>
                {% endif %}
              </li>

              <li>
                Description:
                {{ candidate.description }}
              </li>

            </ul>

          </li>

          {% endfor %}

        </ul>

        {% endfor %}

      </section>

      <section>

        <h2>
          Race Information
        </h2>

        <p>
          <strong>Type of primary:</strong>
          {{ app.get_primary_election_type_display }}<br />

          <strong>Previous election advantage:</strong>
          {{ app.vol_advantage }}<br />

          <strong>General fundraising:</strong>
          ${{ app.vol_fundraising|intcomma }}
        </p>

        <table>
          <thead>
            <tr>
              <th>Candidate</th>
              <th>Party</th>
              <th class="value">Cash on Hand</th>
            </tr>
          </thead>

          <tbody>

            {% for party, candidates in app.candidates_by_party %}
            {% for candidate in candidates %}
            <tr>
              <td>{{ candidate.name }}</td>
              <td>{{ candidate.get_party_display }}</td>
              <td class="value">
                {% if candidate.fundraising %}
                ${{ candidate.fundraising|intcomma }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            {% endfor %}

          </tbody>
        </table>

        <p>
          <strong>Date of Fundraising Report filing:</strong>
          {{ app.fundraising_date_of_filing|date:"Y-m-d" }}<br />

          <strong>Date accessed:</strong>
          {{ app.fundraising_date_accessed|date:"Y-m-d" }}<br />

          <strong>Source:</strong>
          {% if app.fundraising_source_url %}
          <a href="{{ app.fundraising_source_url }}">{{ app.fundraising_source_url }}</a>
          {% endif %}
        </p>


        <p>

          <strong>Polling:</strong> {{ app.vol_polling }}<br />

          <strong>Previous election turnout:</strong>
          {{ app.vol_turnout|intcomma }}

        </p>

        <p>
          <strong>Endorsements:</strong>
          {% if app.vol_endorsements %}{{ app.vol_endorsements }}{% endif %}
        </p>

      </section>

      <section>

        <h2>OR Local Group Info</h2>

        <p>
          {{ app.group }}
        </p>

        {{ app.local_group_info|safe }}

        <div>

          <strong>Local Support:</strong><br />

          {{ app.local_support|safe }}

        </div>

      </section>

      <section>

        <p>
          The following candidate has been nominated for this race:
        </p>

        <div class="bg-blue">
          <h2>
            {{ app.candidate_first_name }} {{ app.candidate_last_name }}
          </h2>
        </div>

        <p>
          <strong>Campaign Website:</strong>
          {% if app.questionnaire.candidate_website_url %}
          <a href="{{ app.questionnaire.candidate_website_url }}">{{ app.questionnaire.candidate_website_url }}</a>
          {% endif %}
        </p>

        <p>
          <strong>Party:</strong> {{ app.questionnaire.candidate_party }}
        </p>

      </section>

      <section>

        <div>

          <strong>Bio:</strong><br />

          {{ app.staff_bio|safe }}

        </div>

      </section>

      <section>

        <p>
          <strong>Issues:</strong><br />
          {{ app.questionnaire.campaign_issues }}
        </p>

      </section>

      <section>

        <div>

          <strong>Vet:</strong> {{ app.get_vet_status_display }}<br />

          <em>Conducted by Spiros Consulting and Research</em><br />

          {{ app.vet|safe }}
        </div>

      </section>

    </div>
{% endblock %}
