{% extends "easy_pdf/base.html" %}

{% block content %}
    {% load static humanize %}
    <link rel="stylesheet" href="{% static "dist/css/main.min.css" %}?v=122">

    <style>

      body {
        font-size: 14px;
      }

      h1 {
        font-size: 22px;
      }

      h2 {
        font-size: 18px;
      }

      h3 {
        font-size: 14px;
      }

      h1, h2, h3 {
        margin-bottom: 0;
        color: #218fff;
      }

      p {
        margin-top: 0;
      }

      .bg-blue {
        background: #218fff;
        border-radius: 3px;
        color: white;
        padding: 10px 10px 0;
      }

      .bg-blue h1,
      .bg-blue h2,
      .bg-blue h3 {
        color: white;
        margin-bottom: 10px;
      }

    </style>

    <div id="content">

      <section>

        <div class="bg-blue">
          <h1>
            {{ app.candidate_office }}
            {{ app.candidate_district }}
            in {{ app.candidate_state }}
          </h1>
        </div>

        <p>
          <strong>Submitted: {{ app.submitted_dt|date:"Y-m-d" }}</strong><br />
          <strong>
            Primary election date:
            {{ app.questionnaire.primary_election_date|date:"Y-m-d" }}
          </strong><br />
          <strong>
            General election date:
            {{ app.questionnaire.general_election_date|date:"Y-m-d" }}
          </strong>
        </p>

        <p>
          <strong>
            Classification: Level {{ app.get_classification_level_display }}
          </strong>
        </p>

        <p>
          <strong>
            Recommendation written by: {{ app.staff }}
          </strong>
        </p>

        <p>
          <strong>Staff Recommendation:</strong>
          {{ app.get_recommendation_display }}
          {{ app.candidate_first_name }} {{ app.candidate_last_name }}
        </p>

      </section>

      <section>

        <h2>
          Stand Out Information
        </h2>

        {{ app.stand_out_information|safe }}

      </section>

      <section>

        <h2>
          State of the Race
        </h2>

        {{ app.state_of_the_race|safe }}

      </section>

      <section>

        <h2>
          Candidates
        </h2>

        {% for party, candidates in app.candidates_by_party %}

        {% with candidates|first as first_candidate %}
        <h3>
          {{ first_candidate.get_party_display }}
        </h3>
        {% endwith %}

        <ul>

          {% for candidate in candidates %}

          <li>

            Name: {{ candidate.name }}

            <ul>

              <li>
                Website:
                {% if candidate.website_url %}
                <a href="{{ candidate.website_url }}">{{ candidate.website_url }}</a>
                {% endif %}
              </li>

              <li>
                Description:
                {{ candidate.description }}
              </li>

            </ul>

          </li>

          {% endfor %}

        </ul>

        {% endfor %}

      </section>

      <section>

        <h2>
          Race Information
        </h2>

        <p>
          <strong>Type of primary:</strong>
          {{ app.get_primary_election_type_display }}
        </p>

      </section>

      <section>

        <p>
          The following candidate(s) have been nominated for this race:
        </p>

        <div class="bg-blue">
          <h2>
            {{ app.candidate_first_name }} {{ app.candidate_last_name }}
          </h2>
        </div>

        <p>
          <strong>Campaign Website:</strong>
          {% with app.questionnaire.candidate_website_url as link_url %}
          <a href="{{ link_url }}">{{ link_url }}</a>
          {% endwith %}
        </p>

        <h3>Candidate Bio</h3>

        {{ app.staff_bio|safe }}

        <p>
          <strong>Party:</strong> {{ app.questionnaire.candidate_party }}
        </p>

        <p>
          <strong>Political Questionnaire:</strong>
          {% url 'admin:nominations_questionnaire_change' app.questionnaire.id as link_path %}
          <a href="{{ base_url }}{{ link_path }}">Attached.</a>
        </p>

        <p>
          <strong>City:</strong> {{ app.candidate_city }}
        </p>

        <p>
          <strong>State:</strong> {{ app.candidate_state }}
        </p>

        <p>
          <strong>Has the candidate ever held public office?</strong>
          {{ app.questionnaire.candidate_held_office|yesno:"Yes, No, Unknown" }}
        </p>

      </section>

      <section>

      <ul>

        <li>
          Previous Election Advantage: {{app.vol_advantage}}
        </li>

        <li>
          Polling: {{app.vol_polling}}
        </li>

        <li>
          Previous Election Turnout: {{ app.vol_turnout|intcomma }}
        </li>

        <li>
          Win Number: {{ app.vol_win_number|intcomma }}
        </li>

        <li>
          Fundraising: ${{ app.vol_fundraising|intcomma }}
        </li>

        <li>
          Opponent Fundraising: ${{ app.vol_opponent_fundraising|intcomma }}
        </li>

        <li>
          Candidate is incumbent?
          {{ app.vol_incumbent|yesno:"Yes, No, Unknown" }}
        </li>

        <li>
          Dem challenger? {{ app.vol_dem_challenger|yesno:"Yes, No, Unknown" }}
        </li>

      </ul>

    </section>

    <section>

      <h2>OR Local Group Info</h2>

      <p>
        {{app.group}}
      </p>

      <h3>Local Endorsement Process</h3>

      {{ app.local_group_info|safe }}

      <h3>Commitments from group</h3>

      {{ app.local_support|safe }}

      </section>

      <section>

        <h2>Vet</h2>

        <p>
           {{ app.get_vet_status_display }}
        </p>

        {{ app.vet|safe }}

        <p>
          Conducted by volunteers: {{ app.vol_crimes }}
        </p>

      </section>

      <section>

        <h2>Endorsements</h2>

        <p>
         {{ app.vol_endorsements }}
        </p>

      </section>

      <section>

        <h2>Staff Notes</h2>

        {{ app.staff_notes|safe }}

      </section>

    </div>
{% endblock %}
