{% extends "organizing_hub_layout.html" %}

{% load bootstrap3 django_bootstrap_breadcrumbs organizing_hub_tags %}

{% block page_title %}Our Revolution - Update Group{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Update Group" "groups-manage" local_group.slug %}
{% endblock %}

{% block content_heading %}
Update Group
{% endblock %}

{% block content %}

{{ block.super }}

<div class="container pt4">
  <div class="row">
      <div class="col-md-9 col-md-offset-3">

        {% bootstrap_messages %}

      </div>
  </div>
</div>

<div class="container pb4">

  <div class="row">

      <div class="col-md-3">
        {% organizing_hub_nav %}
      </div>

      <div class="col-md-9">

            <form action="{% url 'groups-manage' group.slug %}" method="post"
            class="form mb20">
              {% csrf_token %}

              <script>
                // @TODO: Remove this hack when django-recurrence internationalization detection
                // is fixed or when i18n support is added to Knock
                if (!pgettext) {
                  function pgettext(ignore, t) {
                      return gettext(t);
                  }
                }
              </script>

              {{form.media}}
                <div class="clearfix mb20">
                    <div class="row">

                      <div class="col-md-12">
                        <h4 class="mt0">Group Information</h4>
                      </div>

                      <div class="col-md-6">
                        {% bootstrap_field form.name %}
                      </div>

                      <div class="col-md-2">
                        {% bootstrap_field form.group_id %}
                      </div>

                      <div class="col-md-12">
                        {% bootstrap_field form.description placeholder="Our Revolution is the successor to the Bernie Sanders campaign, and empowers individuals to work toward furthering a platform that works for all of us." %}
                      </div>

                        <div class="col-md-6">
                          {% bootstrap_field form.city placeholder="Burlington" %}
                        </div>
                        <div class="col-md-6">
                          {% bootstrap_field form.state %}
                        </div>
                        <div class="col-md-6">
                          {% bootstrap_field form.county placeholder="Chittenden" %}
                        </div>
                        <div class="col-md-6">
                          {% bootstrap_field form.country %}
                        </div>
                        <div class="col-md-6">
                          {% bootstrap_field form.postal_code %}
                        </div>
                        <div class="col-sm-2 col-xs-4">
                          {% bootstrap_field form.size placeholder="27" %}
                        </div>

                    </div>
                </div>

                <div class="clearfix mb20">
                    <div class="row">
                        <div class="col-md-12">
                          <h4>Public Group Representative</h4>
                        </div>

                        <div class="col-md-6">
                          {% bootstrap_field form.rep_first_name placeholder="Jane" %}
                        </div>
                        <div class="col-md-6">
                          {% bootstrap_field form.rep_last_name placeholder="Doe" %}
                        </div>
                        <div class="col-md-6">
                          {% bootstrap_field form.rep_phone placeholder="555-555-5555" %}
                        </div>
                        <div class="col-md-6">
                          {% bootstrap_field form.rep_postal_code placeholder="05401" %}
                        </div>

                        <div class="col-md-12">
                          {% organizing_email as placeholder_email %}
                          {% bootstrap_field form.group_contact_email placeholder=placeholder_email %}
                        </div>

                        <div class="col-md-12">
                          {% bootstrap_field form.rep_email %}
                        </div>

                    </div>
                </div>

                <div class="clearfix mb20">
                    <div class="row">
                        <div class="col-md-12">
                          <h4>Online Presence</h4>
                        </div>

                        <div class="col-md-6">
                          {% bootstrap_field form.website_url placeholder="https://ourrevolution.com" %}
                        </div>
                        <div class="col-md-6">
                          {% bootstrap_field form.facebook_url placeholder="https://facebook.com/PoliticalRevolution" %}
                        </div>
                        <div class="col-md-6">
                          {% bootstrap_field form.twitter_url placeholder="https://twitter.com/OurRevolution" %}
                        </div>
                        <div class="col-md-6">
                          {% bootstrap_field form.instagram_url placeholder="https://www.instagram.com/berniesanders" %}
                        </div>
                        <div class="col-md-12">
                          {% bootstrap_field form.other_social placeholder="https://meetup.com, https://plus.google.com, etc." %}
                        </div>
                    </div>
                </div>

                <div class="clearfix mb20">
                    <div class="row">
                        <div class="col-md-12">
                          <h4>Issues & Organizing Focus</h4>
                        </div>

                        <div class="col-md-12">
                          {% bootstrap_field form.types_of_organizing %}
                          <span id="other_types_of_organizing" class="hidden">{% bootstrap_field form.other_types_of_organizing %}</span>

                          <label>Issues</label>
                          <div class="list-3-col">
                            {% bootstrap_field form.issues show_label=False %}
                          </div>
                        </div>

                        {% bootstrap_field form.other_issues form_group_class='col-md-12 form-group' %}
                        {% bootstrap_field form.constituency form_group_class='col-md-12 form-group' placeholder='ex. Latinos for Bernie' %}
                    </div>
                </div>

                <div class="clearfix mb20">
                    <div class="row">
                        <div class="col-md-12">
                          <h4>Group Meeting Information</h4>
                        </div>

                        <div class="form-group col-md-4">
                          {% bootstrap_field form.last_meeting form_group_class='datepicker' addon_before='<span class="glyphicon glyphicon-calendar"></span>' placeholder='MM/DD/YYYY' %}
                        </div>

                        <div class="form-group col-md-12">
                          <div>
                            {% bootstrap_label "Does your group host regular recurring meetings?" %}
                          </div>

                          <div class="btn-group" id="recurring-ask">
                            <button type="button" class="btn btn-default" aria-label="Yes" value='yes'>Yes
                            </button>

                            <button type="button" class="btn btn-default" aria-label="No" value='no'>No</button>
                          </div>
                        </div>

                        <div class="recurring-field col-md-12">
                          <div class="clearfix mb20 mt20">
                            <h4 class="mb0">{% bootstrap_label "Regular Meeting" label_for="recurring_meeting" %}</h4>
                            <p>Add a rule below so we can let users know when you meet and where.</p>
                            {{ form.recurring_meeting }}
                          </div>

                          {% bootstrap_field form.meeting_address_line1 placeholder='123 Main Street' %}
                          {% bootstrap_field form.meeting_address_line2 %}
                        </div>

                        <div class="recurring-field">
                          {% bootstrap_field form.meeting_city form_group_class='col-md-6 form-group' placeholder='Washington'%}
                          {% bootstrap_field form.meeting_state_province form_group_class='col-md-6 form-group' placeholder='District of Columbia' %}
                          {% bootstrap_field form.meeting_postal_code form_group_class='col-md-6 form-group' placeholder='12345' %}
                          {% bootstrap_field form.meeting_country form_group_class='col-md-6 form-group' %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                      <button type="submit"
                      class="btn btn-success btn-block uppercase ls2">
                      Submit
                    </button>
                    </div>
                </div>
            </form>

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <!-- eeek -->
        <style>
        .recurring-field {
          display: none;
        }
        </style>

        <script>
          $(document).on('ready', function() {
            $(function() {
              $( ".datepicker input" ).datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "2012:{% now "Y" %}",
                // You can put more options here.

              });
            });

            $('.datepicker .input-group-addon').on('click touchstart', function() {
              $( ".datepicker input" ).datepicker('show');
            })

            $('#recurring-ask button').on('click touchstart', function(e) {
              if($(e.target).val() == 'yes') {
                $('.recurring-field').show();
                $('#recurring-ask button').removeClass('active');
                $(e.target).addClass('active');
              } else if($(e.target).val() == 'no') {
                $('.recurring-field').hide();
                $('#recurring-ask button').removeClass('active');
                $(e.target).addClass('active');
              }
            })

            $('#id_types_of_organizing').on('change', function(e) {
              if($(e.target).val() == 'other'){
                if($(e.target).prop('checked')) {
                  $('#other_types_of_organizing').removeClass('hidden');
                } else {
                  $('#other_types_of_organizing').addClass('hidden');
                }
              }
            })
          })
        </script>

      </div>
  </div>
</div>

{% endblock %}
