{% extends "pages/base_page.html" %}

{% load bootstrap3 %}

{% block nav %}

{{ block.super }}

<div class="container-fluid">

  <div class="row blue-bg white-text pb2">
    <div class="back-bar clearfix">
      <div class="container clearfix uppercase">

        <span class="pull-right">

          <a href="{% url 'groups-dashboard' %}">
            Organizing Hub
          </a>

          {% if request.user.is_authenticated %}
          | <a href="{% url 'groups-logout' %}">
            Logout
          </a>
          {% endif %}

        </span>
      </div>
    </div>

    <div class="container {% if center_header %}pb2 pt4{% else %}pt6{% endif %}">

      {% if center_header %}
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
      {% endif %}

      {% block content_pre_heading %}{% endblock %}

      <h1 class="mt0 mb0">
        {% block content_heading %}
        {{ page.title }}
        {% endblock %}
      </h1>

      {% if page.sub_heading %}
        <p class="mt10 fs18">
          {{ page.sub_heading }}
        </p>
      {% endif %}

      {% if center_header %}
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
