{% extends "group_portal.html" %}

{% load bootstrap3 local_groups_tags %}

{% block page_title %}Our Revolution - Dashboard{% endblock %}

{% block content_pre_heading %}
<span class="article-type">Organizing Hub</span>
{% endblock %}

{% block content_heading %}
<a href="/groups/{{ group.slug }}">{{ group.name }}</a>
{% endblock %}

{% block content %}

<div class="container pt4">
  <div class="row">
      <div class="col-md-9 col-md-offset-3">

        {% bootstrap_messages %}

        <h3 class="mb20 mt0">
          Dashboard
        </h3>
      </div>
  </div>
</div>

<div class="container pb4">

  <div class="row">

      <div class="col-md-3">
        {% group_portal_nav %}
      </div>

      <div class="col-md-9">

        <ul class="card-list card-list-tools third">

          {% with link_text="Action Network" link_url="https://actionnetwork.org/" %}
          <li class="card clearfix">
            <a href="{{ link_url }}">
              <div class="card__content full">
                <div class="card__item bottom">
                {{ link_text }}
                </div>
              </div>
            </a>
          </li>
          {% endwith %}

          {% with link_text="Event Promotions" link_url="https://events.ourrevolution.com/" %}
          <li class="card clearfix">
            <a href="{{ link_url }}">
              <div class="card__content full">
                <div class="card__item bottom">
                {{ link_text }}
                </div>
              </div>
            </a>
          </li>
          {% endwith %}

          {% with link_text="Nominations Platform" link_url="https://ourrevolution.com/groups/nominations" %}
          <li class="card clearfix">
            <a href="{{ link_url }}">
              <div class="card__content full">
                <div class="card__item bottom">
                {{ link_text }}
                </div>
              </div>
            </a>
          </li>
          {% endwith %}

          {% with link_text="Phonebanking" link_url="http://ourrev.us/call" %}
          <li class="card clearfix">
            <a href="{{ link_url }}">
              <div class="card__content full">
                <div class="card__item bottom">
                {{ link_text }}
                </div>
              </div>
            </a>
          </li>
          {% endwith %}

          {% with link_text="Text for Our Revolution" link_url="http://ourrev.us/text" %}
          <li class="card clearfix">
            <a href="{{ link_url }}">
              <div class="card__content full">
                <div class="card__item bottom">
                {{ link_text }}
                </div>
              </div>
            </a>
          </li>
          {% endwith %}

          {% with link_text="Local Organizing Slack" link_url="http://ourrev.us/join-us-on-slack" %}
          <li class="card clearfix">
            <a href="{{ link_url }}">
              <div class="card__content full">
                <div class="card__item bottom">
                {{ link_text }}
                </div>
              </div>
            </a>
          </li>
          {% endwith %}

        </ul>

        <div class="pt2">
          {% comment "Will reactivate when side-nav fleshed out" %}
            <p>
              You can browse the full suite of Our Revolution digital tools and
              organizing resources using the menu to the left.
            </p>
          {% endcomment %}

          <p>
            <strong>Need help?</strong> Visit our <strong><a href="/docs">documentation</a></strong>, or reach us at
            <strong><a href="mailto:organizing@ourrevolution.com">
              organizing@ourrevolution.com
            </a></strong>
          </p>
        </div>

      </div>
  </div>
</div>

{% endblock %}
