{% extends "pages/base_page.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="blue-bg plaid-bg white-text">    
  <div class="container pt4 pb4">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="fw7 mt0 mb0">Come Join Us on Slack!</h1>
        <p class="fs18">We're a small distributed team, and do a lot of our organizing on a
  				group chat application called Slack. It's free to use, super fun,
  				and we have a lot of exciting work we'd love to bring you in to
  				get involved with.</p>
          
        <p>You can <strong><a href="https://slack.com/is" target="_blank">learn more about Slack</a></strong>, or optionally <strong><a href="https://slack.com/downloads" target="_blank"> download the Slack app</a></strong> &mdash; then fill out this form, and we'll send you an invitation!</p>
      </div>
    </div>
  </div>
</div>

	<div class="container">
		<div class="col-md-8 col-md-offset-2 pt4 pb4">
			<form action="" method="post">
				{% csrf_token %}

				<div class="row">
					<div class="col-sm-6">
						{% bootstrap_field form.email %}
					</div>
          <div class="col-sm-6">
						{% bootstrap_field form.full_name %}
					</div>
					<div class="col-xs-12">
						{% bootstrap_field form.state %}
					</div>
				</div>

				{% buttons %}
					{% bootstrap_button "Request an Invite" button_type="submit" button_class="btn-primary btn-block uppercase ls2 mt20" %}
				{% endbuttons %}

			</form>

		</div>
	</div>

{% endblock %}
