<div class="back-bar">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/groups/nominations/dashboard">Dashboard</a></li>
      <li><a href="/groups/nominations/application?id={{application.id}}">Application Status</a></li>
      <li><a href="/groups/nominations/nomination?id={{application.id}}">Nomination Form</a></li>
      <li><a href="/groups/nominations/questionnaire?id={{application.id}}">Candidate Questionnaire</a></li>
      {% if not application.status == 'submitted' %}
        <li><a href="/groups/nominations/submit?id={{application.id}}">Submit</a></li>
      {% endif %}
    </ol>
  </div>
</div>
