<div class="list-group">

  {% url 'groups-dashboard' as link_url %}
  <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
  href="{{ link_url }}">
  Dashboard
  </a>

  {% if request.user.is_authenticated %}

  {% if group %}

  {% url 'groups-manage' group.slug as link_url %}
  <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
  href="{{ link_url }}">
    Manage Group
  </a>

  {% endif %}

  {% url 'groups-password-change' as link_url %}
  <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
  href="{{ link_url }}">
    Change Password
  </a>

  {% endif %}

  <a class="list-group-item {% if organizing_guides_url == request.path %}active{% endif %}"
  href="{{ organizing_guides_url }}">
    Organizing Guides
  </a>

  <a class="list-group-item {% if organizing_docs_url == request.path %}active{% endif %}"
  href="{{ organizing_docs_url }}">
    Documentation
  </a>

</div>
