<div class="list-group">

  {% url 'groups-dashboard' as link_url %}
  <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
  href="{{ link_url }}">
  Dashboard
  </a>

  {% if group %}

  {% url 'groups-manage' group.slug as link_url %}
  <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
  href="{{ link_url }}">
    Manage Group
  </a>

  {% url 'groups-event-create' as link_url %}
  <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
  href="{{ link_url }}">
    Create Event
  </a>

  {% endif %}

  <a class="list-group-item {% if organizing_guides_url == request.path %}active{% endif %}"
  href="{{ organizing_guides_url }}">
  Organizing Guides
  </a>

  <a class="list-group-item {% if organizing_docs_url == request.path %}active{% endif %}" href="{{ organizing_docs_url }}">
    Documentation
  </a>
</div>
