<div class="list-group">
  {% url 'groups-dashboard' as link_url %}
  <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
  href="{{ link_url }}">
  Dashboard
  </a>
  {% if group %}
    {% url 'groups-manage' group.slug as link_url %}
    <a class="list-group-item {% if link_url == request.path %}active{% endif %}"
    href="{{ link_url }}">
      Manage Group
    </a>
  {% endif %}

  <a class="list-group-item {% if organizing_guides_url == request.path %}active{% endif %}"
  href="{{ organizing_guides_url }}">
  Organizing Guides
  </a>

</div>
