{# if static_content is true show only static content for cached pages #}

{% load organizing_hub_tags %}

<div id="organizing-hub-header" class="blue-bg white-text">

  <div class="container-fluid back-bar">
    <div class="row ">
      <div class="col-xs-12">

        <div class="container">
          <div class="row ">
            <div class="col-xs-12">

              <div class="pull-right uppercase">

                <a href="{% organizing_hub_dashboard_url %}">Organizing Hub</a>

                {% if not static_content and request.user.is_authenticated %}
                | <a href="{% url 'groups-logout' %}">Logout</a>
                {% endif %}

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
