{# static version of organizing hub header nav for cached pages #}

<div id="organizing-hub-header" class="blue-bg white-text">

  <div class="container-fluid back-bar">
    <div class="row ">
      <div class="col-xs-12">

        <div class="container">
          <div class="row ">
            <div class="col-xs-12">

              <div class="pull-right uppercase">
                <a href="{% url 'groups-dashboard' %}">Organizing Hub</a>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
