{% load bootstrap3 %}

    <div>
        {% if request.user.is_authenticated %}
            <p>
              You are currently logged in as: <strong>{{ request.user.get_username }}</strong>
            </p>
            <p>
              <a href="{% url 'logout' %}?next={{ request.path | urlencode }}">Logout</a>
            </p>
          {% else %}

          <p class="lead">Login with BSD/Events Platform email and password:</p>
            <form action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}" method="post">

                {% csrf_token %}

                {% bootstrap_label "Email" %}
                {% bootstrap_field form.username layout="inline" %}
                {% bootstrap_form form exclude="username" %}

                {% buttons %}
                    {% bootstrap_button "Log In" button_type="submit" button_class="btn-primary btn-block mt1" %}
                {% endbuttons %}


            </form>
          {% endif %}
    </div>
