{% extends "pages/base_page.html" %}

{% load bootstrap3 %}

{% block page_title %}Our Revolution Nominations - Select Questionnaire{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">
    <div class="back-bar clearfix">
      <div class="container clearfix">

        <span class="pull-left">
          <a href="{% url 'nominations-candidate-dashboard' %}">
            &lsaquo; Back
          </a>
        </span>

        <span class="pull-right">
          {{request.session.profile.email}} |
          <strong><a href="/groups/nominations/logout"> Logout</a></strong>
        </span>

      </div>
    </div>

    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="mb0 mt0">
          Select Candidate Questionnaire
        </h1>
      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">

        {% bootstrap_messages %}

        <h3 class="mt0">
          {{ application }}
        </h3>

        <p>
          Congratulations on receiving an endorsement nomination from a local
          Our Revolution group!
        </p>

        <p>
          <strong>
            You have already completed a candidate questionnaire in the past.
            Please select a completed questionnaire to submit for the current
            nomination if it is for the same office and election.
          </strong>
        </p>

        <p>
          If the current nomination is for a different campaign, then please
          submit a new questionnaire.
        </p>

        <h4 class="mt20">Completed Questionnaires</h4>

        <div class="panel panel-default mt20">

          <table class="table table-condensed table-hover table-striped ">

            <thead>
              <tr>
                <th>Group</th>
                <th>Office</th>
                <th>Election</th>
                <th></th>
              </tr>
            </thead>

            <tbody>

              {% for app in applications %}
                <tr>
                  <td>{{ app.group.name }}</td>
                  <td>{{ app.questionnaire.candidate_office }}</td>
                  <td>{{ app.questionnaire.general_election_date|date:"Y" }}</td>

                  <td>
                    <form action="{% url 'nominations-candidate-questionnaire-select' application.id app.questionnaire.id %}"
                    class="form form-inline inline-block" method="post">

                      {% csrf_token %}

                      <button class="btn btn-primary btn-sm" type="submit">
                        Select
                      </button>

                    </form>
                  </td>

                </tr>
              {% endfor %}

            </tbody>

          </table>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
