{% extends "pages/base_page.html" %}

{% load bootstrap3 %}

{% block page_title %}Our Revolution Nominations - Select Questionnaire{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">
    <div class="back-bar clearfix">
      <div class="container clearfix">

        <span class="pull-left">
          <a href="{% url 'nominations-candidate-dashboard' %}">
            &lsaquo; Back
          </a>
        </span>

        <span class="pull-right">
          {{request.session.profile.email}} |
          <strong><a href="/groups/nominations/logout"> Logout</a></strong>
        </span>

      </div>
    </div>

    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="mb0 mt0">Select Questionnaire</h1>
      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">

        {% bootstrap_messages %}

        <p>
          We see you have already submitted a candidate questionnaire in the
          past. Would you like to reuse an existing questionnaire and submit it
          for the current application: <strong>{{ application }}</strong>?
        </p>

        <p>
          Only select an existing questionnaire if it is for the same campaign.
          If this is a different office or election, then please submit a new
          questionnaire.
        </p>

        <h4 class="mt20">Completed Questionnaires</h4>

        <div class="panel panel-default mt20">

          <table class="table table-striped table-hover">

            <thead>
              <tr>
                <th>Application</th>
                <th>Office</th>
                <th>General Election Date</th>
                <th></th>
              </tr>
            </thead>

            <tbody>

              {% for app in applications %}
                <tr>
                  <td>{{ app }}</td>
                  <td>{{ app.questionnaire.candidate_office }}</td>
                  <td>{{ app.questionnaire.general_election_date }}</td>
                  <td>
                    <a href="/groups/nominations/candidate/questionnaire?id={{app.id}}"
                    class="pull-right btn btn-primary uppercase ls2">
                      Select
                    </a>
                  </td>
                </tr>
              {% endfor %}

            </tbody>

          </table>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
