{% extends "pages/base_page.html" %}

{% load bootstrap3 %}

{% block page_title %}Our Revolution Nominations - Dashboard{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">
    <div class="back-bar clearfix">
      <div class="container clearfix">
        <span class="pull-right">{{request.session.profile.email}} | <strong><a href="/groups/nominations/logout"> Logout</a></strong></span>
      </div>
    </div>

    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <span class="article-type">Candidate Questionnaire Dashboard</span>
        <h1 class="mb0 mt0">Manage your questionnaires</h1>
      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        {% bootstrap_messages %}

        {% if applications %}
          <h4 class="mt20">My Questionnaires</h4>

          <div class="panel panel-default mt20">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Application</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                {% for app in applications %}
                  <tr>
                    <td>{{app}}</td>
                    <td>{{app.questionnaire.get_status_display}}</td>
                    <td><a href="/groups/nominations/candidate/questionnaire?id={{app.id}}" class="pull-right btn btn-default uppercase ls2">{% if app.questionnaire.status == 'complete' %}View{% else %}Edit{% endif %}</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p class="fs18 mt20 text-center pa20 br3 f5f5f5-bg">You have not recieved any candidate questionnaires. Make sure that you have signed in with the email that your nomination notification was submitted to.</p>

          <p class="mt20 text-center"><strong>Questions?</strong> Let us know at <a href="mailto:info@ourrevolution.com">info@ourrevolution.com</a></p>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
