{% extends "candidate/candidate_portal.html" %}

{% load bootstrap3 %}

{% block page_title %}Our Revolution - Candidate Dashboard{% endblock %}

{% block content %}

{{ block.super }}

<div class="container-fluid">

  <div class="row blue-bg white-text pb2">
    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="mb0 mt0">Candidate Dashboard</h1>
      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">

        {% bootstrap_messages %}

        <p>
          This page is for candidates to manage their questionnaires. If you
          are a local group then go to the
          <a href="{% url 'nominations-dashboard' %}">Nominations Dashboard</a>.
        </p>

        <p>
          To access your candidate questionnaire, make sure you sign in with
          the same email address that the local group nomination was sent to.
        </p>

        {% if applications %}

        <h3 class="mt20">Manage your questionnaires</h3>

          <div class="panel panel-default mt20">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Application</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                {% for app in applications %}
                  <tr>
                    <td>{{app}}</td>
                    <td>{{app.questionnaire.get_status_display}}</td>

                    <td>

                      {% if app.questionnaire.status == 'complete' %}

                      <a href="{% url 'nominations-candidate-questionnaire' app.id %}"
                      class="pull-right btn btn-primary uppercase ls2">
                        View
                      </a>

                      {% else %}

                      <a href="{% url 'nominations-candidate-questionnaire-select' app.id %}"
                      class="pull-right btn btn-success uppercase ls2">
                        Edit
                      </a>

                      {% endif %}

                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        {% else %}

        <p class="fs18 mt20 text-center pa20 br3 f5f5f5-bg">
          You have not received any candidate questionnaires.
        </p>

        {% endif %}

        <hr />

        <p>
          <strong>Questions?</strong> Let us know at
          <a href="mailto:info@ourrevolution.com">info@ourrevolution.com</a>
        </p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
