{% extends "pages/base_page.html" %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block page_title %}Our Revolution - Nominate a Candidate or Ballot Initiative{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pb3">
    <div class="back-bar clearfix">
      <div class="container clearfix">
        <span class="pull-left"><a href="/groups/nominations/candidate/dashboard">&lsaquo; Back</a></span>
      </div>
    </div>
    <div class="container pt3">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="mb0 mt0">Candidate Questionnaire</h1>
        <p class="fs18">Congratulations on receiving an endorsement nomination from a local Our Revolution group! In order for Our Revolution to consider your candidacy for a national endorsement, you must fill out and submit the following questionnaire.</p>

        <p class="fs18">Note, the office you are seeking may not have jurisdiction over some of these issues. Please completely fill out the entire questionnaire as they will be used to determine how aligned you are with our national platform.</p>

        <p class="fs18"><strong>Please keep in mind that the following factors will be considered essential for consideration of a national endorsement:</strong></p>

        <div class="pa20 br3 light-wash clearfix mb20">
          <ol class="fs18">
            <li><strong>Values:</strong> How aligned is the candidate with Our Revolution’s values?</li>

            <li><strong>Pathway:</strong> Our Revolution does not expect all our candidates will win - sometimes we know they won’t. But we want candidates to demonstrate that they have thought about how they would win. This thought exercise is called "a pathway to victory," we want you to think about what steps you can take to win the race by reaching out to voters and allies.</li>

            <li><strong>Group and Allies Support:</strong> We know strong candidates are ones that are leaders in their communities. Good leaders will have support of not only the Our Revolution groups in the area, but allies of our organization. While only Our Revolution decides who we endorse, we do examine if a campaign can garner support of groups if there is more than one and partners as well.</li>

            <li><strong>Fundraising and Origin of Candidate’s Campaign Contributions:</strong> Does the candidate have the ability to raise money to make him/her/them competitive without having to compromise their values?</li>
          </ol>
        </div>

        <p class="pa20 br3 light-wash"><strong>Note:</strong> Answers provided in the candidate questionnaire will be considered official campaign responses and made public. Fields marked * are required, and each question has a 1000 character limit.</p>
      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% if not questionnaire.status == 'complete' %}

          <p class="fs-sm">
            I agree that I will truthfully answer the questions on the
            candidate questionnaire and that my answers accurately reflect
            the positions of my campaign. I understand that I cannot go
            back and edit these answers after I have submitted this
            questionnaire.
          </p>

            <form action="" method="POST" class="row">
              {{ formset.management_form|crispy }}

              {% crispy form %}

              <div class="col-md-12">

                <h3>Platform Questions</h3>

                {% for form in formset %}
                  {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %}
                  <div class="form-group pa20 br3 f5f5f5-bg">
                    <label class="control-label pa20 br3 white-bg mb20 fs16 block" required>{{forloop.counter}}. {{form.instance.question.text}}*</label>
                    {% crispy form helper %}
                  </div>
                {% endfor %}
                <button type='submit' value='Submit' class='btn btn-block btn-success uppercase ls2'>Next</button>
              </div>
            </form>
          {% else %}

          {% include 'partials/questionnaire_view.html' %}

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// TODO: implement this on server side in a non janky way
// we don't want the response field on question 23 but it's required

$(document).ready(function(){
  $('#id_questions-23-response').val("a")
  $('#div_id_questions-23-response').hide()
});
</script>

{% endblock %}
