// Admin styles

#result_list {
  $padding: 2px;

  th, td {
    font-size: 12px;
    padding: $padding;
  }

  thead th {
    font-size: 11px;

    &.sorted {

      .sortoptions {
        padding: $padding $padding 0;
      }

      .text {
        padding-right: 40px;
      }
    }

    .text {
      a, span {
        padding: $padding;
      }
    }
  }
}
