{% extends "pages/base_page.html" %}

{% load bootstrap3 nominations_tags %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block page_title %}Nominate a Candidate or Ballot Initiative{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">
    <div class="back-bar clearfix">
      <div class="container clearfix">
        <span class="pull-left"><a href="/groups/nominations/dashboard?c=1">&lsaquo; Dashboard</a></span>
        <span class="pull-right">{{user.email}} | <strong><a href="/groups/nominations/logout"> Logout</a></strong></span>
      </div>
    </div>

    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="mb0 mt0">Start a new endorsement application</h1>
        <p class="fs18">All Our Revolution endorsements are based on the input from those that live in the community. An Our Revolution endorsement begins with a recommendation from one out of the hundreds of official Our Revolution local groups.</p>

        <p class="fs18">Official local groups have gone through our group onboarding process, signed our Memorandum of Understanding, and received a Group ID. To find or form a local group in your area, please <a href="/groups"><strong>visit our map</strong></a>.</p>

        <p class="fs18"><strong>To submit a new endorsement application, you’ll need your Group ID, some basic information about your group, contact information for one group representative, and information about the candidate or ballot initiative in question.</strong></p>
      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">

        {% nominations_platform_alert %}

        <h2>Endorsement Type</h2>
        <ul class="action-list">
          <li class="action-list__action col-md-6">
            <a class="action__link" href="/groups/nominations/new"><h1 class="mb0 mt0"><span class="glyphicon glyphicon-user pull-left"></span>Candidate</h1></a>
          </li>

          <li class="action-list__action col-md-6">
            <a class="action__link" href="/groups/nominations/initiatives/new"><h1 class="mb0 mt0"><span class="glyphicon glyphicon-file"></span>Ballot Initiative</h1></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
