{% extends "nominations_portal.html" %}

{% load bootstrap3 crispy_forms_tags django_bootstrap_breadcrumbs nominations_tags %}

{% crispy form form.helper %}

{% block page_title %}Our Revolution - Nominate a Candidate{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Start Application" "nominations-application-create" %}
{% endblock %}

{% block content %}

{{ block.super }}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">

    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="mb0 mt0">Start a new application</h1>
        <p class="fs18">
          <strong>
            To start a new candidate endorsement application, you’ll need some
            basic information about your group and contact information for one
            group representative.
          </strong>
        </p>
      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">

        {% nominations_platform_alert %}

        <h2>{{ local_group.name }}</h2>

        <p class="fs-sm">
          As an official Our Revolution Group, you are in the unique position
          of nominating candidates for a National Our Revolution endorsement.
          Throughout your process, the core Our Revolution values of
          democracy and inclusivity are fully embraced.
        </p>

        <p class="fs-sm">
          <strong>
            By submitting this nomination, your Our Revolution Group
            guarantees that:
          </strong>
        </p>

        <ol class="fs-sm">
          <li>
            All members of the Group were given an unobstructed opportunity
            to weigh in on the nomination.
          </li>
          <li>
            A majority of people in the group support the nominated candidate
            over any other candidates in the election.
          </li>
          <li>
            There is significant support for the candidate and the Group is
            committed to aiding the progressive champion to victory.
          </li>
        </ol>

        {% crispy form %}

      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){

    $('#agree_field').change(function(){
      if(this.checked) {
        $('#submit_button').removeClass('disabled');
      } else {
        $('#submit_button').addClass('disabled');
      }
    });

  });
</script>

{% endblock %}
