{% extends "pages/base_page.html" %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block page_title %}Our Revolution - Nominate a Candidate or Ballot Initiative{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">
    {% include 'partials/status_bar.html' with active='status' %}
    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <span class="article-type">Application</span>
        <h1 class="mb0 mt0">{{application}}</h1>
        <p class="fs18">To submit your group’s candidate for nomination, complete the following steps. Don’t worry if you can’t do it all in one sitting - we’ll save your progress after each step.</p>
      </div>
    </div>
  </div>
  
  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 clearfix">   
        <div class="panel panel-default">
        <!-- Default panel contents -->
          <div class="panel-heading"><h2 class="mb0 mt0">Application Status</h2></div>

          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-check"></span> 1. Start an Application</li>
            <li class="list-group-item"><a href="/groups/nominations/nomination?id={{application.id}}"><span class="glyphicon {% if application.nomination.status == 'complete' %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> 2. Complete the group nomination form</a></li>
            <li class="list-group-item"><a href="/groups/nominations/questionnaire?id={{application.id}}"><span class="glyphicon {% if application.questionnaire.status == 'complete' %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> 3. Have your candidate fill out the candidate questionaire</a></li>
            
            {% if application.status == 'incomplete' %}
              <li class="list-group-item"><a href="/groups/nominations/submit?id={{application.id}}"><span class="glyphicon {% if application.status == 'submitted' %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> 4. Submit your nomination</a></li>
            {% else %}  
              <li class="list-group-item"><span class="glyphicon glyphicon-check"></span> 4. Submit your nomination</li>
            {% endif %}
            <li class="list-group-item"><span class="glyphicon glyphicon-unchecked"></span> 5. Receive a response from Our Revolution National</li>
          </ul>
        </div>
      
        {% if application.status != 'submitted' %}
          <a href="/groups/nominations/nomination?id={{application.id}}" class="btn btn-primary btn-block uppercase ls2">Next Step</a>
        {% endif %}
      
      </div>
    </div>
  </div>
</div>

{% endblock %}
