{% extends "nominations_portal.html" %}

{% load bootstrap3 crispy_forms_tags django_bootstrap_breadcrumbs %}

{% crispy form form.helper %}

{% block page_title %}Our Revolution - Application Status{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Application Status" request.get_full_path %}
{% endblock %}

{% block content %}

{{ block.super }}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">

    {% include 'partials/status_bar.html' with active='status' %}

    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <span class="article-type">Application</span>
        <h1 class="mb0 mt0">{{application}}</h1>
        <p class="fs18">To submit your group’s candidate for nomination, complete the following steps. Don’t worry if you can’t do it all in one sitting - we’ll save your progress after each step.</p>
      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 clearfix">
        <div class="panel panel-default">
        <!-- Default panel contents -->
          <div class="panel-heading"><h2 class="mb0 mt0">Application Status</h2></div>

          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-check"></span> 1. Start an Application</li>
            <li class="list-group-item"><a href="/groups/nominations/nomination?id={{application.id}}"><span class="glyphicon {% if application.nomination.status == 'complete' %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> 2. Complete the group nomination form</a></li>
            <li class="list-group-item"><a href="/groups/nominations/questionnaire?id={{application.id}}"><span class="glyphicon {% if application.questionnaire.status == 'complete' %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> 3. Have your candidate fill out the candidate questionaire</a></li>
          </ul>
        </div>

        {% if application.is_editable %}
          <a href="/groups/nominations/nomination?id={{application.id}}" class="btn btn-success btn-block uppercase ls2">Next Step</a>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
