{% extends "pages/base_page.html" %}

{% load bootstrap3 %}

{% block page_title %}Our Revolution - Candidate Questionnaire Sent{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1>You've sent the candidate our questionnaire.</h1>
      </div>
    </div>
  </div>
  
  <div class="row pt4 pb4">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">  
        <div class="pa20 br3 f5f5f5-bg">
          <p class="fs18"><strong>You've just sent your nominated candidate our platform questionnaire.</strong> We'll send you an email when they're done filling it out so you can review and submit your application.</p>
            
          <p class="fs18">You can also check the status of the questionnaire in your nominations dashboard.</p>
        </div>
        
        <a href="/groups/nominations/dashboard?c=1" class="btn btn-block btn-primary ls2 uppercase mt20">Back to the Dashboard</a>
        
        <p class="mt20"><strong>Having trouble?</strong> Contact us at <a href="mailto:info@ourrevolution.com">info@ourrevolution.com</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
