{% extends "nominations_portal.html" %}

{% load django_bootstrap_breadcrumbs nominations_tags %}

{% block page_title %}Our Revolution - Nominations{% endblock %}

{% block content %}

{{ block.super }}

<div class="container-fluid">
  <div class="row blue-bg nina-bg white-text pb4">

    <div class="container pt2">
      <div class="col-md-12">
        {% nominations_platform_alert %}
      </div>

      <div class="col-md-6">
        <h1 class="mb0">Nominate a Candidate or Ballot Initiative</h1>

        <div class="fs18">
          <p>Our Revolution is made up of hundreds of local groups all across the world, and all of our endorsements must first originate with a nomination from an official group.</p>

          <p>Get started submitting your group’s nomination now, or learn more about our nomination process below.</p>
        </div>

        <div class="mt20 mb20">
          <a class="btn btn-success ls2 uppercase"
          href="{% url 'nominations-dashboard' %}">
            Get Started
          </a>
          <a class="btn btn-dark ls2 uppercase" href="#learn-more" data-scroll>Learn More <span class="glyphicon glyphicon-chevron-down"></span></a>
        </div>

        <p><small>Not part of a group? <a href="/groups"><strong>Find or form one today.</strong></a></small></p>
      </div>
    </div>
  </div>

  <div class="container pt2 pb2" id="learn-more">
    <div class="col-md-6">
      <h2>Our Nomination Process</h2>

      <p>Our Revolution seeks to empower the next generation of progressive leaders by inspiring and supporting progressive candidates to run for offices across the entire spectrum of government. From school boards to congressional seats, a new generation of political leaders, dedicated to transforming America’s corrupt campaign finance system and rigged economy, will be elected into office.</p>

      <p>In order to transform our country, we need everyone - progressive activists, women of color, immigrants, Native Americans, religious minorities, working class americans, and members of marginalized communities - to be elected into office at all levels.</p>

      <p>We value the power of local grassroots organizing and because of that, only candidates or initiatives that have been nominated by local Our Revolution groups, or strategically identified by OR staff and supported by the local group, will be considered for an Our Revolution national endorsement.</p>
    </div>

    <div class="col-md-6">
      <div class="pa20 f5f5f5-bg br3 mt20 mb20 fs18">
        <ol>
          <li>Complete a nomination form for your candidate or initiative</li>
          <li>If a candidate endorsement, have your candidate fill out our candidate questionnaire</li>
          <li>Submit the nomination</li>
        </ol>
      </div>

      <a href="{% url 'nominations-dashboard' %}"
      class="btn btn-success btn-block ls2 uppercase mb20">
        Get Started
      </a>

      <p><small>Not part of a group? <a href="/groups/new">Find or form one today.</a></small></p>
    </div>
  </div>

  <div class="row f5f5f5-bg pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h2>Our Revolution will provide leaders inspired by the political revolution with the following resources on a race-by-race basis.</h2>

        <ul class="fs18 col-md-10 col-md-offset-1 lst0 mt20">
          <li class="pa20 br3 white-bg mb20"><i class="glyphicon glyphicon-usd mr20"></i>Grassroots Fundraising</li>
          <li class="pa20 br3 white-bg mb20"><i class="glyphicon glyphicon-phone mr20 "></i>GOTV Texting</li>
          <li class="pa20 br3 white-bg mb20"><i class="glyphicon glyphicon-earphone mr20"></i>Phonebanking</li>
          <li class="pa20 br3 white-bg mb20"><i class="glyphicon glyphicon-bullhorn mr20"></i>Grassroots Support</li>
          <li class="pa20 br3 white-bg mb20"><i class="glyphicon glyphicon-comment mr20"></i>Promotion Through Web and Social</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container pb2 pt2">
    <div class="col-md-8 col-md-offset-2">
      <h2>To be considered for an endorsement, candidates must meet the following criteria:</h2>
      <ul class="fs18 mt20 mb20">
        <li>Receive a nomination from an Our Revolution group, including its members. Please visit our <a href="/groups">local groups map</a> to locate an Our Revolution group near you.</li>
        <li>If there is no local group in your race location, email your complete candidate questionnaire to <a href="mailto:political@ourrevolution.com">political@ourrevolution.com</a>. Members of Our Revolution in the area will be surveyed to assess the level of local support for the race.</li>
        <li>Be willing to run a grassroots powered campaign.</li>
        <li>Agree with the Our Revolution <a href="/issues">platform</a>.</li>
        <li>Run a positive campaign.</li>
        <li>Reject money from corporate interests.</li>
      </ul>

      <p><strong>Note:</strong> Nominations submitted less than 30 days before the election are unlikely to be considered.</p>
    </div>
  </div>

  <div class="row f5f5f5-bg pt2 pb2">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <h2>Nominate a Candidate Today</h2>
        <div class="pa20 white-bg br3 mb20 fs18">
          <ol>
            <li>Complete a nomination form for your candidate or initiative</li>
            <li>If a candidate endorsement, have your candidate fill out our candidate questionnaire</li>
            <li>Submit the nomination</li>
          </ol>
        </div>

        <a href="{% url 'nominations-dashboard' %}"
        class="btn btn-success btn-block ls2 uppercase mb20">
          Get Started
        </a>

        <p><small>Not part of a group? <a href="/groups">Find or form one today.</a></small></p>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var scroll = new SmoothScroll('a[data-scroll]');
  });
</script>

{% endblock %}
