{% extends "pages/base_page.html" %}

{% block page_title %}Nominate a Candidate or Ballot Initiative{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="container">
    <h1>Start a new nomination.</h1>
    <p>Our Revolution endorsements are made from the recommendations of our hundreds of official local groups across the world. Official local groups are groups that have gone through group onboarding, have signed the Memorandum of Understanding, and have received a Group ID.</p>

    <p>To start a new endorsement application, you’ll need your Group ID, some basic information about your group, and contact information for one group representative.</p>

    <p>Don’t have a Group ID or need help becoming an official Our Revolution group?</p>
  </div>
</div>

{% endblock %}
