{% extends "nominations_portal.html" %}

{% load bootstrap3 crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block page_title %}Our Revolution - Nomination Form{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Nomination Form" request.get_full_path %}
{% endblock %}

{% block content %}

{{ block.super }}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">
    {% include 'partials/status_bar.html' with active='nomination' %}
    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="mb0 mt0">Nomination Form</h1>
        <p class="fs18">The nomination form should be filled out by your group detailing why you are nominating this candidate, what makes this candidate a progressive champion, and why a national endorsement is necessary.

        <p class="pa20 br3 light-wash">Fields marked * are required, and each question has a 1000 character limit.</p>
      </div>
    </div>
  </div>


    <div class="row pt2 pb2">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">

          {% bootstrap_messages %}

          {% if application.is_editable %}

          <div class="panel panel-default">
            <div class="panel-body">

              <p>
                <strong>
                  If you are requesting Priority Support then make sure you
                  <a href="{% url 'nominations-priority-support' application.id %}">fill
                    out the Priority Support form first</a> before you proceed.
                </strong>
              </p>

              <p>
                Otherwise fill out the form below.
              </p>

            </div>
          </div>

          <hr />

            <form action="" method="POST">
              {{ formset.management_form|crispy }}
              {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                <div class="form-group pa20 br3 f5f5f5-bg mb20 pb0">
                  <label class="control-label fs16" required>{{forloop.counter}}. {{form.instance.question.text}}*</label>
                  {% crispy form helper %}
                </div>
              {% endfor %}
              <div class="pa20 br3 f5f5f5-bg mb20 pb ">
                {% crispy form %}
              </div>

              <button type='submit' value='submit' class="btn btn-block btn-success uppercase ls2">Save</button>
            </form>
          {% else %}
            {{ formset.management_form|crispy }}
            {% for form in formset %}
              <div class="form-group pa20 br3 f5f5f5-bg mb20 pb0">
                <label class="control-label fs16" required>{{forloop.counter}}. {{form.instance.question.text}}*</label>
                <p class="pa20 br3 white-bg mt20">{{form.instance.response}}</p>
              </div>
            {% endfor %}
            <div class="form-group pa20 br3 f5f5f5-bg mb20 pb0">
              <label class="control-label fs16" required>{{form.group_nomination_process.label}}*</label>
              <p class="pa20 br3 white-bg mt20">{{form.group_nomination_process.value}}</p>
            </div>

            <a href="/groups/nominations/questionnaire?id={{application.id}}" class="btn btn-block btn-success uppercase ls2">Next</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
