{% extends "nominations_portal.html" %}

{% load bootstrap3 crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block page_title %}Our Revolution - Priority Support Form{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Priority Support Form" request.get_full_path %}
{% endblock %}

{% block content %}

{{ block.super }}

<div class="blue-bg white-text pb2">

  {% include 'partials/status_bar.html' %}

  <div class="container pt2">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h1 class="mb0 mt0">
          Priority Support Form
        </h1>

      </div>
    </div>
  </div>

</div>

<div class="pt2 pb2">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        {% bootstrap_messages %}

        <div class="panel panel-default">
          <div class="panel-body">

            <p>
              <strong>
                If you are requesting Priority Support then please fill out the
                form below.
              </strong>
            </p>

            <p>
              Otherwise for Basic Support only, you can
              <a href="{% url 'nominations-nomination-edit' %}?id={{ application.id }}">skip
                this and go straight to the next step</a>.
            </p>

          </div>
        </div>

        <hr />

        <h2 class="mb20">
          {{ application.candidate_first_name }}
          {{ application.candidate_last_name }} -
          {{ application.candidate_office }}
        </h2>

        <form action="{% url 'nominations-priority-support' application.id %}"
        method="post" class="form mb20">

          {% csrf_token %}

          <div class="row">

            <div class="col-md-12">
              {% bootstrap_field form.vol_polling %}
            </div>

            <div class="col-md-12">
              {% bootstrap_field form.vol_endorsements %}
            </div>

            <div class="col-md-12">
              {% bootstrap_field form.stand_out_information %}
            </div>

            <div class="col-md-12">
              {% bootstrap_field form.state_of_the_race %}
            </div>

            <div class="col-md-6">
              {% bootstrap_field form.vol_turnout %}
            </div>

          </div>

          <h3>All Candidates</h3>

          <p>
            Enter all the candidates in the race, including the candidate
            you are nominating.
          </p>

          {{ application_candidate_form.management_form }}
          {{ application_candidate_form.non_form_errors }}

          {% for ac_form in application_candidate_form %}

          {% for hidden in ac_form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          <div class="row">

          <div class="col-md-4">
            {% bootstrap_field ac_form.first_name %}
          </div>

          <div class="col-md-4">
            {% bootstrap_field ac_form.last_name %}
          </div>

          <div class="col-md-4">
            {% bootstrap_field ac_form.party %}
          </div>

          <div class="col-md-4">
            {% bootstrap_field ac_form.fundraising %}
          </div>

          <div class="col-md-4">
            {% bootstrap_field ac_form.website_url %}
          </div>

          <div class="col-md-4">
            {% bootstrap_field ac_form.description %}
          </div>

        </div>

          <hr />

          {% endfor %}

          <button type="submit"
          class="btn btn-success btn-block uppercase ls2">
            Save
          </button>

        </form>

      </div>

    </div>

  </div>

</div>

{% endblock %}
