{% extends "nominations_portal.html" %}

{% load bootstrap3 crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block page_title %}Our Revolution - Candidate Questionnaire{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Candidate Questionnaire" request.get_full_path %}
{% endblock %}

{% block content %}

{{ block.super }}

<div class="container-fluid">

  <div class="row blue-bg white-text pb2">

    {% include 'partials/status_bar.html' with active='nomination' %}

    <div class="container pt2">

      <div class="col-md-8 col-md-offset-2">

        <h1 class="mb0 mt0">Candidate Questionnaire</h1>

        <p class="fs18">
          The candidate questionnaire should be filled out by the candidate for
          the group’s consideration, but if you're having trouble getting in
          touch your group may fill it out on behalf of the candidate.
        </p>

        <p class="fs18">
          To complete the candidate questionnaire, provide some basic
          information about the candidate and answer the following 24 questions
          on the candidate's platform.
        </p>

        <p class="pa20 br3 light-wash">
          <strong>
            Answers provided in the candidate questionnaire will be considered
            official campaign responses and made public. Fields marked * are
            required, and each question has a 1000 character limit.
          </strong>
        </p>
      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          {% if not questionnaire.status == 'complete' %}
          <div class="alert alert-danger br3">
            <strong>Note:</strong> We strongly recommend having the candidate
            fill out this form because their level of alignment with our
            national platform is an important factor in our endorsement
            decision. You can send this form to the candidate
            <a href="/groups/nominations/questionnaire/?id={{application.id}}">here</a>.
          </div>
          {% endif %}

          {% if questionnaire.status == 'complete' %}

          {% include 'partials/questionnaire_view.html' %}

          {% elif questionnaire.status == 'sent' %}

            <div class="col-md-12 text-center fs18 pa20 br3 f5f5f5-bg mb20">
              <p>
                You've sent the candidate questionnaire to
                <strong>{{application.authorized_email}}</strong> - we'll
                notify you at <strong>{{application.rep_email}}</strong> when
                the candidate has completed it.
              </p>
            </div>

            <p class="mt20 text-center">
              <strong>Having trouble?</strong> Contact us at
              <a href="mailto:info@ourrevolution.com">info@ourrevolution.com</a>.
            </p>

          {% else %}

          {% include 'partials/questionnaire_form.html' %}

          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
