{% extends "pages/base_page.html" %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block page_title %}Our Revolution - Nominate a Candidate or Ballot Initiative{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">
    {% include 'partials/status_bar.html' with active='nomination' %}
    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <h1>Candidate Questionnaire</h1>
        <p></p>

        <p>* = required field</p>        
      </div>
    </div>
  </div>
  

    <div class="row pt2 pb2">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <form action="" method="POST">
            {{ formset.management_form|crispy }}
            {% for form in formset %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
              <div class="form-group">
                <label class="control-label" required>{{form.instance.question.text}}*</label>
                {% crispy form helper %}
              </div>
            {% endfor %}
            {% crispy form %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
