{% extends "nominations_portal.html" %}

{% load bootstrap3 crispy_forms_tags django_bootstrap_breadcrumbs %}

{% crispy form form.helper %}

{% block page_title %}Our Revolution - Candidate Questionnaire{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Candidate Questionnaire" request.get_full_path %}
{% endblock %}

{% block content %}

{{ block.super }}

<div>

  <div class="blue-bg white-text pb2">

    {% include 'partials/status_bar.html' with active='questionnaire' %}

    <div class="container pt2">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="mb0 mt0">Candidate Questionnaire</h1>
        </div>
      </div>
    </div>

  </div>

  <div class="pt2 pb2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 clearfix">

          <h3 class="mb40 mt0">
            {{ application }}
          </h3>

          {% if application.is_editable %}

            {% if application.questionnaire.status == 'complete' %}

              <a href="/groups/nominations/questionnaire/edit?id={{application.id}}" class="btn btn-primary btn-block uppercase ls2">View Questionnaire</a>

            {% elif not application.questionnaire.status == 'sent' %}

            {% if applications_complete %}

            <section class="mb40">

              <h4>
                Select Completed Candidate Questionnaire
              </h4>

              <p>
                If the candidate has already completed a questionnaire
                for the same campaign, then please select the matching
                questionnaire here.
              </p>

              <p>
                If the current nomination is for a different candidate, office,
                or election, then do not select the old questionnaire.
              </p>

              <div class="panel panel-default mt20 mb40">

                <table class="table table-condensed table-hover table-striped">

                  <thead>
                    <tr>
                      <th>Questionnaire</th>
                      <th>Office</th>
                      <th>Election</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for app_complete in applications_complete %}
                      <tr>
                        <td>
                          {{ app_complete.group }} -
                          {{ app_complete.questionnaire.candidate_first_name }}
                          {{ app_complete.questionnaire.candidate_last_name }}
                        </td>
                        <td>
                          {{ app_complete.questionnaire.candidate_office }}
                        </td>
                        <td>
                          {{ app_complete.questionnaire.general_election_date|date:"Y" }}
                        </td>
                        <td class="text-right">
                          <form action="{% url 'nominations-questionnaire-select' application.id app_complete.id %}"
                          class="form form-inline inline-block" method="post">

                            {% csrf_token %}

                            <button class="btn btn-primary btn-sm uppercase"
                            type="submit">
                              Select
                            </button>

                          </form>
                        </td>

                      </tr>
                    {% endfor %}

                  </tbody>

                </table>

              </div>

            </section>

            <hr />

            {% endif %}

            <section class="mb40">

              <h4>
                {% if applications_complete %}- OR -{% endif %}
                Send Questionnaire to Candidate
              </h4>

              <p>
                The candidate questionnaire should be filled out by the candidate
                for the group’s consideration. Use the form below to send the
                questionnaire to the candidate and track its progress.
              </p>

              {% crispy form %}

            </section>

            <hr />

            <h4>
              - OR - Fill Out Candidate Questionnaire
            </h4>

            <p>
              Alternatively, if you’re having trouble getting in contact with
              the candidate, you may fill out this portion yourself.
            </p>

            <a href="/groups/nominations/questionnaire/edit?id={{application.id}}"
            class="btn btn-primary btn-block uppercase ls2">
              Fill Out Questionnaire
            </a>

            <p class="mt20">
              <strong>Note:</strong> We strongly recommend having the
              candidate fill out this form because their level of alignment
              with our national platform is an important factor in our
              endorsement decision.
            </p>

            {% else %}

              <div class="text-center fs18 pa20 br3 f5f5f5-bg mb20">
                <p>You've sent the candidate questionnaire to <strong>{{application.authorized_email}}</strong> - we'll notify you at <strong>{{application.rep_email}}</strong> when the candidate has completed it.</p>

                <p>If your candidate is having trouble with the nominations platform, you can resend the questionnaire or fill it out yourself on behalf of your candidate using the buttons below.</p>

                <a href="{% url 'nominations-questionnaire-reset' %}?id={{application.id}}&next={% url 'nominations-questionnaire' %}?id={{application.id}}" class="btn btn-success btn-block uppercase ls2">Resend questionnaire</a>
                <a href="{% url 'nominations-questionnaire-reset' %}?id={{application.id}}" class="btn btn-primary btn-block uppercase ls2">Fill out manually</a>
              </div>

              <p class="mt20 text-center"><strong>Having trouble?</strong> Contact us at <a href="mailto:info@ourrevolution.com">info@ourrevolution.com</a>.</p>

            {% endif %}

          {% else %}

            <a href="/groups/nominations/questionnaire/edit?id={{application.id}}" class="btn btn-primary btn-block uppercase ls2">View Questionnaire</a>

          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
