{% extends "nominations_portal.html" %}

{% load bootstrap3 %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block page_title %}Our Revolution - Verify Your Email Address{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">
    {% include 'partials/status_bar.html' with active='submit' %}
    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <h1>Submit your nomination request</h1>
      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 fs18">
        {% if application.is_editable %}
          {% if application.questionnaire.status != 'complete' or application.nomination.status != 'complete' %}
            <div class="alert alert-danger br3"><p>Please complete your nomination form and candidate questionnaire before submitting your application.</p></div>
          {% endif %}

          <p>As an official Our Revolution Group, you are in the unique position of nominating candidates for a National Our Revolution endorsement. Throughout your process, the core Our Revolution values of democracy and inclusivity are fully embraced.</p>

          <p><strong>By submitting this nomination, your Our Revolution Group guarantees that:</strong></p>

          <div class="pa20 br3 f5f5f5-bg mb20">
            <ol>
              <li>All members of the Group were given an unobstructive opportunity to weigh in on the nomination.</li>
              <li>A majority of people in the group support the nominated candidate over any other candidates in the election.</li>
              <li>There is significant support for the candidate and the Group is committed to aiding the progressive champion to victory.</li>
            </ol>
          </div>

          {% if application.questionnaire.status == 'complete' and application.nomination.status == 'complete' %}
            {% crispy form %}
          {% else %}
            <button class="btn btn-primary btn-block disabled uppercase ls2">Submit</button>
          {% endif %}
        {% else %}
          <p>You've already submitted this application - we'll review it and be in touch.</p>
          <a href="/groups/nominations?id={{applicaiton.id}}" class="btn btn-primary btn-block uppercase ls2">Back to the Dashboard</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){

    $('#agree_field').change(function(){
      if(this.checked) {
        $('#submit_button').removeClass('disabled')
      } else {
        $('#submit_button').addClass('disabled')
      }
    });

  });
</script>

{% endblock %}
