{% extends "pages/base_page.html" %}

{% load bootstrap3 %}

{% block page_title %}Our Revolution - Verify Your Email Address{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <span class="article-type">Group Representative Login</span>
        <h1 class="mb0 mt0">Verify your email address</h1>
      </div>
    </div>
  </div>
  
  <div class="row pt4 pb4">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">                
        <p class="fs18 pa20 br3 f5f5f5-bg"><strong>We've sent a verification link to the email address you logged in with.</strong> After you've clicked it, you’ll be free to submit new endorsement applications and manage any existing applications on behalf of your group.</p>

        <p class="mt20">If you don’t receive an email within the next 30 minutes and have verified it has not gone to spam, please email <a href="mailto:info@ourrevolution">info@ourrevolution</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
