{% extends "pages/base_page.html" %}

{% load bootstrap3 %}

{% block page_title %}Our Revolution - Verify Your Email Address{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1>Verify your email address.</h1>
      </div>
    </div>
  </div>
  
  <div class="row pt4 pb4">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">                
        <p class="fs18">We've sent a verification link to the email address you logged in with. After you've clicked it, you’ll be free to submit new endorsement applications and manage any existing applications.</p>

        <p class="fs18">If you don’t receive an email and have verified it has not gone to spam, please email <a href="mailto:info@ourrevolution">info@ourrevolution</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
