{% extends "organizing_hub_layout.html" %}

{% load bootstrap3 organizing_hub_tags %}

{% block page_title %}Our Revolution - Organizing Hub Dashboard{% endblock %}

{% block content_heading %}
Organizing Hub Dashboard
{% endblock %}

{% block content %}

{{ block.super }}

<div class="container pt4">
  <div class="row">
      <div class="col-md-9 col-md-offset-3">

        {% bootstrap_messages %}

      </div>
  </div>
</div>

<div class="container pb4">

  <div class="row">

      <div class="col-md-3">
        {% organizing_hub_nav %}
      </div>

      <div class="col-md-9">

        <ul class="card-list card-list-tools third">

          {% for block in page.body %}

          {# Check feature access. Make exception for Call Tool & Caller. #}

          {% if block.value.feature_access_required %}
          {% has_organizing_hub_feature_access block.value.feature_access_required as has_feature_access %}
          {% endif %}

          {% if not block.value.feature_access_required or has_feature_access or is_caller and block.value.feature_access_required == call_tool_feature_id|stringformat:"s" %}
          <li class="card clearfix">
            <a href="{{ block.value.url }}">
              <div class="card__content full">
                <div class="card__item bottom">
                {{ block.value.text }}
                </div>
              </div>
            </a>
          </li>
          {% endif %}

          {% endfor block %}

        </ul>

        <div class="pt2">
          {% comment "Will reactivate when side-nav fleshed out" %}
            <p>
              You can browse the full suite of Our Revolution digital tools and
              organizing resources using the menu to the left.
            </p>
          {% endcomment %}

          <p>
            <strong>Need help?</strong> Visit our
            <strong><a href="{% organizing_docs_url %}">documentation</a></strong>,
            or reach us at
            <strong><a href="mailto:{% organizing_email %}">{% organizing_email %}</a></strong>
          </p>
        </div>

      </div>
  </div>
</div>

{% endblock %}
