.ma0 {
  margin: 0 0 0 0; 
}

.mb0 {
  margin-bottom: 0;
}

.mt0 {
  margin-top: 0;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.pb2 {
  padding-bottom: 2em;
}

.pt2 {
  padding-top: 2em;
}

.pb3 {
  padding-bottom: 3em;
}

.pt3 {
  padding-top: 3em;
}

.pb4 {
  padding-bottom: 4em;
}

.pt4 {
  padding-top: 4em;
}

.pa20 {
  padding: 20px;
}

.blue-bg {
  background-color: $blue;
}

.fafafa-bg {
  background-color: #fafafa;
}

// .gray-bg {
//   background: #999;
// }

.dark-text {
  color: #333;
}

.white-text {
  color: white;
}

a.white-text {
  border-bottom: 1px solid white;
  
  &:hover, &:focus, &:visited, &:active {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
  }
}

.dark-blue-bg {
  background-color: darken($blue, 40);
}

.dark-wash {
  background-color: rgba(0,0,0,0.6);
}

.br3 {
  border-radius: 3px;
}

.no-border {
  border: 0;
}

.bs10 {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}

.ts3 {
  text-shadow: 0 0 3px rgba(0,0,0,1);
}

.nowrap {
  white-space: nowrap;
}

.ls2 {
  letter-spacing: 2px;
}

.fs3 {
  font-size: 3em;
  
  @include until($medium) {
    font-size: 2em;
  };
}

.fs16 {
  font-size: 16px;
  
  p {
    font-size: 16px;
  }
}

.fs18 {
  font-size: 18px;
  
  p {
    font-size: 18px;
  }
}

.fs12 {
  font-size: 12px;
}
