// Media Queries
@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content;
  }
}

@mixin until($device-width) {
  @media screen and (max-width: $device-width - 1) {
    @content;
  }
}

// Clearfix
@mixin clearfix() {
  &::before {
    display: table;
    content: " ";
  }

  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

.text-indent {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin text-indent() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
