$green: #45d363;
$purple: #9B267A;

$blue: #218fff;
$periwinkle: #6e91d4;
$light-purple: #8880b6;
$mauve: #a37098;
$maroon: #bd5f79;
$red: #d74e5b;

$extra-small: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
