$green: #45d363;
$purple: #9B267A;
$blue: #0098ff;
$dark-blue: #0c56a0;
$dark-grey: #4d4c4c;
$periwinkle: #6e91d4;
$light-purple: #8880b6;
$mauve: #a37098;
$maroon: #bd5f79;
$red: #ff3939;

$extra-small: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

// Brand colors
$brand-danger: $red;

// List Group
$list-group-active-bg:          #fafafa;
$list-group-border:             #ddd;
$list-group-link-color:         $blue;
$list-group-active-border:      $list-group-border;
$list-group-active-color:       $list-group-link-color;

// Global text color
$text-color: $dark-grey;
