{% extends "nominations_portal.html" %}

{% load bootstrap3 crispy_forms_tags django_bootstrap_breadcrumbs nominations_tags %}

{% crispy form form.helper %}

{% block page_title %}Our Revolution - Nominate a Ballot Initiative{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Start Application" "nominations-initiative-create" %}
{% endblock %}

{% block content %}

{{ block.super }}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">

    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="mb0 mt0">Submit a new ballot initiative application</h1>

        <p class="fs18">
          <strong>
            To submit a new endorsement application for a ballot initiative,
            you'll need some basic information about your group, contact
            information for one group representative, and information about the
            ballot initiative in question.
          </strong>
        </p>

      </div>
    </div>
  </div>

  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">

        {% nominations_platform_alert %}

        <h2>{{ local_group.name }}</h2>

        {% crispy form %}
      </div>
    </div>
  </div>
</div>

<script>
  function setLocality(locality) {
    if (locality == 'city') {
      $('.city_field').show();
      $('.county_field').hide();
    } else if (locality == 'county') {
      $('.city_field').hide();
      $('.county_field').show();
    } else {
      $('.city_field').show();
      $('.county_field').show();
    }
  }

  $(document).ready(function(){

    // set locality fields
    var locality = $('#locality_field').val();

    setLocality(locality);

    // watch agree field to enable form
    $('#agree_field').change(function(){
      if(this.checked) {
        $('#submit_button').removeClass('disabled')
      } else {
        $('#submit_button').addClass('disabled')
      }
    });

    // change locality selections based on locality
    $('#locality_field').on('change', function() {
      setLocality($(this).val());
    })

  });
</script>

{% endblock %}
