{% extends "pages/base_page.html" %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block page_title %}Nominate a Candidate or Ballot Initiative{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">
    <div class="back-bar clearfix">
      <div class="container clearfix">
        <span class="pull-left"><a href="/groups/nominations/dashboard?c=1">&lsaquo; Dashboard</a></span>
        <span class="pull-right">{{user.email}} | <strong><a href="/groups/nominations/logout"> Logout</a></strong></span>
      </div>
    </div>
    
    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="mb0 mt0">Submit a new ballot initiative application</h1>

        <p class="fs18"><strong>To submit a new endorsement application for a ballot initiative, you’ll need your Group ID, some basic information about your group, contact information for one group representative, and information about the ballot initiative in question.</strong></p>
      </div>
    </div>
  </div>
  
  <div class="row pt2 pb2">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        {% crispy form %}
      </div>
    </div>
  </div>
</div>

<script>
  function setLocality(locality) {
    if (locality == 'city') {
      $('.city_field').show();
      $('.county_field').hide();
    } else if (locality == 'county') {
      $('.city_field').hide();
      $('.county_field').show();
    } else {
      $('.city_field').show();
      $('.county_field').show();
    }
  }

  $(document).ready(function(){
    
    // set locality fields
    var locality = $('#locality_field').val();
    
    setLocality(locality);
    
    // watch agree field to enable form
    $('#agree_field').change(function(){
      if(this.checked) {
        $('#submit_button').removeClass('disabled')
      } else {
        $('#submit_button').addClass('disabled')
      }
    });
    
    // change locality selections based on locality
    $('#locality_field').on('change', function() {
      setLocality($(this).val());
    })
    
  });
</script>

{% endblock %}
