{% extends "pages/base_page.html" %}


{% block content %}

<div class="container-fluid fs18">
	<section class="row blue-bg pb6 white-text">
		<div class="light-wash">
			<div class="container">
					<nav class="navbar__sub">
						<ul class="nav navbar-nav no-collapse white-text">
							<li><a data-scroll href="#mission">Mission</a></li>
							<li><a data-scroll href="#membership">Membership</a></li>
							<li><a data-scroll href="#board">Board</a></li>
							<li><a data-scroll href="#staff">Staff</a></li>
							<li><a data-scroll href="#transparency">Transparency</a></li>
						</ul>
					</nav>
			</div>
		</div>
		
		<div class="container pt6">
			<div class="row">
				<div class="col-md-7">
					<h1 class="mt0 mb0">Campaigns end. Revolutions endure.</h1>
					<p>The next step for Bernie Sanders' movement is Our Revolution, which will fight to transform America and advance the progressive agenda that we believe in.</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="row pt6 pb6" id="mission">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2>Our Mission</h2>
					
					<p>Our Revolution will reclaim democracy for the working people of our country by harnessing the transformative energy of the “political revolution.” Through supporting a new generation of progressive leaders, empowering millions to fight for progressive change and elevating the political consciousness, Our Revolution will transform American politics to make our political and economic systems once again responsive to the needs of working families.</p>

					<p>Our Revolution has three intertwined goals: to revitalize American democracy, empower progressive leaders and elevate the political consciousness.</p>
				</div>
				
				<div class="col-md-4 white-text">
					<ul class="pa0 mb0">
						<li class="pa20 blue-bg br3 mb20">Revitalize American Democracy</li>
						<li class="pa20 blue-bg br3 mb20">Empower Progressive Leaders</li>
						<li class="pa20 blue-bg br3 mb20">Elevate Political Consciousness</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<section class="row pt6 pb4 blue-bg white-text" id="membership">
		<div class="container pb2">
			<div class="row">
				<div class="col-md-7">
					<h2>Membership</h2>
					<p>Our Revolution is built upon the successes of Bernie Sanders’ historic presidential campaign, and will continue to thrive with the support of an unprecedented level of grassroots organizers.</p>

					<p>Becoming a member of Our Revolution means being on the frontlines of change, having a real voice in our endorsements and issues, and being a part of real grassroots action to push the political revolution forward.</p>
				</div>
			</div>
		</div>
		
		<div class="light-wash clearfix pt2 pb2">
			<div class="container">
				<h2 class="mt0 mb20">Become a Member</h2>
				
				<div class="col-md-5">
					<a href="#" class="btn btn-outline br3 ha clearfix text-left pa20 wsnormal btn-block">
						<h3 class="text-left">Attend an event</h3>
						<p class="text-left">Attend and sign in at any official Our Revolution event.</p>
					</a>
				</div>
				
				<div class="col-md-1 hidden-sm text-center pt2 pb2"><p>- or -</p></div>

				<div class="col-md-5 clearfix">				
					<a href="#" class="btn btn-outline br3 ha clearfix text-left pa20 wsnormal btn-block">
						<h3 class="text-left">Make a donation</h3>
						<p class="text-left">Make a donation of any amount to Our Revolution online.</p>
					</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="row pt6 pb6" id="board">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pb2">
					<h2>Our Board</h2>
					
					<p>“We are all honored to be members of the Board of Directors of Our Revolution, inspired by Bernie Sanders and his historic presidential campaign. The campaign was always about the movement we were building, as well as supporting a truly amazing candidate.</p>

					<p>We are all volunteers in Our Revolution, as we were in the campaign, and we are honored to be on the front lines with tens of thousands of volunteers and millions of supporters.”</p>

					<p><strong><a href="#">Read the Board’s Founding Statement...</a></strong></p>
				</div>
				
				<div class="col-md-5 col-md-offset-1 light-wash pa20 br3">
					<ul class="pa0 lst0">
	    		  <li><strong>Nina Turner</strong> - Former Ohio State Senator</li>
	    		  <li><strong>Deborah Parker</strong> - Native American Leader</li>
	    		  <li><strong>Ben Jealous</strong> - Civil Rights Leader</li>
	    		  <li><strong>Jim Hightower</strong> - Political Leader, National Radio Commentator &amp; Writer</li>
	    		  <li><strong>Jim Zogby</strong> - Arab American Human Rights Leader</li>
	    		  <li><strong>Huck Gutman</strong> - Former Chief of Staff for Senator Bernie Sanders</li>
	    		  <li><strong>Jane Kleeb</strong> - Environmental and Rural Leader</li>
	    		  <li><strong>Lucy Flores</strong> - Fmr. Nevada Assemblywoman</li>
	    		  <li><strong>Larry Cohen</strong> - Labor</li>
	    		  <li><strong>Catalina Velasquez</strong> - Immigration, Reproductive Justice and Trans Queer Liberation Leader</li>
	    		  <li><strong>Shailene Woodley</strong> - Actress and Environmental Leader</li>
	    		</ul>
			</div>
		</div>
	</section>
	
	<section class="blue-bg white-text row pt6 pb6" id="staff">
		<div class="container">
			<div class="row">	
				<div class="col-md-6">
					<h2>Our Staff</h2>
					
					<p>Our Revolution is made up of veterans and volunteers of the Bernie 2016 campaign and movement, with staff from Arizona, Kentucky, Nigeria, Oregon, South Carolina, Washington, Tennessee, Texas, and Vermont.</p>
						
					<p>With prior experience in nonprofits, labor unions, activism and government, we all come from a variety of different backgrounds and carry with us a variety of perspectives.</p>
				</div>
				
				<div class="col-md-5 col-md-offset-1 light-wash pa20 br3">
					<ul class="pa0 lst0">
	    		  <li><strong>Sam Adaramola</strong> - Digital</li>
						<li><strong>Basilisa Alonso</strong> - Organizing</li>
						<li><strong>Erika Andiola</strong> - Political</li>
						<li><strong>Hamid Bendaas</strong> - Media</li>
						<li><strong>Jon Culver</strong> - Digital</li>
						<li><strong>Giulianna	Di Lauro</strong> - Political</li>
						<li><strong>Shannon Jackson</strong> - Management</li>
						<li><strong>Chris Mabry</strong> - Digital</li>
						<li><strong>Kyle Machado</strong> - Organizing</li>
						<li><strong>Chandra Paetsch</strong> - Organizing</li>
						<li><strong>John Robinson</strong> - Management & Operations</li>
						<li><strong>Juliana Terry-Torgerson</strong> - Organizing</li>
						<li><strong>Jeff Weaver</strong> - Management</li>
						<li><strong>Whittney Wernsing</strong> - Operations</li>
				</div>
			</div>
		</div>
	</section>
	
	<section class="row pt6 pb6" id="transparency">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-7 row">
						<h2>Transparency</h2>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>

				<div class="pt2 pb2">
					<div class="col-md-3">
						<a href="/bylaws/"><h3>Bylaws</h2></a>
					</div>
					
					<div class="col-md-3 card">
						<a href="#"><h3>Membership Policy</h2></a>
					</div>
					
					<div class="col-md-3 card">
						<a href="/disclosure-policy/"><h3>Contribution Limits and Disclosure Policy</h2></a>
					</div>
					
					<div class="col-md-3 card">
						<a href="/privacy-policy/"><h3>Privacy Policy</h2></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
	$(document).ready(function() {
		smoothScroll.init();
	});
</script>


{% endblock %}
