{% extends "pages/base_page.html" %}

{% load wagtailcore_tags %}

{% block content %}

<div class="container-fluid fs18">
	<section class="row tpp-bg pb6 white-text">
		<div class="light-wash">
			<div class="container">
					<nav class="navbar__sub">
						<ul class="nav navbar-nav no-collapse white-text">
							<li><a data-scroll href="#mission">Mission</a></li>
							<li><a data-scroll href="#membership">Membership</a></li>
							<li><a data-scroll href="#board">Board</a></li>
							<li><a data-scroll href="#staff">Staff</a></li>
							<li><a data-scroll href="#donors">Donors</a></li>
							<li><a data-scroll href="#transparency">Transparency & Legal</a></li>
						</ul>
					</nav>
			</div>
		</div>

		<div class="container pt6">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="pa20 br3 light-wash">
						<h1 class="mt0 mb0">Campaigns end. Revolutions endure.</h1>
						<p class="ts0">The next step for Bernie Sanders' movement is Our Revolution, which will fight to transform America and advance the progressive agenda that we believe in.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="row pt4" id="mission">
		<div class="container pb2">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>Our Mission</h1>

					<p>Our Revolution will reclaim democracy for the working people of our country by harnessing the transformative energy of the “political revolution.” Through supporting a new generation of progressive leaders, empowering millions to fight for progressive change and elevating the political consciousness, Our Revolution will transform American politics to make our political and economic systems once again responsive to the needs of working families.</p>

					<p>Our Revolution has three intertwined goals: to revitalize American democracy, empower progressive leaders and elevate the political consciousness.</p>
				</div>
			</div>
		</div>

		<div class="pt2 pb2 fs14--important">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="pa20">
							<h3>Revitalize American Democracy</h3>
							<p>Our Revolution will revitalize American democracy by unifying the millions of people who got involved over the course of U.S. Senator Bernie Sanders’ presidential campaign in support of progressive causes. Our Revolution will give the people a major voice in the political system by activating supporters and engaging millions more Americans in the political process.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="pa20">
							<h3>Empower Progressive Leaders</h3>
							<p>Our Revolution will empower the next generation of progressive leaders by inspiring and recruiting progressive candidates to run for offices across the entire spectrum of government. From school boards to congressional seats, a new generation of political leaders, dedicated to transforming America’s corrupt campaign finance system and rigged economy, will become involved. Our Revolution will provide leaders inspired by the “political revolution” with the unparalleled digital tools, organizing knowledge and grassroots support successfully utilized throughout Senator Sanders’ campaign.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="pa20">
							<h3>Elevate Political Consciousness</h3>
							<p>The corporate media has largely failed to cover the issues critical to the future of our country: from the devastating effects of climate change to the decline of the middle class. Our Revolution will educate the public about the most pressing issues confronting our nation and the bold solutions being offered. This effort will ensure that drowned out voices are heard and become an important part of the local, state and national dialogue.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="row pt4 pb4 blue-bg white-text" id="membership">
		<div class="container pb2">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>Membership</h1>
					<p>Our Revolution is built upon the success of Bernie Sanders’ historic presidential campaign, and will continue to thrive with the support of an unprecedented level of grassroots organizers.</p>

					<p>Becoming a member of Our Revolution means being on the frontlines of change, having a real voice in our endorsements and issues, and being a part of grassroots action to push the political revolution forward.</p>
				</div>
			</div>
		</div>

		<div class="light-wash clearfix pt2 pb2">
			<div class="container">
				<a href="https://go.ourrevolution.com/page/s/membership-signup?source=about-page" target="_blank" onclick="trackOutboundLink('https://go.ourrevolution.com/page/s/membership-signup?source=about-page',true)" class="btn btn-primary btn-block br3 ha clearfix text-left pa20 wsnormal btn-block"><h2 class="mt0 mb0">Join</h2></a>
			</div>
		</div>
	</section>

	<section class="row pt4 pb4" id="board">
		<div class="container">
			<div class="row">
				<div class="{{ page.board_list|yesno:"col-md-6,col-md-8 col-md-offset-2" }} pb2">
					<h1>Our Board</h1>
					{{ page.board_description | richtext }}
				</div>

				{% if page.board_list %}
				<div class="col-md-5 col-md-offset-1 blue-bg white-text pa20 br3 list-plain">
					{{ page.board_list | richtext }}
				</div>
				{% endif %}
			</div>
		</div>
	</section>

	<section class="blue-bg white-text row pt4 pb4" id="staff">
		<div class="container">
			<div class="row">
				<div class="{{ page.staff_list|yesno:"col-md-6,col-md-8 col-md-offset-2" }} pb2">
					<h1>Our Staff</h1>
					{{ page.staff_description | richtext }}
				</div>

				{% if page.staff_list %}
				<div class="col-md-5 col-md-offset-1 light-wash pa20 br3 list-plain">
					{{ page.staff_list | richtext }}
				</div>
				{% endif %}
			</div>
		</div>
	</section>

	<section class="row pt4 pb4" id="donors">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 pb2">
					<h1>Our Donors</h1>
					{{ page.donors_description | richtext }}
					<strong><a href="/donors" class="btn btn-default uppercase ls2 mt20">View our Donors</a></strong>
				</div>
		</div>
	</section>

	<section class="row pt4 pb4 f5f5f5-bg" id="transparency">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-8 col-md-offset-2">
						<h1>Transparency & Legal</h1>

						<p>Our Revolution is committed to transparency, and below you can find full documentation of our bylaws and policies.</p>
					</div>
				</div>

				<div class="pt20 pb20 white-text text-center legal-blocks">
					<div class="col-md-3 col-sm-12 col-xs-12 mt20 block">
						<a href="/bylaws/" class="pa20 br3 blue-bg btn-block"><h4>Bylaws <span class="fs12 glyphicon glyphicon-new-window"></span></h4></a>
					</div>

					<div class="col-md-3 col-sm-12 col-xs-12 mt20 block">
						<a href="/membership-policy/" class="pa20 br3 blue-bg btn-block"><h4>Membership Policy <span class="fs12 glyphicon glyphicon-new-window"></span></h4></a>
					</div>

					<div class="col-md-3 col-sm-12 col-xs-12 mt20 block">
						<a href="/disclosure-policy/" class="pa20 br3 blue-bg btn-block"><h4>Contribution Limits and Disclosure Policy <span class="fs12 glyphicon glyphicon-new-window"></span></h4></a>
					</div>

					<div class="col-md-3 col-sm-12 col-xs-12 mt20 block">
						<a href="/privacy-policy/" class="pa20 br3 blue-bg btn-block"><h4>Privacy Policy <span class="fs12 glyphicon glyphicon-new-window"></span></h4></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
	$(document).ready(function() {
		var scroll = new SmoothScroll('a[data-scroll]');
	});
</script>

{% endblock %}
