{% extends "pages/base_page.html" %}

{% load static wagtailcore_tags %}
{% load bootstrap3 %}

{% block content %}

<div class="blue-bg white-text">  
  <div class="back-bar">
    <div class="container">
      <a href="/groups" class="link dim white"><strong>< Browse All Groups</strong></a>
    </div>
  </div>
  
  <div class="container pt2 pb2">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="fw7 mt0 mb0">Add Your Group</h1>
        <p class="fs18">Our Revolution is made up of local groups from all around the world. To add your existing group to <a href="/groups"><strong>ourrevolution.com/groups</strong></a>, begin by filling out the form below.</p>
        
        <p class="fs18">Don't have a group? Visit our <a href="/organizing-resources"><strong>organizing resources</strong></a> to find out how you can start one.</p>
        
        <p><strong>* = required field</strong></p>
        
        <p class="light-wash br3 pa20">Please submit only one form per group. If your group has received a group ID, please reach out to us at <strong><a href="mailto:organizing@ourrevolution.com">organizing@ourrevolution.com</a></strong>.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pb2">
  <div class="row">
    <form action="/groups/new/" method="post" class="form">
      {% csrf_token %}
      
      <script>
        // @TODO: Remove this hack when django-recurrence internationalization detection
        // is fixed or when i18n support is added to Knock
        if (!pgettext) {
          function pgettext(ignore, t) {
              return gettext(t);
          }
        }
      </script>
      
      {{form.media}}
        <div class="pt2 pb2 clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                  
                  <h2>1. Group Information</h2>
                  
                  <p>We need some basic information about your group, including your group's name, location, and a short description of your group's mission to display on our website.</p>
                  
                  {% bootstrap_field form.name placeholder="Our Revolution Burlington" %}
                  {% bootstrap_field form.description placeholder="Our Revolution is the successor to the Bernie Sanders campaign, and empowers individuals to work toward furthering a platform that works for all of us." %}
                </div>
                
                <div class="col-md-6">
                  {% bootstrap_field form.city placeholder="Burlington" %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.state %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.county placeholder="Chittenden" %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.country %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.postal_code %}
                </div>
                <div class="col-sm-2 col-xs-4">
                  {% bootstrap_field form.size placeholder="27" %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pt2 pb2 clearfix f5f5f5-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                  <h2>2. Public Group Representative</h2>
                  <p>We want to drive people to your group, so we need to give them someone to reach out to. This information will be visible on our website, so don't share any information you don't want made public. Our Revolution will also use this information to get in touch with you regarding your local group.</p>
                </div>
                
                <div class="col-md-12">
                  {% bootstrap_field form.rep_email placeholder="organizing@ourrevolution.com" title="Group Name" %}
                </div>
                
                <div class="col-md-6">
                  {% bootstrap_field form.rep_first_name placeholder="Jane" %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.rep_last_name placeholder="Doe" %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.rep_phone placeholder="555-555-5555" %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.rep_postal_code placeholder="05401" %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pt2 pb2 clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                  <h2>3. Online Presence</h2>
                  <p>In order to grow and maintain your group, it's important for you to be easily discoverable and engaged with your members. We'll share your social media accounts and website with anyone who views your local group page on our website.</p>
                </div>
                
                <div class="col-md-6">
                  {% bootstrap_field form.website_url placeholder="https://ourrevolution.com" %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.facebook_url placeholder="https://facebook.com/PoliticalRevolution" %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.twitter_url placeholder="https://twitter.com/OurRevolution" %}
                </div>
                <div class="col-md-6">
                  {% bootstrap_field form.instagram_url placeholder="https://www.instagram.com/berniesanders" %}
                </div>
                <div class="col-md-12">
                  {% bootstrap_field form.other_social placeholder="https://meetup.com, https://plus.google.com, etc." %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pt2 pb2 clearfix f5f5f5-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                  <h2>4. Issues & Organizing Focus</h2>
                  <p>If your group is organizing around specific issues, actions, or constituencies, let your potential members know.</p>
                </div>
                
                <div class="col-md-12">
                  {% bootstrap_field form.types_of_organizing %}
                  <span id="other_types_of_organizing" class="hidden">{% bootstrap_field form.other_types_of_organizing %}</span>
                  
                  <label>Issues</label>
                  <div class="list-3-col mb20">
                    {% bootstrap_field form.issues show_label=False %}
                  </div>
                </div>
                  
                {% bootstrap_field form.other_issues form_group_class='col-md-12 form-group' %}
                {% bootstrap_field form.constituency form_group_class='col-md-12 form-group' placeholder='ex. Latinos for Bernie' %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="pt2 clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                  <h2>5. Group Meeting Information</h2>
                  <p>If you host local recurring meetings, we want to help you get people to them. If you haven't hosted any meetings or don't have any planned, you can leave this section blank. Visit our <a href="/organizing-resources">organizing resources</a> for help planning and hosting events.</p>
                </div>
                  
                <div class="form-group col-md-4">
                  {% bootstrap_field form.last_meeting form_group_class='datepicker' addon_before='<span class="glyphicon glyphicon-calendar"></span>' placeholder='03/01/2017' %}
                </div>
                  
                <div class="form-group col-md-12">
                  <div>
                    {% bootstrap_label "Does your group host regular recurring meetings?" %}
                  </div>
                  
                  <div class="btn-group" id="recurring-ask">
                    <button type="button" class="btn btn-default" aria-label="Yes" value='yes'>Yes
                    </button>
                    
                    <button type="button" class="btn btn-default" aria-label="No" value='no'>No</button>
                  </div>
                </div>
                  
                <div class="recurring-field col-md-12">
                  <div class="clearfix mb20 mt20">
                    <h4 class="mb0">{% bootstrap_label "Regular Meeting" label_for="recurring_meeting" %}</h4>
                    <p>Add a rule below so we can let users know when you meet and where.</p>
                    {{ form.recurring_meeting }}
                  </div>
                  
                  {% bootstrap_field form.meeting_address_line1 placeholder='603 2nd Street, NE' %}
                  {% bootstrap_field form.meeting_address_line2 %}
                </div>
              
                <div class="recurring-field">
                  {% bootstrap_field form.meeting_city form_group_class='col-md-6 form-group' placeholder='Washington'%}
                  {% bootstrap_field form.meeting_state_province form_group_class='col-md-6 form-group' placeholder='District of Columbia' %}
                  {% bootstrap_field form.meeting_postal_code form_group_class='col-md-6 form-group' placeholder='20002' %}
                  {% bootstrap_field form.meeting_country form_group_class='col-md-6 form-group' %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="container pb2">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block uppercase ls2">Submit</button>
              </div>
            </div>
          </div>
        </div>
      
      <input type="hidden" id="id_group_id" name="group_id" value='9999'>
      
    </form>
  </div>
</div>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- eeek -->
<style>
.recurring-field {
  display: none;
}
</style>

<script>
  $(document).on('ready', function() {
    $(function() {
      $( ".datepicker input" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "2012:2017",
        // You can put more options here.

      });
    });
    
    $('.datepicker .input-group-addon').on('click touchstart', function() {
      $( ".datepicker input" ).datepicker('show');
    })
    
    $('#recurring-ask button').on('click touchstart', function(e) {
      if($(e.target).val() == 'yes') {
        $('.recurring-field').show();
        $('#recurring-ask button').removeClass('active');
        $(e.target).addClass('active');
      } else if($(e.target).val() == 'no') {
        $('.recurring-field').hide();
        $('#recurring-ask button').removeClass('active');
        $(e.target).addClass('active');
      }
    })

    $('#id_types_of_organizing').on('change', function(e) {    
      if($(e.target).val() == 'other'){
        if($(e.target).prop('checked')) {
          $('#other_types_of_organizing').removeClass('hidden');
        } else {
          $('#other_types_of_organizing').addClass('hidden');
        }
      }
    })
  })
</script>

{% endblock %}
