<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block page_title %}Our Revolution - {% firstof page.seo_title page.title "Home" %}{% endblock %}</title>

    {% block meta %}

        {% block meta_seo %}
            <meta name="description" content="{% firstof page.search_description "The next step for Bernie Sanders' movement is a new group called Our Revolution, which will fight to transform America and advance the progressive agenda that we believe in." %}" />
        {% endblock %}

        {% block meta_og %}
            <meta property="og:locale" content="en_US" />
            <meta property="og:title" content="{% firstof page.seo_title page.title "Our Revolution" %}" />
            <meta property="og:description" content="{% firstof page.search_description "The next step for Bernie Sanders' movement is a new group called Our Revolution, which will fight to transform America and advance the progressive agenda that we believe in." %}" />
            <meta property="og:site_name" content="Our Revolution" />
            {% if request.GET.category %}
                {% with "img/dist/meta/"|add:request.GET.category|add:".png" as social_image %}
                    <meta property="og:image" content="{% static social_image %}" />
                {% endwith %}
            {% else %}
                <meta property="og:image" content="{% firstof page.social_image.url "https://ourrevolution.com/static/dist/img/fb.png" %}" />
            {% endif %}
        {% endblock %}

        {% block meta_twitter %}
            <meta name="twitter:card" content="summary_large_image"/>
            <meta name="twitter:title" content="Our Revolution"/>
            <meta name="twitter:description" content="{% firstof page.search_description "The next step for Bernie Sanders' movement is a new group called Our Revolution, which will fight to transform America and advance the progressive agenda that we believe in." %}" />
            <meta name="twitter:site" content="@OurRevolution"/>
            <meta name="twitter:image" content="{% firstof page.social_image.url "https://ourrevolution.com/static/dist/img/fb.png" %}"/>
        {% endblock %}

        {% block meta_google_site_verification %}
            <meta name="google-site-verification" content="ULKRcIZysCOsq4SLKSbW7ymdJ93OyRWwSMZpBfBPJN0" />
        {% endblock %}

    {% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static "dist/css/main.min.css" %}?v=2">
    <script src="{% static "dist/js/bundle.min.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>
<body>
    <img height="1" width="1" style="border-style:none; display:none !important;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=m2ywu23&ct=0:wfbkcfp&fmt=3"/>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand  home" href="/">
                    <img alt="Our Revolution" class="logo" src="{% static "dist/img/logo.svg" %}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav navbar-nav--centered">
                    <li class="{% if "/about" in request.path %}active{% endif %} about"><a href="/about" id="about-nav-link">About</a></li>
                    <li class="{% if "/action" in request.path %}active{% endif %} action"><a href="/action" id="action-nav-link">Take Action</a></li>
                    <li class="{% if "/issues" in request.path %}active{% endif %} issues"><a href="/issues" id="issues-nav-link">Issues</a></li>
                    <li class="{% if "/candidates" in request.path %}active{% endif %} candidates"><a href="/candidates" id="candidates-nav-link">Candidates</a></li>
                    <li class="{% if "/ballot-initiatives" in request.path %}active{% endif %} initiatives"><a href="/ballot-initiatives" id="initiatives-nav-link">Ballot Initiatives</a></li>
                </ul>
                <a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav&amount=27.00" class="pull-right btn btn-donate navbar-btn" onclick="trackOutboundLink('https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav&amount=27.00'); return false;">Donate</a>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    {% block content %}

        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="page-heading clearfix">
                        <h1>{{ page.title }}</h1>
                    </div>

                    <!-- completely arbitrary; maybe this should be an admin setting, even -->
                    <div class="col-sm-8 col-sm-offset-2">
                        {% if page.body %}
                            {{ page.body | safe }}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

    {% endblock %}


</div>

{% include "partials/footer.html" %}
{% include "partials/footer-js.html" %}

{% block footer_scripts %}
{% endblock %}

</body>
</html>
