{% extends "pages/base_page.html" %}

{% load pages_tags static wagtailcore_tags wagtailimages_tags %}

{% block content %}


  <div class="container-fluid">
    <div class="row">
      <div class="page-heading page-heading--full clearfix">
        <div class="container">
          <div class="row">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt2 pb2">

    <div class="clearfix">
      <h3 class="pull-left mb0">
        {% firstof page.content_heading "Endorsements" %}
      </h3>
      <div class="pull-right mt10">
        {% include "partials/endorsements-nav.html" %}
      </div>
    </div>
    <hr>

      {% if page.body %}
      <div id ="content-page-body">
        {{ page.body | richtext }}
      </div>
      {% endif %}

      <div class="page-sub-nav filter clearfix">

                <div class="form-inline pull-left">
                    <!-- <div class="form-group">
                        <label for="fuzzy-search" class="sr-only">Filter By:</label><input type="search" class="filter__search fuzzy-search" id="fuzzy-search" onkeyup="fuzzySearch(this);" placeholder="Search by Name or State...">
                    </div> -->
                </div>

                <div class="filter__sort pull-right">
                    Sort By:
                    <div class="btn-group sort-buttons" role="group" aria-label="Sort By:">
                        <button type="button" class="btn btn-default" sort-by="state">State <span class="caret"></span></button>
                        <button type="button" class="btn btn-default" sort-by="date">Election Date <span class="caret"></span></button>
                    </div>
                </div>
            </div>

      <div id="candidates-list">
        <div class="no-result text-center"><h3>No Matching Candidates Found</h3></div>
        <ul class="card-list list">

          {% for candidate in candidates %}
          {% with candidateendorsementpage=candidate.candidateendorsementpage %}

          <li class="card clearfix">

            <a href="{% pageurl candidateendorsementpage %}">

              {% image candidateendorsementpage.photo original as photo_img %}
              <div class="card__photo"
              style="background-image: url('{{ photo_img.url }}')"></div>

              <div class="card__content">

                <span class="card__item name">
                  {{ candidateendorsementpage.title }}
                </span>

                <span class="card__item bold smaller state">
                  {{ candidateendorsementpage.get_state_or_territory_display }}
                </span>

                <span class="card__item bottom">

                  {% if candidateendorsementpage.election_date %}

                  <div class="card__item smaller bold">
                    Election:
                    <span class="date hidden">
                      {{ candidateendorsementpage.election_date|date:"U" }}
                    </span>
                    {{ candidateendorsementpage.election_date }}
                  </div>

                  {% endif %}

                  {{ candidateendorsementpage.office }}

                </span>
              </div>

            </a>

          </li>

          {% endwith %}
          {% endfor %}

        </ul>
      </div>
  </div>

  {% include "partials/past_results.html" %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

  <script>
  var sortingBy = "state";
  var sortingAsc = true;
  // Functions
  function fuzzySearch(e) {
    candidatesList.fuzzySearch.search(e.value);
  }
  function sort(sortBy) {
    if (sortingBy === sortBy) {
      if (sortingAsc) {
        candidatesList.sort(sortBy, { order: 'desc'});
        sortingAsc = false;
      }
      else {
        candidatesList.sort(sortBy, { order: 'asc'});
        sortingAsc = true;
      }
    } else {
      candidatesList.sort(sortBy, { order: 'asc'});
      sortingAsc = true;
    }
    sortingBy = sortBy;
  }
  function filter(category) {
    if (category && category != 'all') {
      candidatesList.filter(function (item) {
        if(category == item._values.category)
          return true;
        else
          return false;
      });
    } else {
      candidatesList.filter();
    }
  }
  function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
  function isCategory(category) {
    var nav = $('.issues__nav');
    if (nav.find("[category='" + category + "']").length > 0)
      return true;
    else
      return false;
  }
  function setActive(category) {
    var nav = $('.issues__nav');
    // set active state
    nav.find('li').each(function () {
      $(this).removeClass("active");
    })
    nav.find("[category='" + category + "']").toggleClass("active");
    updateUrl(category);
  }
  // function updateUrl(category) {
  //   if (category)
  //     window.history.pushState('ballot-initiatives', 'Our Revolution - Initiatives', '/ballot-initiatives?category=' + category);
  //   else
  //     window.history.pushState('ballot-initiatives', 'Our Revolution - Initiatives', '/ballot-initiatives');
  // }

  var options = {
      valueNames: [
        'state',
        'date'
      ],
      fuzzySearch: {
        searchClass: "fuzzy-search",
        location: 0,
        distance: 100,
        threshold: 0.4,
        multiSearch: true
      }
  };
  var candidatesList = new List('candidates-list', options);
  var self = this;
  // Filter list by URL category
  // if (getParameterByName('category')) {
  //   var category = getParameterByName('category');
  //   if (isCategory(category)) {
  //     setActive(category);
  //     self.filter(category);
  //   }
  // }
  $("#candidatges-nav").on("click", function(e) {
    e.preventDefault();
    if($("#candidatges-nav").hasClass("expanded")) {
      $("#candidatges-nav").removeClass("expanded");
      $('.toggle-nav__icon').removeClass('glyphicon-remove');
      $('.toggle-nav__icon').addClass('glyphicon-menu-hamburger');
    }
    $("#fuzzy-search").val("");
    candidatesList.fuzzySearch.search();
    var category = $(e.target).closest("li").attr("category") || false;
    if (category) {
      setActive(category);
      self.filter(category);
    }
  });
  candidatesList.on("updated", function(list) {
    if (list.matchingItems.length > 0) {
      $('.no-result').hide()
    } else {
      $('.no-result').show()
    }
  })
  $(".sort-buttons").on("click", function(e) {
    var btn = $(e.target).closest(".btn");
    var sortByData = btn.attr("sort-by");
    sort(sortByData);
    if (sortingBy == sortByData) {
      $(".sort-buttons .btn").each(function(e) {
        $(this).removeClass("active");
        $(this).removeClass("asc");
        $(this).removeClass("desc");
      });
      btn.toggleClass("active");
      if (sortingAsc) {
        btn.addClass("asc");
        btn.removeClass("desc");
      } else {
        btn.addClass("desc");
        btn.removeClass("asc");
      }
    }
  })
</script>

{% endblock %}
