{% extends "pages/base_page.html" %}

{% load pages_tags static wagtailcore_tags wagtailimages_tags %}

{% block content %}


  <div class="container-fluid">
    <div class="row">
      <div class="page-heading page-heading--full clearfix">
        <div class="container">
          <div class="row">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt2 pb2">

    <div class="clearfix">
      <h3 class="pull-left mb0">
        {% firstof page.content_heading "Endorsements" %}
      </h3>
      <div class="pull-right mt10">
        {% include "partials/endorsements-nav.html" %}
      </div>
    </div>
    <hr>

      {% if page.body %}
      <div id ="content-page-body">
        {{ page.body | richtext }}
      </div>
      {% endif %}

      <div class="page-sub-nav filter clearfix">

          <div class="form-inline pull-left">
              <!-- <div class="form-group">
                  <label for="fuzzy-search" class="sr-only">Filter By:</label><input type="search" class="filter__search fuzzy-search" id="fuzzy-search" onkeyup="fuzzySearch(this);" placeholder="Search by Name or State...">
              </div> -->
          </div>

          <div class="filter__sort pull-right">
              Sort By:
              <div class="btn-group sort-buttons" role="group" aria-label="Sort By:">
                  <button type="button" class="btn btn-default0" sort-by="state">State <span class="caret"></span></button>
                  <button type="button" class="btn btn-default0" sort-by="date">Election Date <span class="caret"></span></button>
              </div>
          </div>
      </div>

      <div id="candidates-list">
        <div class="no-result text-center"><h3>No Matching Candidates Found</h3></div>
        <ul class="card-list list">

          {% for candidate in candidates %}
          {% with candidateendorsementpage=candidate.candidateendorsementpage %}

          {% if not candidateendorsementpage.has_pending_result %}
          {% include "partials/candidate_endorsement_card.html" %}
          {% endif %}

          {% endwith %}
          {% endfor %}

        </ul>
      </div>

      <section>

        <ul class="card-list list">

          {% for candidate in candidates %}
          {% with candidateendorsementpage=candidate.candidateendorsementpage %}

          {% if candidateendorsementpage.has_pending_result %}
          {% include "partials/candidate_endorsement_card.html" %}
          {% endif %}

          {% endwith %}
          {% endfor %}

        </ul>
      </section>

  </div>

  {% include "partials/past_results.html" %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

  <script>
  var sortingBy = "state";
  var sortingAsc = true;
  // Functions
  function fuzzySearch(e) {
    candidatesList.search(e.value);
  }
  function sort(sortBy) {
    if (sortingBy === sortBy) {
      if (sortingAsc) {
        candidatesList.sort(sortBy, { order: 'desc'});
        sortingAsc = false;
      }
      else {
        candidatesList.sort(sortBy, { order: 'asc'});
        sortingAsc = true;
      }
    } else {
      candidatesList.sort(sortBy, { order: 'asc'});
      sortingAsc = true;
    }
    sortingBy = sortBy;
  }


  var options = {
      valueNames: [
        'state',
        'date'
      ],
      fuzzySearch: {
        searchClass: "fuzzy-search",
        location: 0,
        distance: 100,
        threshold: 0.4,
        multiSearch: true
      }
  };
  var candidatesList = new List('candidates-list', options);
  var self = this;

  candidatesList.on("updated", function(list) {
    if (list.matchingItems.length > 0) {
      $('.no-result').hide()
    } else {
      $('.no-result').show()
    }
  });
  $(".sort-buttons").on("click", function(e) {
    var btn = $(e.target).closest(".btn");
    var sortByData = btn.attr("sort-by");
    sort(sortByData);
    if (sortingBy == sortByData) {
      $(".sort-buttons .btn").each(function(e) {
        $(this).removeClass("active");
        $(this).removeClass("asc");
        $(this).removeClass("desc");
      });
      btn.toggleClass("active");
      if (sortingAsc) {
        btn.addClass("asc");
        btn.removeClass("desc");
      } else {
        btn.addClass("desc");
        btn.removeClass("asc");
      }
    }
  });
</script>

{% endblock %}
