{% extends "pages/base_page.html" %}

{% load static wagtailcore_tags %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="page-heading page-heading--full clearfix">
        <div class="container">
          <div class="row">
            <h1>Our Candidates</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container pt2 pb2">
      <h3>2017 Endorsements</h3>
      <hr>
      <ul class="card-list">
        {% for candidate_page in candidates %}
            {% with candidate_page.candidateendorsementpage.candidate as candidate %}
                {% if candidate.show %}
                    <li class="card clearfix">
                        <a href="{% pageurl candidate_page %}">
                            <div class="card__photo" style="background-image: url('{{ candidate.photo.url }}')"></div>
                            <div class="card__content">
                                <span class="card__item">{{ candidate.name }}</span>
                                <span class="card__item bold smaller">{{ candidate.state }} {{ candidate.district }}</span>
                                <span class="card__item bottom">{{ candidate.office }}</span>
                            </div>
                        </a>
                    </li>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
  </div>

	<div class="container-fluid pt4 pb4 fafafa-bg">
	  <div class="row">
      <div class="container">
        <div class="row">
      		<div class="col-md-8 col-md-offset-2">
      		  <p class="fs18">Our team is working hard to fully research the upcoming elections and find the best progressive champions for us to support. Please check back soon to see our new slate of candidates.</p>
            
            <p class="fs18"><strong>In the meantime, view our past election results or download our candidate endorsement form below.</strong></p>
      		  
      		  <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                <a href="https://ourrevolution.com/documents/1/Endorsement_Application_Form.pdf" target="_blank" onclick="trackOutboundLink('https://ourrevolution.com/documents/1/Endorsement_Application_Form.pdf', true);" class="btn btn-secondary btn-block ls2 uppercase mt20">Endorsement Form</a>
                <p class="mt20"><small>Endorsement requests must be submitted at least 30 days before the candidate's election in order to be eligible for an endorsement.</small></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <p class="mt20">Past Results: <a href="/2017-elections-results/">2017 Results</a> | <a href="/election-2016">2016 Results</a></p>
        			</div>
      		  </div>
          </div>
        </div>
  		</div>
	  </div>
	</div>

{% endblock %}
