{% extends "pages/base_page.html" %}


{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="container home-section">
                <iframe src="https://verify.vote.org/?partner=111111&campaign=free-tools" width="100%" marginheight="0" frameborder="0" id="frame3" scrollable="no"></iframe> <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js" ></script> <script type="text/javascript">iFrameResize({log:true,checkOrigin:false});</script>
            </div>
        </div>
    </div>

{% endblock %}