{% extends "pages/base_page.html" %}

{% block content %}

 <div class="container-fluid">
    <div class="row email">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="page-heading--press">
          <span class="article-type">Take Action</span>
          <h1>45 years in prison for filming a pipeline protest?</h1>
        </div>

        <div class="inset">
          <p>A filmmaker journalist was arrested for filming a pipeline protest in North Dakota. Deia Schlosberg was held in jail for 48 hours without access to her attorney, and now she's facing felony conspiracy charges. We need to get the government to drop these charges, which are an affront to the First Amendment.</p>

          <p><a href="https://go.ourrevolution.com/page/s/pipeline-charges?source=web161018">Sign our petition to the U.S. Attorney to drop the charges against journalist Deia Schlosberg.</a></p>

          <a href="https://go.ourrevolution.com/page/s/pipeline-charges?source=web161018" class="btn btn-default">ADD YOUR NAME</a>
        </div>

        <p>Native American tribal nations, farmers, and activists are protesting the Dakota Access pipeline for fracked oil, which would bring some of the dirtiest oil on the planet across five states.</p>

        <p>Journalists and filmmakers have been at pipeline protests throughout North Dakota, documenting the bravery of activists who have been pepper sprayed and attacked with dogs for trying to protect native land and water sources.</p>

        <p><strong>But this week took a turn for the worse: a filmmaker at another solidarity protest in North Dakota against Tar Sands oil was arrested and charged with conspiracy for filming an action by activists to stop five pipelines from operating.</strong> Deia Schlosberg had her footage confiscated before being held in jail for two days and was not allowed to speak to an attorney. Now she's facing felony charges of conspiracy for filming the protest, and if Deia is convicted, she could face up to 45 years in prison.</p>

        <p>We need to pressure the government to drop charges against Deia Schlosberg. <strong>Our best chance is to ask U.S. Attorney for North Dakota, Chris Myers, to drop the charges</strong>, and to make sure North Dakota Governor Jack Dalrymple and President Obama's Department of Justice also know Deia should not be charged.</p>

        <p><a href="https://go.ourrevolution.com/page/s/pipeline-charges?source=web161018">Sign our petition for the government to drop all charges against Deia Schlosberg, a filmmaker and journalist who was arrested just for filming a protest. Add your name here.</a></p>

        <p>Arresting journalists for documenting environmental actions is a dangerous precedent and an affront to the First Amendment.</p>

        <p>Deia Schlosberg is an experienced and widely acclaimed filmmaker and journalist. She was the producer for Our Revolution Climate advisor Josh Fox's latest climate change documentary, How to Let Go of The World and Love All The Things Climate Can’t Change, and her work documenting environmental organizing is respected and critical.</p>

        <p>These charges are a threat to our freedom of expression on the most basic level and especially to documentary filmmaking. If filmmakers cannot film events as they're happening, especially protest events or events that the establishment and the police might consider criminal, our society will not be the same.</p>

        <p>Pipelines that transport oil are some of the biggest threats to climate change. Pipelines can carry millions of gallons of dirty oil a day, and activists are doing all they can to stop these pipelines from being built or from operating.</p>

        <p>People like Deia Schlosberg risk their safety to show these protests to the world, but now she's facing up to 45 years in prison for telling this story about threats to our climate.</p>

        <p><a href="https://go.ourrevolution.com/page/s/pipeline-charges?source=web161018">Sign the petition to U.S. Attorney Chris Myers, North Dakota Governor Jack Dalrymple, and the Department of Justice to drop charges against Deia Schlosberg for filming a pipeline protest.</a></p>

        <p>Thank you for all you do to help stop the effects of climate change.</p>

        <p>In solidarity,</p>

        <p>Jane Kleeb</p>
        <p>Board Member, Our Revolution</p>

        <a href="https://secure.actblue.com/contribute/page/pipeline-charges-petition?refcode=web161018" class="btn btn-danger">CONTRIBUTE</a>
      </div>
    </div>
  </div>
</div>

  </div>

{% endblock %}