{% extends "pages/base_page.html" %}

{% load wagtailcore_tags %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
      <div class="blue-bg white-text pt6">
        <div class="container pb2">
          <div class="row">
            <div class="col-md-7 fs18">
              <h1 class="mb0">{{ page.title }}</h1>
              {% if page.body %}
                {{ page.body | richtext }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

	<div class="container-fluid">
    <div class="row">
      <div class="container pa20 pb20 fs16">
  			<div class="col-md-12">
          <h2>Contributions</h2>
          <hr/>
					<div class="btn-group mb20" id="q_selector">
						<button id="2016" class="btn btn-default">2016</button>
						<button id="q1_2017" class="btn btn-default">Q1 2017</button>
						<button id="q2_2017" class="btn btn-default">Q2 2017</button>
						<button id="q3_2017" class="btn btn-default">Q3 2017</button>
						<button id="q4_2017" class="btn btn-default">Q4 2017</button>
						<button id="q1_2018" class="btn btn-default">Q1 2018</button>
						<button id="q2_2018" class="btn btn-default">Q2 2018</button>
						<button id="q3_2018" class="btn btn-default">Q3 2018</button>
						<button id="q4_2018" class="btn btn-default">Q4 2018</button>
						<button id="q1_2019" class="btn btn-default active">Q1 2019</button>
					</div>
  				<ul class="lst0 pa0 list-3-col clearfix">

						<div id="q1_2019_list" class='donor-list'>
							{% for donor in donations %}
								<li>{{ donor.first_name_q1_2019|stringformat:"s" }} {{ donor.last_name_q1_2019|stringformat:"s" }}</li>
							{% endfor %}
						</div>
						
						<div id="q4_2018_list" class='donor-list'>
							{% for donor in donations %}
								<li>{{ donor.first_name_q4_2018|stringformat:"s" }} {{ donor.last_name_q4_2018|stringformat:"s" }}</li>
							{% endfor %}
						</div>

						<div id="q3_2018_list" class='donor-list'>
							{% for donor in donations %}
								<li>{{ donor.first_name_q3_2018|stringformat:"s" }} {{ donor.last_name_q3_2018|stringformat:"s" }}</li>
							{% endfor %}
						</div>

						<div id="q2_2018_list" class='donor-list'>
							{% for donor in donations %}
								<li>{{ donor.first_name_q2_2018|stringformat:"s" }} {{ donor.last_name_q2_2018|stringformat:"s" }}</li>
							{% endfor %}
						</div>

						<div id="q1_2018_list" class='donor-list'>
							{% for donor in donations %}
								<li>{{ donor.first_name_q1_2018|stringformat:"s" }} {{ donor.last_name_q1_2018|stringformat:"s" }}</li>
							{% endfor %}
						</div>

						<div id="q4_2017_list" class='donor-list'>
							{% for donor in donations %}
								<li>{{ donor.first_name_q4_2017|stringformat:"s" }} {{ donor.last_name_q4_2017|stringformat:"s" }}</li>
							{% endfor %}
						</div>

						<div id="q3_2017_list" class='donor-list'>
							{% for donor in donations %}
								<li>{{ donor.first_name_q3_2017|stringformat:"s" }} {{ donor.last_name_q3_2017|stringformat:"s" }}</li>
							{% endfor %}
						</div>

						<div id="q2_2017_list" class='donor-list'>
							{% for donor in donations %}
								<li>{{ donor.first_name_q2_2017|stringformat:"s" }} {{ donor.last_name_q2_2017|stringformat:"s" }}</li>
							{% endfor %}
						</div>

						<div id="q1_2017_list" class='donor-list'>
							{% for donor in donations %}
								<li>{{ donor.first_name_q1_2017|stringformat:"s" }} {{ donor.last_name_q1_2017|stringformat:"s" }}</li>
							{% endfor %}
						</div>

						<div id="2016_list" class="donor-list">
	  						{% for donor in donations %}
								<li>{{ donor.first_name_2016|stringformat:"s" }} {{ donor.last_name_2016|stringformat:"s" }}</li>
							{% endfor %}
						</div>
  				</ul>
        </div>
      </div>
    </div>
  </div>

	<script>
		$(document).ready(function (){
			$('#2016_list').hide();
			$('#q1_2017_list').hide();
			$('#q2_2017_list').hide();
			$('#q3_2017_list').hide();
			$('#q4_2017_list').hide();
			$('#q1_2018_list').hide();
			$('#q2_2018_list').hide();
			$('#q3_2018_list').hide();
			$('#q4_2018_list').hide();

			$('#q_selector').on('click touchstart', function(e) {
				$('#q_selector .btn').removeClass('active');
				$(e.target).addClass('active');
				$('.donor-list').hide();
				$('#' + $(e.target).attr('id') + '_list').show();
			})
		});
	</script>

{% endblock %}
