{% extends "pages/base_page.html" %}

{% load humanize %}

{% block content %}


        <div class="container-fluid election-tracker">
          
            <div class="row">
              <div class="page-heading--full clearfix">
                <div class="container heading-container">
                    <div class="status-indicator">Live Results</div>
                    <h1>{{ page.title }}</h1>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="results-selector">
                <div class="container text-center">
                    <a href="#" class="uppercase active" data-show="candidates">Candidates</a>
                  
                    <a href="#" class="uppercase" data-show="initiatives">Initiatives</a>
                </div>
              </div>
            </div>
          
            <div class="row">
                <div class="container">
                    <div class="page-sub-nav filter clearfix">
                      <div class="form-inline pull-left">
                        <div class="form-group">
                          <label for="fuzzy-search" class="sr-only">Filter By:</label><input type="search" class="filter__search fuzzy-search" id="fuzzy-search" placeholder="Filter by Name or State...">
                        </div>
                      </div>

                      <div class="filter__sort pull-right">
                        Sort By:
                        <div class="btn-group sort-buttons" role="group" aria-label="Sort By:">
                          <button type="button" class="btn btn-default" sort-by="state">State <span class="caret"></span></button>
                          <button type="button" class="btn btn-default" sort-by="category">Category <span class="caret"></span></button>
                        </div>
                      </div>
                    </div>
                    
                    <!-- completely arbitrary; maybe this should be an admin setting, even -->
                    <div id="candidates">
                        <!-- {% if page.body %}
                            {{ page.body | safe }}
                        {% endif %} -->

                        {% if candidate_race_snippets.exists %}
                            <h2>Our Candidates</h2>
                            <hr>
                        
                            <div id="candidates-list">
                              <div class="no-result text-center"><h3>No Matching Candidates Found</h3></div>
                              <ul class="card-list third list card-list--results">
                                  {% for candidate_race_snippet in candidate_race_snippets %}

                                      {% with candidate_race_snippet.candidate_race as candidate_race %}
                                          {% with candidate_race.candidate as candidate %}

                                              <li class="card clearfix">
                                                  <div class="card__photo" style="background-image: url({{ candidate.photo.url }})"></div>
                                                    <div class="card__content">
                                                      <div class="candidate__info">
                                                        <span class="card__item bold bigger name">{{ candidate.name }}</span>
                                                        <span class="card__item smaller"><span class="state">{{ candidate.state }}</span> {{ candidate.district }}</span>
                                                        <span class="card__item bottom">{{ candidate.office }}</span>
                                                    </div>
                                                    
                                                    <div class="card__item card__item--share">
                                                      <a href="#" class="social-icon facebook-icon facebook-bg">Share on Facebook</a>
                                                      <a href="https://twitter.com/intent/tweet?text={% spaceless %}
                                                            {% if candidate_race.candidate_votes == 0 and candidate_race.opponent_votes == 0 %}
                                                                Polls for {{ candidate.name }} aren't in yet. Track this race and other progressive's results nationwide LIVE.
                                                            {% elif candidate_race.candidate_votes > candidate_race.opponent_votes %}
                                                                {{ candidate.name }} is leading {{ candidate_race.candidate_votes_percentage }} to {{ candidate_race.opponent_votes_percentage }}. Track this race and other progressive's results nationwide LIVE.
                                                            {% else %}
                                                                {{ candidate.name }} is trailing {{ candidate_race.opponent_votes_percentage }} to {{ candidate_race.candidate_votes_percentage }}. Track this race and other progressive's results nationwide LIVE.
                                                            {% endif %}{% endspaceless %}&url=https://ourrevolution.com/election-2016" class="social-icon twitter-icon twitter-bg">Tweet</a>
                                                   </div>
                                                  </div>
                                                  
                                                    <div class="card__results">
                                                        <div class="card__results--status clearfix">
                                                          <div class="card__results--reporting pull-left">{% if candidate_race.notes %} {{ candidate_race.notes }} {% else %} 0% reporting {% endif %}</div>
                                                          
                                                          {% if candidate_race.last_updated %}
                                                              <div class="card__results--updated pull-right">Last updated {{ candidate_race.last_updated | timesince }} ago</div>
                                                          {% endif %}
                                                        </div>
                                                        
                                                        <div class="card__results--numbers">
                                                          <div class="card__results--result">
                                                              <div>{{candidate.name}}</div>
                                                              <div class="card__results--percentage">{{ candidate_race.candidate_votes_percentage }}</div>
                                                              <div class="card__results--votes">{{ candidate_race.candidate_votes | intcomma }}</div>
                                                          </div>
                                                          
                                                          <div class="card__results--seperator">-</div>
                                                          
                                                          <div class="card__results--result">
                                                            <div>Opponent</div>
                                                            <div class="card__results--percentage">{{ candidate_race.opponent_votes_percentage }}</div>
                                                            <div class="card__results--votes">{{ candidate_race.opponent_votes | intcomma }}</div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                    
                                          {% endwith %}

                                      {% endwith %}

                                  {% endfor %}
                              </ul>
                            </div>

                        {% endif %}

                    </div>
                    
                    <div id="initiatives">

                      {% if initiative_race_snippets.exists %}
                          <h2>Our Initiatives</h2>
                          <hr>
                          
                          <div id="initiatives-list">
                          <div class="no-result text-center"><h3>No Matching Initiatives Found</h3></div>
                          <ul class="card-list third list card-list--results">
                          {% for initiative_race_snippet in initiative_race_snippets %}

                              {% with initiative_race_snippet.initiative_race as initiative_race %}
                                  {% with initiative_race.initiative as initiative %}

                                      <li class="card clearfix">
                                        <div class="card__content full initiative">
                                          <div>
                                            <span class="icon {{initiative.category}} category pull-left">{{initiative.category}}</span>
                                            <span class="card__item bold name"><span>{{ initiative.title }}: {{ initiative.name }}</span></span>
                                          </div>
                                          <span class="card__item state">{{ initiative.state }} {{ initiative.district }}</span>
                                          
                                          <div class="card__item card__item--share">
                                            <a href="#" class="social-icon facebook-icon facebook-bg">Share on Facebook</a>
                                            <a href="https://twitter.com/intent/tweet?text={% spaceless %}
                                                            {% if initiative_race.initiative_votes == 0 and initiative_race.opponent_votes == 0 %}
                                                                Polls for {{ initiative.title }} aren't in yet. Track this race and other progressive's results nationwide LIVE.
                                                            {% elif initiative_race.initiative_votes > initiative_race.opponent_votes %}
                                                                {{ initiative.name }} is leading {{ initiative_race.initiative_votes_percentage }} to {{ initiative_race.opponent_votes_percentage }}. Track this race and other progressive's results nationwide LIVE.
                                                            {% else %}
                                                                {{ initiative.name }} is trailing {{ initiative_race.opponent_votes_percentage }} to {{ initiative_race.initiative_votes_percentage }}. Track this race and other progressive's results nationwide LIVE.
                                                            {% endif %}{% endspaceless %}&url=https://ourrevolution.com/election-2016" class="social-icon twitter-icon twitter-bg">Tweet</a>
                                         </div>
                                        </div>
                                        
                                        <div class="card__results">
                                            <div class="card__results--status clearfix">
                                              <div class="card__results--reporting pull-left">{% if initiative_race.notes %} {{ initiative_race.notes }} {% else %} 0% reporting {% endif %}</div>
                                              
                                              {% if initiative_race.last_updated %}
                                                  <div class="card__results--updated pull-right">Last updated {{ initiative_race.last_updated | timesince }} ago</div>
                                              {% endif %}
                                            </div>
                                            
                                            <div class="card__results--numbers">
                                              <div class="card__results--result">
                                                  <div class="uppercase">{{ initiative.vote | yesno | title }}</div>
                                                  <div class="card__results--percentage">{{ initiative_race.initiative_votes_percentage }}</div>
                                                  <div class="card__results--votes">{{ initiative_race.initiative_votes | intcomma }}</div>
                                              </div>
                                              
                                              <div class="card__results--seperator">-</div>
                                              
                                              <div class="card__results--result">
                                                <div class="uppercase">{{ initiative.vote | yesno:"No,Yes" | title }}</div>
                                                <div class="card__results--percentage">{{ initiative_race.opponent_votes_percentage }}</div>
                                                <div class="card__results--votes">{{ initiative_race.opponent_votes | intcomma }}</div>
                                              </div>
                                            </div>
                                        </div>
                                      </li>

                                  {% endwith %}

                              {% endwith %}

                          {% endfor %}
                        </ul>
                      </div>


                      {% endif %}
                    
                    </div>

                </div>
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/list.fuzzysearch.js/0.1.0/list.fuzzysearch.js"></script>
        
        <script>      
          // function filter(category) {
          //   if (category && category != 'all') {
          //     List.filter(function (item) {
          //       if(category == item._values.category)
          //         return true;
          //       else
          //         return false;
          //     });
          //   } else {
          //     List.filter();
          //   }
          // }
          
          $(document).ready(function() {
            $('#initiatives').hide();
            
            $('.results-selector a').on('click', function() {
              var show = $(this).attr('data-show');
              var sortingBy = "state";
              var sortingAsc = true;
              
              $(".sort-buttons .btn").each(function(e) {
                $(this).removeClass("active");
                $(this).removeClass("asc");
                $(this).removeClass("desc");
              });
              
              $('.no-result').hide();
              
              $('.results-selector a').removeClass('active');
              
              $('#candidates').hide();
              $('#initiatives').hide();
              
              $(this).addClass('active');
              
              list = new List(show + '-list', options);
              
              $('#' + show).show();
              
              list.on("updated", function(list) {
                console.log('test');
                if (list.matchingItems.length > 0) {
                  $('.no-result').hide()
                } else {
                  $('.no-result').show()
                }
              })
            })
            
            var sortingBy = "state";
            var sortingAsc = true;
            
            var options = {
                valueNames: [
                  'state',
                  'name',
                  'category',
                  { name: 'featured', data: 'is-featured' }
                ],
                plugins: [
                  ListFuzzySearch()
                ]
            };

            var list = new List('candidates-list', options);
            
            var self = this;
            
            // sorting
            // Functions
            function fuzzySearch(e) {
              list.fuzzySearch.search(e.value);
            }
            
            function sort(sortBy) {
            if (sortingBy === sortBy) {
              if (sortingAsc) {
                list.sort(sortBy, { order: 'desc'});
                sortingAsc = false;
              }
              else {
                list.sort(sortBy, { order: 'asc'});
                sortingAsc = true;
              }
            } else {
              list.sort(sortBy, { order: 'asc'});
              sortingAsc = true;
            }

            sortingBy = sortBy;
            }
            
            $(".sort-buttons").on("click", function(e) {
              var btn = $(e.target).closest(".btn");
              var sortByData = btn.attr("sort-by");

              sort(sortByData);

              if (sortingBy == sortByData) {
                $(".sort-buttons .btn").each(function(e) {
                  $(this).removeClass("active");
                  $(this).removeClass("asc");
                  $(this).removeClass("desc");
                });
                btn.toggleClass("active");

                if (sortingAsc) {
                  btn.addClass("asc");
                  btn.removeClass("desc");
                } else {
                  btn.addClass("desc");
                  btn.removeClass("asc");
                }
              }
            });

            $('.card__item--share').on('click', '.facebook-icon', function(){

                FB.ui(
                  {
                    method: 'share',
                    href: 'https://ourrevolution.com/election-2016',
                  });

            });
            
            $('#fuzzy-search').on('keyup', function() {              
              fuzzySearch(this);
            })
            // 
            list.on("updated", function(list) {
              if (list.matchingItems.length > 0) {
                $('.no-result').hide()
              } else {
                $('.no-result').show()
              }
            })
          })
        </script>

{% endblock %}
