{% extends "pages/base_page.html" %}

{% load humanize %}

{% block content %}


        <div class="container-fluid election-tracker">
          
          <div class="row">
            <div class="page-heading--full clearfix">
                <div class="container">
                    <div class="status-indicator">Live Results</div>
                    <h1>{{ page.title }}</h1>
                </div>
              </div>
            </div>
          
            <div class="row">
                <div class="container">
                    <div class="page-sub-nav filter clearfix">
                      <div class="form-inline pull-left">
                        <div class="form-group">
                          <label for="fuzzy-search" class="sr-only">Filter By:</label><input type="search" class="filter__search fuzzy-search" id="fuzzy-search" onkeyup="fuzzySearch(this);" placeholder="Search by Name or State...">
                        </div>
                      </div>

                      <div class="filter__sort pull-right">
                        Sort By:
                        <div class="btn-group sort-buttons" role="group" aria-label="Sort By:">
                          <button type="button" class="btn btn-default" sort-by="state">State <span class="caret"></span></button>
                          <button type="button" class="btn btn-default" sort-by="category">Category <span class="caret"></span></button>
                        </div>
                      </div>
                    </div>
                    
                    <!-- completely arbitrary; maybe this should be an admin setting, even -->
                    <div>
                        <!-- {% if page.body %}
                            {{ page.body | safe }}
                        {% endif %} -->

                        {% if candidate_race_snippets.exists %}
                            <h2>Our Candidates</h2>
                            <hr>
                        
                            <ul class="card-list third list card-list--results">
                                {% for candidate_race_snippet in candidate_race_snippets %}

                                    {% with candidate_race_snippet.candidate_race as candidate_race %}
                                {% with candidate_race.candidate as candidate %}

                                            <li class="card clearfix">
                                                <div class="card__photo" style="background-image: url({{ candidate.photo.url }})"></div>
                                                  <div class="card__content">
                                                    <div class="candidate__info">
                                                      <span class="card__item">{{ candidate.name }}</span>
                                                      <span class="card__item bold smaller">{{ candidate.state }} {{ candidate.district }}</span>
                                                      <span class="card__item bottom">{{ candidate.office }}</span>
                                                    </div>
                                                    
                                                    <div class="card__item card__item--share">
                                                      <a href="#" class="social-icon facebook-icon facebook-bg">Share on Facebook</a>
                                                      <a href="#" class="social-icon twitter-icon twitter-bg">Tweet</a>
                                                   </div>
                                                  </div>
                                                  
                                                  <div class="card__results">
                                                      <div class="card__results--status clearfix">
                                                        <div class="card__results--reporting pull-left">45% reporting</div>
                                                        
                                                        <div class="card__results--updated pull-right">Last updated 3 mins. ago</div>
                                                      </div>
                                                      
                                                      <div class="card__results--numbers">
                                                        <div class="card__results--result">
                                                            <div>{{candidate.name}}</div>
                                                            <div class="card__results--percentage">0%</div>
                                                            <div class="card__results--votes">14,387</div>
                                                        </div>
                                                        
                                                        <div class="card__results--seperator">-</div>
                                                        
                                                        <div class="card__results--result">
                                                          <div>Opponent</div>
                                                          <div class="card__results--percentage">0%</div>
                                                          <div class="card__results--votes">412</div>
                                                        </div>
                                                      </div>
                                                  </div>
                                                  
                                        {% endwith %}

                                    {% endwith %}

                                {% endfor %}
                            </ul>

                        {% endif %}



                        {% if initiative_race_snippets.exists %}
                            <h2>Our Initiatives</h2>
                            <hr>

                            <ul class="card-list third list card-list--results">
                            {% for initiative_race_snippet in initiative_race_snippets %}

                                {% with initiative_race_snippet.initiative_race as initiative_race %}
                                    {% with initiative_race.initiative as initiative %}

                                        <li class="card clearfix">
                                          <div class="card__content full initiative">
                                            <div>
                                              <span class="icon {{initiative.category}} category">{{initiative.category}}</span>
                                              <span class="card__item bold"><span>{{ initiative.name }}</span></span>
                                              <span class="card__item name">{{this.name}}</span>
                                            </div>
                                            <span class="card__item state">{{ initiative.state }} {{ initiative.district }}</span>
                                          </div>
                                          
                                          <div class="card__results">
                                              <div class="card__results--status clearfix">
                                                <div class="card__results--reporting pull-left">45% reporting</div>
                                                
                                                <div class="card__results--updated pull-right">Last updated 3 mins. ago</div>
                                              </div>
                                              
                                              <div class="card__results--numbers">
                                                <div class="card__results--result">
                                                    <div class="uppercase">Yes</div>
                                                    <div class="card__results--percentage">0%</div>
                                                    <div class="card__results--votes">14,387</div>
                                                </div>
                                                
                                                <div class="card__results--seperator">-</div>
                                                
                                                <div class="card__results--result">
                                                  <div class="uppercase">No</div>
                                                  <div class="card__results--percentage">0%</div>
                                                  <div class="card__results--votes">412</div>
                                                </div>
                                              </div>
                                          </div>
                                        </li>

                                    {% endwith %}

                                {% endwith %}

                            {% endfor %}


                        {% endif %}

                    </div>



                </div>
            </div>
        </div>

{% endblock %}
