{% extends "group_portal.html" %}

{% load bootstrap3 wagtailcore_tags local_groups_tags %}

{% block nav %}
    {{ block.super }}
{% endblock %}

{% block content %}

<div class="container">

  <div class="row pt4 pb4">

    <div class="col-md-3">
      {% if user.is_authenticated %}
        {% group_portal_nav %}
      {% endif %}
      
      <div class="panel panel-default hidden" id="content-body-toc">
        <div class="panel-heading">
          <h3 class="panel-title">Contents</h3>
        </div>
        <div class="list-group nav-toc">
        </div>
      </div>
    </div>

    <div class="col-md-9 col-md-offset-3" id="content-body">
      {{ page.body | richtext }}
    </div>

  </div>
</div>

{% endblock %}

{% block footer_scripts %}
<script>
  $(document).ready(function() {

    // Get layout elements
    var $contentBody = $("#content-body");

    // Get all headings from content body
    var $headings = $("h1, h2, h3, h4, h5, h6", $contentBody);

    if ($headings.length) {

      // Get layout elements
      var $contentToc = $("#content-body-toc");
      var $navToc = $(".nav-toc", $contentToc);

      // For each heading set the id attribute and add link to nav
      $headings.each(function(index) {
        var slug = "table-of-contents-" + (index + 1);
        $(this).attr("id", slug);
        $navToc.append(
          '<a class="list-group-item" href="#' + slug + '">' + $(this).text() + '</a>'
        );
      });

      // Update layout and display table of contents
      $contentBody.removeClass('col-md-offset-3');
      $contentToc.removeClass('hidden');
    }
  });
</script>
{% endblock %}
