{% extends "pages/base_page.html" %}

{% load pages_tags %}

{% block title %}Thanks for Signing Up | {{ block.super }}{% endblock %}
{% block page_title %}Thanks for Signing Up | {{ block.super }}{% endblock %}

{% block content %}


  <div class="container-fluid">
		<div class="row">
      <div class="page-heading page-heading--full clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1>Thanks for submitting your group.</h1>
            </div>
          </div>
        </div>
      </div>
  	  <div class="container">

    		<section class='home-section--info col-md-8 col-md-offset-2'>
          <p class="fs18"><strong>We've received your group submission and will be in touch shortly with final steps to get your group online and official.</strong></p>

          <p class="fs18">While many of us have different approaches to achieving progressive change, Bernie reminded us over and over again that it's when we <em>come together</em> and <em>get organized</em> that we can make change happen. The coming years will be, in our opinion, the most important in recent political history - it's on us to 'right the course' of history, and that means getting local.</p>

          <p class="fs18">We're excited to have you on board, and to empower your group with new members, resources, training, and programs that your group can plug into.</p>

          <p class="fs18"><strong>Questions?</strong> Let us know at <a href="mailto:info@ourrevolution.com">info@ourrevolution.com</a>.</p>
    		</section>
  	  </div>
  	</div>

  	<div class="row row--dark">
  	  <div class="container">
    		<section class="home-section clearfix">

    		  <div class="col-md-10 col-md-offset-1">

    			<h1>Explore Our Revolution</h1>

    			<ul class="action-list">
    			  <li class="action-list__action col-md-4">
    				<a class="action__link" href="/action">
    				  <h3>Take Action</h3>
    				  <p class="action__description">Volunteer today and help continue our political revolution through grassroots organization.</p>
    				  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
    				</a>
    			  </li>
    			  <li class="action-list__action col-md-4">
    				<a class="action__link" href="/issues">
    				  <h3>Learn About the Issues</h3>
    				  <p class="action__description">Learn about the important issues facing our country today, and what you can do to fix them.</p>
    				  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
    				</a>
    			  </li>
    			  <li class="action-list__action col-md-4">
    				<a class="action__link" href="{% candidates_url %}">
    				  <h3>Explore Our Candidates</h3>
    				  <p class="action__description">Find out who will continue the political revolution, and what you can do to help them win.</p>
    				  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
    				</a>
    			  </li>
    			</ul>
    		  </div>
    		</section>
  	  </div>
  	</div>

	  </div>


{% endblock %}
