{% extends "pages/base_page.html" %}

{% load bootstrap3 wagtailcore_tags %}

{% block page_title %}Our Revolution - Group Leader Login{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text pb2">
    <div class="back-bar clearfix">
      <div class="container clearfix uppercase">

        <span class="pull-right">
          {% if request.user.is_authenticated %}
          {{ request.user.get_username }} |
          <a href="{% url 'logout' %}?next={{ request.path | urlencode }}">
            Logout
          </a>
          {% else %}
          <a href="{% url 'groups-login' %}?next={{ request.path | urlencode }}">
            <strong>Groups Portal</strong>
          </a>
          {% endif %}
        </span>
      </div>
    </div>

    <div class="container pt2">
      <div class="col-md-8 col-md-offset-2">
        <span class="article-type">Groups Dashboard</span>
        <h1 class="mt0 mb0">Group Leader Login</h1>
      </div>
    </div>
  </div>

  <div class="row pt4 pb4">
    <div class="container">

      <div class="col-md-4" id="content-body-toc">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Contents</h3>
          </div>
          <div class="list-group nav-toc">
          </div>
        </div>
      </div>

      <div class="col-md-8" id="content-body">
        {{ page.body | richtext }}
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block footer_scripts %}
<script>
	$(document).ready(function() {

    // Get layout elements
    var $contentBody = $("#content-body");
    var $contentToc = $("#content-body-toc");
    var $navToc = $(".nav-toc", $contentToc);

    // Get all headings from content body
    var $headings = $("h1, h2, h3, h4, h5, h6", $contentBody);

    // For each heading set the id attribute and add link to nav
    if ($headings.length) {
      $headings.each(function(index) {
        var slug = "table-of-contents-" + (index + 1);
        $(this).attr("id", slug);
        $navToc.append(
          '<a class="list-group-item" href="#' + slug + '">' + $(this).text() + '</a>'
        );
      });

    } else {
      // If list is empty then hide sidenav and update layout
      $contentToc.hide();
      $contentBody.addClass('col-md-offset-2');
    }
	});
</script>
{% endblock %}
