{% extends "pages/base_page.html" %}

{% load wagtailcore_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row row--main home">    
    <div class="container">
      <section class="module-container module-container--video clearfix"> 
        <div class="module-col sixty alone block">
          <div class="module full dark-blue-bg ma-rally-bg white-text">
            <div class="module__content bottom br3 pt4" id="great-success">
              <div class="attribution--tr">Our Revolution Massachusetts</div>
              <div class="br3 dark-wash pa20">
                <span class="article-type ts0">Thank You</span>
                <h3 class="mb0 mt0 module__heading ts0">Over 30,000 of you attended over 150 events across the country to fight for health care.</h3>
              </div>
              
              <a href="/" class="ts0 btn btn-primary btn-block module__button uppercase ls2">Read More</a>
            </div>
          </div>
        </div>

        <div class="module-col forty alone block"> 
          <div class="module full centered dark-blue-bg br3 white-text">
            <div class="module__content br3" id="rsvp">
              <div class="sign-up-form small float">
                <h2 class="mt0">Sign Up for Our Revolution</h3>
                <form action="https://go.ourrevolution.com/page/s/join?source=ourrevolution.com/-module-small" method="POST">
                  <span class="form-group email">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" class="email" placeholder="you@example.com" required>
                  </span>

                  <span class="form-group zip ">
                    <label for="zip">Zip Code</label>
                    <input type="text" name="zip" id="zip" class="zip" placeholder="05402" required>
                  </span>

                  <span class="form-group submit">
                    <button class="btn btn-secondary btn-block uppercase ls2">Sign Up</button>
                  </span>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <div class="container">
      <section class='home-section--info col-md-10 col-md-offset-1'>
        <div class='col-md-8 col-md-offset-2'>
          <h2>It's time to get back to work.</h2>
          <p class="info__description">Our Revolution will reclaim democracy for the working people of our country by harnessing the transformative energy of the “political revolution.”  Through supporting a new generation of progressive leaders, empowering millions to fight for progressive change and elevating the political consciousness, Our Revolution will transform American politics to make our political and economic systems once again responsive to the needs of working families.</p>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="action-list">
              <li class="action-list__action col-md-4">
                <a class="action__link" id="action-secondary-link" href="/action">
                  <h3>Take Action</h3>
                  <p class="action__description">Volunteer today and help continue our political revolution through grassroots organization.</p>
                  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
                </a>
              </li>
              <li class="action-list__action col-md-4">
                <a class="action__link" id="issues-secondary-link" href="/issues">
                  <h3>Learn About the Issues</h3>
                  <p class="action__description">Learn about the important issues facing our country today, and what you can do to fix them.</p>
                  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
                </a>
              </li>
              <li class="action-list__action col-md-4">
                <a class="action__link" id="candidates-secondary-link" href="/candidates">
                  <h3>Explore Our Candidates</h3>
                  <p class="action__description">Find out who will continue the political revolution, and what you can do to help them win.</p>
                  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>

  {% if news %}
    <div class="row row--dark">
      <div class="container">
        <section class="home-section--news col-md-10 col-md-offset-1" id="news-section">
            <h2 class="section-heading">In the News</h2>
            {% for news_item in news %}
              <div class="col-md-4 content">
                <div class="news-item">
                  <a href="{% pageurl news_item %}"><h4 class="content__heading">{{ news_item.title }}</h4></a>
                  <div class="attribution"><strong>{{ news_item.newspost.get_post_type_display }}</strong></div>
                  <p class="content__copy">{{ news_item.newspost.abstract | striptags }}</p>
                  <a href="{% pageurl news_item %}" class="content__btn btn btn-secondary">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </div>
            {% endfor %}
        </section>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="container">
      <section class="home-section--sign-up col-md-6 col-md-offset-3 sign-up-form">
        <h2>Sign up for the future of our political movement.</h2>

        <form action="https://go.ourrevolution.com/page/s/join?source=ourrevolution.com/-secondary" method="POST">
          <span class="form-group email">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" class="email" placeholder="you@example.com" required>
          </span>

          <span class="form-group zip ">
            <label for="zip">Zip Code</label>
            <input type="text" name="zip" id="zip" class="zip" placeholder="90210" required>
          </span>

          <span class="form-group submit">
            <button class="btn btn-primary btn-block">Join</button>
          </span>
        </form>
      </section>
    </div>
  </div>

  <div class="row row--dark">
    <div class="container">
      <section class="home-section--donate col-md-6 col-md-offset-3">
        <h3>Donate to Our Revolution</h3>
        <p>Our Revolution is a non-profit that runs off of funds from contributors like you. Help us continue this movement.</p>
        <form id="quick-donate" class="quick-donate" action="https://secure.actblue.com/contribute/page/ourrevolution?amount=15" method="GET">
          <button type="button" class="btn btn-default btn-amount" value="15">$15</button>
          <button type="button" class="btn btn-primary btn-amount" value="27">$27</button>
          <button type="button" class="btn btn-default btn-amount" value="50">$50</button>
          <button type="button" class="btn btn-default btn-amount" value="100">$100</button>
          <input type="text" placeholder="$___" class="input-amount">
          <button class="btn btn-continue btn-secondary" id="donate-continue" type="submit">Continue <span class="glyphicon glyphicon-chevron-right"></span></button>
          <input type="hidden" name="amount" id="amount">
          <input type="hidden" name="refcode" id="refcode" value="home-bottom-donate">
        </form>
      </section>
      
      <script>
        $(document).ready(function() {
          var keycode;
          $('.btn-amount').on('click touchstart', function(e) {
            e.preventDefault();
            $("input#amount").val(this.value);
            $('form#quick-donate').submit();
          });
          $('.input-amount').on('keyup', function(e) {
            keycode = (event.keyCode ? event.keyCode : event.which);
            $("input#amount").val(this.value);
            if(keycode == 13) {
              $('form#quick-donate').submit();
            }
          });
        });
      </script>
    </div>
  </div>
</div>

{% endblock %}
