{% extends "pages/base_page.html" %}

{% load wagtailcore_tags %}

{% block page_title %}Our Revolution{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row row--main home">    
    <div class="container">
      <section class="module-container module-container--ppl clearfix">                  
        
        
        <div class="module-col sixty margin-right table">          
          <div class="module full centered blue-bg map-bg white-text br3">
            <div class="module__content">
              <div class="pa20 br3 medium-wash">
                <h1 class="fs4 mt0 mb0">Local Groups</h1>
                <p>Search for a local Our Revolution group in your area or start your own group today.</p>
                
                <a href="/groups" class="btn btn-block btn-secondary ls2 uppercase">Find a Group</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="module-col forty margin-left table">  
          <div class="module full centered action-bg white-text br3">
            <div class="module__content boldest">
              <div class="pa20 br3 medium-wash">
                <h1 class="fs4 mt0 mb0">Take Action</h1>
                
                <p>Our Revolution is powered by thousands of volunteers from across the world - find out how you can get involved today.</p>
                
                <a href="/action" class="btn btn-block btn-primary ls2 uppercase">Take Action</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <div class="row">
    	  <div class="embed-responsive  embed-responsive-16by9 dark-wash">
      		<iframe width="560" height="315" src="https://www.youtube.com/embed/7InamjVD4SQ" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
    	  </div>
    	</div>  
    </div> -->
    </div>
  </div>

  <div class="row">
    <div class="container">
      <section class='home-section--info col-md-10 col-md-offset-1'>
        <div class='col-md-8 col-md-offset-2'>
          <h2>When we stand together there is nothing we cannot accomplish.</h2>
          <p class="info__description">Our Revolution will reclaim democracy for the working people of our country by harnessing the transformative energy of the “political revolution.”  Through supporting a new generation of progressive leaders, empowering millions to fight for progressive change and elevating the political consciousness, Our Revolution will transform American politics to make our political and economic systems once again responsive to the needs of working families.</p>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="action-list">
              <li class="action-list__action col-md-4">
                <a class="action__link" id="action-secondary-link" href="/action">
                  <h3>Take Action</h3>
                  <p class="action__description">Volunteer today and help continue our political revolution through grassroots organization.</p>
                  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
                </a>
              </li>
              <li class="action-list__action col-md-4">
                <a class="action__link" id="issues-secondary-link" href="/issues">
                  <h3>Learn About the Issues</h3>
                  <p class="action__description">Learn about the important issues facing our country today, and what you can do to fix them.</p>
                  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
                </a>
              </li>
              <li class="action-list__action col-md-4">
                <a class="action__link" id="candidates-secondary-link" href="/candidates">
                  <h3>Explore Our Candidates</h3>
                  <p class="action__description">Find out who will continue the political revolution, and what you can do to help them win.</p>
                  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>

  {% if news %}
    <div class="row row--dark">
      <div class="container">
        <section class="home-section--news col-md-10 col-md-offset-1" id="news-section">
            <h2 class="section-heading">In the News</h2>
            {% for news_item in news %}
              <div class="col-md-4 content">
                <div class="news-item">
                  <a href="{% pageurl news_item %}"><h4 class="content__heading">{{ news_item.title }}</h4></a>
                  <div class="attribution"><strong>{{ news_item.newspost.get_post_type_display }}</strong></div>
                  <p class="content__copy">{{ news_item.newspost.abstract | striptags }}</p>
                  <a href="{% pageurl news_item %}" class="content__btn btn btn-secondary uppercase ls2">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </div>
            {% endfor %}
            <div class="col-xs-12 col-p10 mt10">
              <a href="/press" class="btn btn-primary btn-block uppercase ls2">Read More News <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </section>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="container">
      <section class="home-section--sign-up col-md-6 col-md-offset-3 sign-up-form">
        <h2>Sign up for the future of our political movement.</h2>

        <form action="https://go.ourrevolution.com/page/s/join?source=ourrevolution.com/-secondary" method="POST">
          <span class="form-group email">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" class="email" placeholder="you@example.com" required>
          </span>

          <span class="form-group zip ">
            <label for="zip">Zip Code</label>
            <input type="text" name="zip" id="zip" class="zip" placeholder="90210" required>
          </span>

          <span class="form-group submit">
            <button class="btn btn-primary btn-block uppercase ls2">Join</button>
          </span>
        </form>
      </section>
    </div>
  </div>

  <div class="row row--dark">
    <div class="container">
      <section class="home-section--donate col-md-6 col-md-offset-3">
        <h3>Donate to Our Revolution</h3>
        <p>Our Revolution is a non-profit that runs off of funds from contributors like you. Help us continue this movement.</p>
        <form id="quick-donate" class="quick-donate" action="https://secure.actblue.com/contribute/page/ourrevolution?amount=15" method="GET">
          <button type="button" class="btn btn-default btn-amount" value="15">$15</button>
          <button type="button" class="btn btn-primary btn-amount" value="27">$27</button>
          <button type="button" class="btn btn-default btn-amount" value="50">$50</button>
          <button type="button" class="btn btn-default btn-amount" value="100">$100</button>
          <input type="text" placeholder="$___" class="input-amount">
          <button class="btn btn-continue btn-secondary uppercase ls2" id="donate-continue" type="submit">Continue <span class="glyphicon glyphicon-chevron-right"></span></button>
          <input type="hidden" name="amount" id="amount">
          <input type="hidden" name="refcode" id="refcode" value="home-bottom-donate">
        </form>
      </section>
      
      <script>
        $(document).ready(function() {
          var keycode;
          $('.btn-amount').on('click touchstart', function(e) {
            e.preventDefault();
            $("input#amount").val(this.value);
            $('form#quick-donate').submit();
          });
          $('.input-amount').on('keyup', function(e) {
            keycode = (event.keyCode ? event.keyCode : event.which);
            $("input#amount").val(this.value);
            if(keycode == 13) {
              $('form#quick-donate').submit();
            }
          });
        });
      </script>
    </div>
  </div>
</div>

{% endblock %}
