{% extends "pages/base_page.html" %}

{% load wagtailcore_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row row--main home">    
    <div class="container">
      <div class="row">
    	  <div class="embed-responsive  embed-responsive-16by9 dark-wash">
      		<iframe width="560" height="315" src="https://www.youtube.com/embed/F4cZczBPxw8?start=694" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
    	  </div>
    	</div>  
      
      <div class="row dark-blue-bg white-text pt4 pb4">
        <div class="col-md-5 col-md-offset-1">
          <h1 class="fs4">Become an Our Revolution member today</h1>
          <p>Our Revolution is built upon the success of Bernie Sanders’ historic presidential campaign, and will continue to thrive with the support of an unprecedented level of grassroots organizers.</p>
          
          <p>Becoming a member of Our Revolution means being on the frontlines of change, having a real voice in our endorsements and issues, and being a part of grassroots campaigns to push the political revolution forward.</p>

          <p><strong>After you've signed up, we'll send you a confirmation email with information on how you can immediately get involved.</strong></p>
        </div>

        <div class="sign-up-form petition clearfix col-md-4 col-md-offset-1 mt20">
          <form id="signup">
            <span class="form-group email">
              <label for="email">Email Address*</label>
              <input type="email" name="email" id="email" class="email" placeholder="you@example.com" required>
            </span>
            
            <span class="form-group first-name">
              <label for="firstname">First Name*</label>
              <input type="text" name="firstname" id="firstname" class="first-name" placeholder="Bernard" required>
            </span>

            <span class="form-group zip">
              <label for="lastname">Last Name*</label>
              <input type="text" name="lastname" id="lastname" class="zip" placeholder="Sanders" required>
            </span>

            <span class="form-group first-name">
              <label for="zip">Postal Code*</label>
              <input type="text" name="zip" id="zip" class="first-name" placeholder="05402" required>
            </span>
            
            <span class="form-group zip">
              <label for="phone">Phone Number</label>
              <input type="tel" name="phone" id="phone" class="zip" placeholder="5558675309">
            </span>

            <span class="form-group submit">
              <button class="btn btn-primary btn-block uppercase ls2">Become a Member</button>
            </span>
          </form>
          
          <div class="alert alert-success mt20 text-center">Thank you for signing up to be a member of Our Revolution! Look out for a confirmation email soon.</div>
          <div class="alert alert-danger mt20 text-center">There was an error processing your submission. Please <strong><a href="https://go.ourrevolution.com/page/s/become-a-member" target="_blank">click here</a></strong> to become a member.</div>
        </div>    
      </div>
    </div>

    <script>
      $(document).ready(function() {

        $('#signup').on('submit', function(e) {
          e.preventDefault();
          
          var data = $(this).serialize();
          var self = $(this);
                
          $.ajax({
            method: 'POST',
            url: "https://go.ourrevolution.com/page/sapi/become-a-member?source=170331-ourrevolution-homepage",
            data: data,
            crossDomain: true
          })
          .done(function(data) {
            $(self).parent().find('.alert-success').fadeIn();
            ga('send', 'event', 'Sign Up', 'submit', 'Bernie Sanders and Elizabeth Warren Livestream Membership Signup');
          })
          .fail(function(data) {
            $(self).parent().find('.alert-danger').fadeIn();
            ga('send', 'event', 'Sign Up Error', 'submit', 'Bernie Sanders and Elizabeth Warren Livestream Membership Signup Error');
          })
          
        })
        
      })
    </script>
  </div>

  <div class="row">
    <div class="container">
      <section class='home-section--info col-md-10 col-md-offset-1'>
        <div class='col-md-8 col-md-offset-2'>
          <h2>It's time to get back to work.</h2>
          <p class="info__description">Our Revolution will reclaim democracy for the working people of our country by harnessing the transformative energy of the “political revolution.”  Through supporting a new generation of progressive leaders, empowering millions to fight for progressive change and elevating the political consciousness, Our Revolution will transform American politics to make our political and economic systems once again responsive to the needs of working families.</p>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="action-list">
              <li class="action-list__action col-md-4">
                <a class="action__link" id="action-secondary-link" href="/action">
                  <h3>Take Action</h3>
                  <p class="action__description">Volunteer today and help continue our political revolution through grassroots organization.</p>
                  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
                </a>
              </li>
              <li class="action-list__action col-md-4">
                <a class="action__link" id="issues-secondary-link" href="/issues">
                  <h3>Learn About the Issues</h3>
                  <p class="action__description">Learn about the important issues facing our country today, and what you can do to fix them.</p>
                  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
                </a>
              </li>
              <li class="action-list__action col-md-4">
                <a class="action__link" id="candidates-secondary-link" href="/candidates">
                  <h3>Explore Our Candidates</h3>
                  <p class="action__description">Find out who will continue the political revolution, and what you can do to help them win.</p>
                  <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>

  {% if news %}
    <div class="row row--dark">
      <div class="container">
        <section class="home-section--news col-md-10 col-md-offset-1" id="news-section">
            <h2 class="section-heading">In the News</h2>
            {% for news_item in news %}
              <div class="col-md-4 content">
                <div class="news-item">
                  <a href="{% pageurl news_item %}"><h4 class="content__heading">{{ news_item.title }}</h4></a>
                  <div class="attribution"><strong>{{ news_item.newspost.get_post_type_display }}</strong></div>
                  <p class="content__copy">{{ news_item.newspost.abstract | striptags }}</p>
                  <a href="{% pageurl news_item %}" class="content__btn btn btn-secondary">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </div>
            {% endfor %}
        </section>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="container">
      <section class="home-section--sign-up col-md-6 col-md-offset-3 sign-up-form">
        <h2>Sign up for the future of our political movement.</h2>

        <form action="https://go.ourrevolution.com/page/s/join?source=ourrevolution.com/-secondary" method="POST">
          <span class="form-group email">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" class="email" placeholder="you@example.com" required>
          </span>

          <span class="form-group zip ">
            <label for="zip">Zip Code</label>
            <input type="text" name="zip" id="zip" class="zip" placeholder="90210" required>
          </span>

          <span class="form-group submit">
            <button class="btn btn-primary btn-block">Join</button>
          </span>
        </form>
      </section>
    </div>
  </div>

  <div class="row row--dark">
    <div class="container">
      <section class="home-section--donate col-md-6 col-md-offset-3">
        <h3>Donate to Our Revolution</h3>
        <p>Our Revolution is a non-profit that runs off of funds from contributors like you. Help us continue this movement.</p>
        <form id="quick-donate" class="quick-donate" action="https://secure.actblue.com/contribute/page/ourrevolution?amount=15" method="GET">
          <button type="button" class="btn btn-default btn-amount" value="15">$15</button>
          <button type="button" class="btn btn-primary btn-amount" value="27">$27</button>
          <button type="button" class="btn btn-default btn-amount" value="50">$50</button>
          <button type="button" class="btn btn-default btn-amount" value="100">$100</button>
          <input type="text" placeholder="$___" class="input-amount">
          <button class="btn btn-continue btn-secondary" id="donate-continue" type="submit">Continue <span class="glyphicon glyphicon-chevron-right"></span></button>
          <input type="hidden" name="amount" id="amount">
          <input type="hidden" name="refcode" id="refcode" value="home-bottom-donate">
        </form>
      </section>
      
      <script>
        $(document).ready(function() {
          var keycode;
          $('.btn-amount').on('click touchstart', function(e) {
            e.preventDefault();
            $("input#amount").val(this.value);
            $('form#quick-donate').submit();
          });
          $('.input-amount').on('keyup', function(e) {
            keycode = (event.keyCode ? event.keyCode : event.which);
            $("input#amount").val(this.value);
            if(keycode == 13) {
              $('form#quick-donate').submit();
            }
          });
        });
      </script>
    </div>
  </div>
</div>

{% endblock %}
