{% extends "pages/base_page.html" %}

{% load static wagtailcore_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="page-heading page-heading--full clearfix">
      <div class="container">
        <h1>Our Initiatives</h1>
      </div>
    </div>
  </div>
</div>

<div class="container pt4 pb4">
  <div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>We haven't endorsed any new ballot initiatives yet.</h1>
    
    <p class="fs18">We're currently hard at work on upcoming elections, so check back soon to see our future ballot initiatives.</p>
    
    <p class="fs18"><strong>In the meantime, you can view our past election results below.</strong></p>
    
    <div class="row">
      <div class="col-md-12">
        <a href="/election-2016" class="btn btn-primary btn-block ls2 uppercase mt20">View Election Results</a>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
