{% extends "pages/base_page.html" %}

{% load static wagtailcore_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="page-heading page-heading--full clearfix">
      <div class="container">
        <h1>Our Initiatives</h1>
      </div>
    </div>
  </div>
</div>

<div class="container pt4 pb4">
  <div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>We presently have not endorsed any new initiatives for the 2017 elections.</h1>
    
    <p class="fs18">Our team is working hard to fully research the upcoming elections and find the best progressive causes for us to support. Please check back soon to see our new slate of ballot initiatives.</p>
    
    <p class="fs18"><strong>In the meantime, you can view our past election results below.</strong></p>
    
    <div class="row">
      <div class="col-md-12">
        <a href="/election-2016" class="btn btn-primary btn-block ls2 uppercase mt20">View 2016 Election Results</a>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
