{% extends "pages/base_page.html" %}

{% block page %}Women Leaders | {{ block.super }}{% endblock %}
{% block page_title %}Women Leaders | {{ block.super }}{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row email">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Take Action</span>
      <h1>Join Lucy Flores in supporting seven outstanding women leaders.</h1>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="inset">
          <p>As the first person endorsed by Bernie Sanders during his presidential campaign, I know how our political revolution can completely change elections to help progressive candidates. Now I'm asking you to help seven other women endorsed by Our Revolution.</p>

          <p><a href="https://secure.actblue.com/contribute/page/seven-women?refcode=web160929">Split a $27 contribution between seven stellar women running for office this November before Friday's huge FEC deadline.</a></p>

          <a href="https://secure.actblue.com/contribute/page/seven-women?refcode=web160929" class="btn btn-danger">CONTRIBUTE</a>
        </div>

        <p>You completely changed my campaign for Congress.</p>

        <p>I was the first candidate endorsed by Bernie Sanders in his campaign for president. Tens of thousands of his supporters donated to my campaign after Bernie's endorsement, and you brought us new resources and enthusiasm that allowed us to actually compete. We came in second in a field of eight after the establishment had counted us completely out.</p>

        <p>Now I'm proud to support seven women running for office as part of our political revolution. <a href="https://secure.actblue.com/contribute/page/seven-women?refcode=web160929">Can you split a $27 contribution to help them win?</a></p>

        <p><strong>Eloise Reyes</strong> worked in grape and onion fields to put herself through college. Now she's running as a progressive for California's assembly. <strong>Nanette Barragan</strong>, an advocate for foster children and herself a daughter of immigrants, is running for Congress in California on a platform of social justice and taking on greedy oil companies. <strong>Nicole Cannizzaro</strong>, a strong fighter for public education, is running for the state senate in my home state of Nevada.</p>

        <p><strong>Pramila Jayapal</strong>, a lifelong progressive champion for working people, is running for Congress in Washington State. <strong>Sabrina Shrader</strong>, a dedicated social worker, is using her personal experience to give a voice to women and families living in poverty as she runs for West Virginia's assembly. <strong>Zephyr Teachout</strong> is someone who'll take on corruption in Congress when she defeats a former lobbyist in New York State. And <strong>Sara Niccoli</strong>, a New York State farmer, is running for state senate on a platform fighting for cleaner energy, rewarding job opportunities, and providing higher-quality education.</p>

        <p>These seven women represent the next generation of leaders in our country. We need to help them win. <strong>Our Revolution set a huge goal of 100,000 contributions to our candidates for Friday's FEC deadline. We're making great progress, but right now we're still short.</strong></p>

        <p><a href="https://secure.actblue.com/contribute/page/seven-women?refcode=web160929">Split a $27 contribution between seven outstanding women leaders and Our Revolution to make sure they win in November and help change the future of our country before Friday's huge FEC fundraising deadline.</a></p>

        <a href="https://secure.actblue.com/contribute/page/seven-women?refcode=web160929"><img alt="Contribute to these seven women endorsed by Our Revolution" src="https://ci4.googleusercontent.com/proxy/Epv_RM2GKWrvgkXJh6rrpeRsyq-C5udHswwXtYKmLiE55RCrarw0divDHnCXkAHhJNwsi5ytaL74ffsK2o1JimXd55KOMPvevWQOgWDR_1kl2F-ZoiC2yfnQHTtA-Y22mw=s0-d-e1-ft#https://go.berniesanders.com/page/contribute_c/100000-sept16/graphic?full-5" style="width:100%;max-width:600px;margin:auto;"></a>

        <a href="https://secure.actblue.com/contribute/page/seven-women?refcode=web160929" class="btn btn-danger">CONTRIBUTE</a>

        <p>Our race for Congress in Nevada showed what happens when a people-powered political revolution takes on the political establishment.</p>

        <p>We were up against two establishment-backed candidates, including one backed by a DC group who endorsed one of my opponents because of my support for Senator Sanders. But you stepped up in a big way and changed the race.</p>

        <p>We can do the same for seven women running in close, important races in November. Let's help Eloise, Nanette, Nicole, Pramila, Sabrina, Zephyr, and Sara win with our political revolution. Are you in?</p>

        <p><a href="https://secure.actblue.com/contribute/page/seven-women?refcode=web160929">Split a $27 contribution between these seven women candidates and Our Revolution before Friday's final end-of-quarter FEC fundraising deadline.</a></p>

        <p>I know the power of our political revolution when you're running for office. Let's show more of our candidates what we can do.</p>

        <p>In solidarity,</p>

        <p>Lucy Flores</p>
        <p>Board Member, Our Revolution</p>

        <a href="https://secure.actblue.com/contribute/page/seven-women?refcode=web160929" class="btn btn-danger">CONTRIBUTE</a>
      </div>
    </div>
  </div>
</div>

  </div>

{% endblock %}