{% extends "pages/base_page.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% load tz %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="container news-post">
            {% image page.header_photo width-1200 as header_photo %}
            <div class="page-heading--press" {% if header_photo %}style="background: url({{ header_photo.url }}) center center; background-size: cover;"{% endif %}>
            <span class="article-type">{{ page.get_post_type_display }}</span>
                <h1>{{ page.title }}</h1>
                {% timezone "America/New_York" %}
                    {% if page.public_date_time %}
                        <span class="article-date">
                          {{ page.public_date_time|date:"jS F, Y" }}
                        </span>
                    {% endif %}
                {% endtimezone %}

                {% if page.header_photo_byline %}
                  <span class="attribution">{{ page.header_photo_byline }}</span>
                {% endif %}
            </div>

            <section class="home-section">
                <div class="col-md-8 col-md-offset-2">
                    {{ page.body | richtext }}
                </div>
            </section>
        </div>
    </div>
</div>



{% endblock %}
