{% extends "pages/base_page.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg white-text">
    <div class="container">
      <div class="pt2 pb2">
        <span class="article-type">Livestream</span>
        <h1 class="mt0 mb0">{{page.livestream_title}}</h1>
        <p class="mt0">{{page.livestream_time}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
	<div class="row">		
		<div class="container pt4 pb4">
			
			<div class="row">
				<div class="col-md-8 pb2 fs18">
					<h1 class="mb0">Our Campaigns & Tools</h1>
				</div>
			</div>
			
			<div class="campaigns">
				<a href="/groups" class="campaigns__card blue-bg">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Local Groups</h3>
						<p class="campaigns__description">Our Revolution is made up of local groups from all around the world. Search for a group to get involved with in your area or start your own group today.</p>
					</div>
				</a>
				
				<a href="http://map.ourrevolution.com" target="_blank" class="campaigns__card blue-bg" onclick="trackOutboundLink('http://map.ourrevolution.com', true)">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Events</h3>
						<p class="campaigns__description">Find or host an Our Revolution event near you today.</p>
					</div>
				</a>
				
				<a href="http://transformtheparty.com" target="_blank" class="campaigns__card blue-bg" onclick="trackOutboundLink('http://transformtheparty.com', true)">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Transform the Party</h3>
						<p class="campaigns__description">There are as many as 8,793 positions of leadership within local parties up for grabs in the next two years, and we need real progressives like you filling them.</p>
					</div>
				</a>
				
				<a href="https://sanctuary.ourrevolution.com" target="_blank" class="campaigns__card blue-bg" onclick="trackOutboundLink('https://sanctuary.ourrevolution.com', true)">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Sanctuary</h3>
						<p class="campaigns__description">Browse our map of sanctuary community policies and find out how you can get involved to help build communities where we all feel welcomed and safe.</p>
					</div>
				</a>
				
				<a href="https://go.ourrevolution.com/page/s/ourresistance-alerts-stand-with-us?source=peoples-summit-stream-{{page.stream_id}}" target="_blank" class="campaigns__card blue-bg" onclick="trackOutboundLink('https://go.ourrevolution.com/page/s/ourresistance-alerts-stand-with-us?source=peoples-summit-stream-{{page.stream_id}}', true)">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Our Resistance Action Alerts</h3>
						<p class="campaigns__description">Sign up to be notified of actions going on in your community surrounding the muslim ban, immigration raids or any event where we need people to stand up for vulnerable communities.</p>
					</div>
				</a>
				
				<a href="https://go.ourrevolution.com/page/content/phonebank?source=peoples-summit-stream-{{page.stream_id}}" target="_blank" class="campaigns__card blue-bg" onclick="trackOutboundLink('https://go.ourrevolution.com/page/s/ourresistance-alerts-stand-with-us?source=peoples-summit-stream-{{page.stream_id}}', true)">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Phonebanking</h3>
						<p class="campaigns__description">Sign up to call voters for Our Revolution endorsed candidates and ballot initiatives.</p>
					</div>
				</a>
				
			</div>
			
		</div>
	</div>
</div>

{% endblock %}
