{% extends "pages/base_page.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row blue-bg ppl-bg white-text">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="pt4 pb4">
          <span class="article-type">People's Summit 2017</span>
          <h1 class="mt0 mb0">Our Revolution Livestream Schedule</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
	<div class="row">		
		<div class="container pt2 pb2">
      <div class="col-md-8 col-md-offset-2">		
        <h2>Sturday, June 10, 2017</h2>
        	
        <div class="f5f5f5-bg pa20 br3 mb20">
          <span class="schedule__time">2:30pm EDT</span>
          <h2 class="mt0 mb0">Empowering Locals: The Power of the Revolution</h2>
          <p class="mt0">Featuring Lucy Flores, Chuy Garcia, Jim Hightower, Nina Tuner, Catalina Velasquez</p>
          <a href="/empowering-locals-power-revolution/" class="btn btn-block btn-primary uppercase ls2">Watch</a>
        </div>
        
        <div class="schedule__item">
          <div class="f5f5f5-bg pa20 br3 mb20">
            <span class="schedule__time">4:45pm EDT</span>
            <h2 class="mt0 mb0">Transforming the Democratic Party</h2>
            <p class="mt0">Chandra Paetsch, Joe Dinkin, Shannon Jackson, Pramila Jayapal, Phil Kim, Rob Quist, Ben Tulchin</p>
            <a href="/transforming-democratic-party/" class="btn btn-block btn-primary uppercase ls2">Watch</a>
          </div>
        </div>
        
        <div class="schedule__item">
          <div class="f5f5f5-bg pa20 br3 mb20">
            <span class="schedule__time">8:00pm EDT</span>
            <h2 class="mt0 mb0">The Political Revolution Now: Bernie Sanders</h2>
            <p class="mt0">Roseann DeMoro, Bernie Sanders</p>
            <a href="/political-revolution-now-senator-bernie-sanders/" class="btn btn-block btn-primary uppercase ls2">Watch</a>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

{% endblock %}
