{% extends "pages/base_page.html" %}


{% block content %}
    
<div class="container-fluid">
    <div class="row row--main">
        <div class="container">
            <section class="module-container">

                <div class="module-col third">
                    <div class="module fill centered white map-bg">
                        <div class="module__content text-left">
                          <div class="br3 dark-wash pa20 fs12">
                            <span class="article-type ts0">Answer Bernie's Call</span>
                            <h1 class="mb0 mt0 module__heading ts0">Host an event in support of health care and Social Security on Febuary 25th at your local Congressperson's office.</h1>
                          </div>
                            <a href="https://go.ourrevolution.com/page/s/aca-actions?source=ws170215-take-action" class="ts0 btn btn-primary btn-block module__button uppercase ls2" target="_blank" onclick="trackOutboundLink('https://go.ourrevolution.com/page/s/aca-actions?source=ws170215-take-action',true)">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="module-col two-thirds">
                    <div class="module full centered dark-blue">
                        <div class="module__content volunteer-form">
                            <h2>Volunteer for the future of our political movement.</h2>

                            <form action="https://go.ourrevolution.com/page/s/volunteer?source=ourrevolution.com/action" method="POST">
                                <span class="form-group email">
                                    <label for="email">Email Address</label>
                                    <input type="email" name="email" id="email" class="email" placeholder="you@example.com" required>
                                </span>

                                <span class="form-group first-name">
                                    <label for="first-name">First Name</label>
                                    <input type="text" name="firstname" id="firstname" class="firstname" placeholder="Jane" required>
                                </span>

                                <span class="form-group last-name">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" name="lastname" id="lastname" class="lastname" placeholder="Doe" required>
                                </span>

                                <span class="form-group zip">
                                    <label for="zip">Zip Code</label>
                                    <input type="text" name="zip" id="zip" class="zip" placeholder="05402" required>
                                </span>

                                <span class="form-group phone">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" name="phone" id="phone" class="phone" placeholder="5554576142" required>
                                </span>

                                <span class="form-group submit">
                                    <button class="btn btn-secondary btn-block uppercase ls2">Join the Fight</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>

{% endblock %}
