{% extends "pages/base_page.html" %}


{% block content %}
	
<div class="container-fluid">
	<div class="row">
		<section class="action-bg pb6 white-text">
			<!-- <div class="light-wash fs18">
				<div class="container">
						<nav class="navbar__sub">
							<ul class="nav navbar-nav no-collapse white-text">
								<li><a data-scroll href="#mission">Volunteer</a></li>
								<li><a data-scroll href="#membership">Our Campaigns</a></li>
								<li><a data-scroll href="#eve nts">Find or host an Event</a></li>
							</ul>
						</nav>
				</div>
			</div> -->
			
			<div class="container pt6">
				<div class="row">
					<div class="col-md-6">
						<div class="pa20 br3 dark-wash fs18 mb20">
							<h1 class="mt0 mb0">Volunteer for Our Revolution</h1>
							<p class="ts0">Our Revolution is powered by thousands of volunteers from across the world. From phonebanking and researching to rapid response teams and help desk volunteers, there’s a way to get involved where you feel comfortable.</p>
							
							<p class="mb0"><strong>After you fill out the volunteer form you'll receive immediate instructions on how to get started.</strong></p>
						</div>
					</div>
					
					<div class="col-md-5 col-md-offset-1">
						<div class="volunteer-form">
							<form action="https://go.ourrevolution.com/page/s/take-action?source=ourrevolution.com/action" method="POST"> 
								<span class="form-group email">
									<label for="email">Email Address</label>
									<input type="email" name="email" id="email" class="email" placeholder="you@example.com" required>
								</span>

								<span class="form-group first-name">
									<label for="first-name">First Name</label>
									<input type="text" name="firstname" id="firstname" class="firstname" placeholder="Jane" required>
								</span>

								<span class="form-group last-name">
									<label for="last-name">Last Name</label>
									<input type="text" name="lastname" id="lastname" class="lastname" placeholder="Doe" required>
								</span>

								<span class="form-group zip">
									<label for="zip">Zip Code</label>
									<input type="text" name="zip" id="zip" class="zip" placeholder="05402" required>
								</span>

								<span class="form-group phone">
									<label for="phone">Phone Number</label>
									<input type="tel" name="phone" id="phone" class="phone" placeholder="5554576142" required>
								</span>

								<span class="form-group submit">
									<button class="btn btn-primary btn-block uppercase ls2">Join the Fight</button>
								</span>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<div class="container pt4 pb4">
			
			<div class="row">
				<div class="col-md-8 pb2 fs18">
					<h1 class="mb0">Our Campaigns & Tools</h1>
				</div>
			</div>
			
			<div class="campaigns">
				<a href="/groups" class="campaigns__card blue-bg">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Local Groups</h3>
						<p class="campaigns__description">Our Revolution is made up of local groups from all around the world. Search for a group to get involved with in your area or start your own group today.</p>
					</div>
				</a>
				
				<a href="http://map.ourrevolution.com" target="_blank" class="campaigns__card blue-bg" onclick="trackOutboundLink('http://map.ourrevolution.com', true)">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Events</h3>
						<p class="campaigns__description">Find or host an Our Revolution event near you today.</p>
					</div>
				</a>
				
				<!-- <a href="http://transformtheparty.com" target="_blank" class="campaigns__card blue-bg" onclick="trackOutboundLink('http://transformtheparty.com', true)">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Transform the Party</h3>
						<p class="campaigns__description">There are as many as 8,793 positions of leadership within local parties up for grabs in the next two years, and we need real progressives like you filling them.</p>
					</div>
				</a> -->
				
				<!-- <a href="https://sanctuary.ourrevolution.com" target="_blank" class="campaigns__card blue-bg" onclick="trackOutboundLink('https://sanctuary.ourrevolution.com', true)">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Sanctuary</h3>
						<p class="campaigns__description">Browse our map of sanctuary community policies and find out how you can get involved to help build communities where we all feel welcomed and safe.</p>
					</div>
				</a> -->
				
				<a href="https://go.ourrevolution.com/page/s/ourresistance-alerts-stand-with-us?source=take-action" target="_blank" class="campaigns__card blue-bg" onclick="trackOutboundLink('https://go.ourrevolution.com/page/s/ourresistance-alerts-stand-with-us?source=take-action', true)">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Our Resistance Action Alerts</h3>
						<p class="campaigns__description">Sign up to be notified of actions going on in your community surrounding the muslim ban, immigration raids or any event where we need people to stand up for vulnerable communities.</p>
					</div>
				</a>
				
				<a href="https://go.ourrevolution.com/page/content/phonebank?source=take-action" target="_blank" class="campaigns__card blue-bg" onclick="trackOutboundLink('https://go.ourrevolution.com/page/s/ourresistance-alerts-stand-with-us?source=take-action', true)">
					<div class="campaigns__info">
						<h3 class="campaigns__title">Phonebanking</h3>
						<p class="campaigns__description">Sign up to call voters for Our Revolution endorsed candidates and ballot initiatives.</p>
					</div>
				</a>
				
			</div>
			
		</div>
	</div>
</div>

{% endblock %}
