{% extends "pages/base_wrapper.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<div class="birthday">
  <div class="notification-banner--birthday">
    <div class="container text-center">
      <!-- <span class="notification-banner__content white-text text-center"><a href="/">Countinue to ourrevolution.com ></a></span> -->
    </div>
  </div>

  <div class="confetti">
    <div class="container container--lg">
      <div class="row">
        <nav class="navbar" id="main-navbar">
            <a href="/" class="navbar__logo"><h1>Our Revolution</h1></a>

            <!-- <div class="navbar__buttons">
              <a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav&amount=27.00" class="navbar__donate btn btn-danger" target="_blank" onclick="trackOutboundLink('https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav-upper&amount=27.00', true);">Donate</a>
            </div> -->
          <!-- </div> -->
        </nav>
      </div>
    </div>

    <section class="container container--lg intro">
      <div class="row">
        <div class="mosaic--200">
          <div class="mosaic-element mosaic-element--one sam"></div>
          <div class="mosaic-element mosaic-element--two dapl-dc"></div>
          <div class="mosaic-element mosaic-element--one bernie-boston"></div>
        </div>
      </div>

      <div class="row">
        <div class="mosaic--auto">
          <div class="mosaic-element mosaic-element--two responsive mosaic-element--no-bg pa20 fs18">
            <h1 class="mb0 mt0">Our Revolution turns one.</h1>
            <p>On August 24, 2017, Our Revolution turns one year old. Join us as we reflect on a year of progress and look forward to the next chapter of our political movement.</p>

            <a href="#stats" data-scroll class="btn btn-secondary uppercase ls2 hidden-xs hidden-sm">Explore Year One <span class="glyphicon glyphicon-chevron-down"></span></a>
          </div>

          <div class="mosaic-element mosaic-element--two responsive">
            <div class="embed-responsive embed-responsive-16by9 dark-wash br3">
              <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FPoliticalRevolution%2Fvideos%2F1615384805180396%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mosaic--200">
          <div class="mosaic-element mosaic-element--two boston-crowd"></div>
          <div class="mosaic-element mosaic-element--one staff"></div>
          <div class="mosaic-element mosaic-element--one help-desk"></div>
        </div>
      </div>
    </section>

    <section class="stats blue-bg white-text" id="stats">
      <div class="container container--lg">
        <div class="row">
          <div class="stat col-sm-6 col-xs-12"><h2><div class="xl">401</div> local groups across the world</h2></div>
          <div class="stat col-sm-3 col-xs-6">
            <h2><div class="lg">75</div> candidates elected</h2>
            <h2><div class="lg">24</div> ballot initiatives passed</h2>
          </div>
          <div class="stat col-sm-3 col-xs-6">
            <h2><div class="lg">11,693</div> volunteer-led events</h2>
          </div>
          <div class="stat col-sm-3 col-xs-6">
            <h2>over <div class="lg">2 million</div> peer-to-peer texts and</h2>
            <h2><div class="lg">1.8 million</div> calls to voters</h2>
          </div>
          <div class="stat col-sm-3 col-xs-6">
            <h2>over <div class="lg">240,000</div> individual contributions</h2>
            <h2>with an average contribution of <div class="lg">$22</div></h2>
          </div>
          <div class="stat col-sm-3 col-xs-6">
            <h2><div class="lg">18</div> state parties and</h2>
            <h2><div class="lg">24</div> dems abroad countries reorganized</h2>
          </div>
          <div class="stat col-sm-3 col-xs-3">
            <h2><div class="lg">92,916</div> volunteer-led help desk conversations</h2>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="pt4 pb4">
    <div class="container container--lg">
      <div class="mosaic--auto">
        <div class="mosaic-element mosaic-element--two responsive mosaic-element--no-bg">
          <h1>Local Groups</h1>
          <p>Our Revolution is made up of 401 local groups from all across the world. With groups in 49 states, Puerto Rico, and 7 countries, the political revolution continues under the leadership of local leaders all across the globe.</p>

          <p>Our Revolution groups have elected candidates across the nation, passed ballot initiatives, reorganized their local parties, held candidate trainings and advocated for issues that are driving our nation forward - and we’re just getting started.</p>
        </div>
        <div class="mosaic-element mosaic-element--two responsive map"></div>
      </div>

      <div class="mosaic--200">
        <div class="mosaic-element mosaic-element--one responsive or-ma"><span class="caption">Massachusetts</span></div>
        <div class="mosaic-element mosaic-element--one responsive or-oh"><span class="caption">Ohio</span></div>
        <div class="mosaic-element mosaic-element--one responsive or-il"><span class="caption">Illinois</span></div>
        <div class="mosaic-element mosaic-element--one responsive or-ga"><span class="caption">Georgia</span></div>
      </div>
    </div>
  </section>

  <section class="f5f5f5-bg pt4 pb4">
    <div class="container container--lg">
      <div class="mosaic--auto">
        <div class="mosaic-element mosaic-element--two responsive mosaic-element--no-bg">
          <h1 class="mb0">Candidates and Ballot Initiatives</h1>
          <p>Our Revolution is empowering the next generation of progressive leaders by inspiring and supporting candidates to run for office across the entire spectrum of government, as well as endorsing and supporting ballot initiatives across the country.</p>

          <p>Over the past year, 75 Our Revolution endorsed candidates and 24 ballot initiatives all over the country have shocked the political establishment. <strong>khalid kamau</strong> ran a grassroots powered campaign to become South Fulton's next city council member. <strong>Christine Pellegrino</strong> won in a district where a Republican previously won by 22,000 votes. <strong>Chokwe Antar Lumumba</strong> won a stunning 93% of the vote to become the Mayor of Jackson, Mississipi. All over the country, inspiring progressive candidates are proving that when we stand together, there's nothing we cannot accomplish.</p>
        </div>

        <div class="mosaic-element mosaic-element--two responsive">
          <div class="embed-responsive embed-responsive-16by9 dark-wash br3">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FPoliticalRevolution%2Fvideos%2F1614817678570442%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true" class="br3"></iframe>
          </div>
        </div>
      </div>

      <div class="mosaic--200">
        <div class="mosaic-element mosaic-element--one responsive pramila"><span class="caption">Pramila Jayapal - US Representative</span></div>
        <div class="mosaic-element mosaic-element--one responsive khalid"><span class="caption">khalid kamau - South Fulton City Council, GA</span></div>
        <div class="mosaic-element mosaic-element--one responsive pellegrino"><span class="caption">Christine Pellegrino - NY State Assembly</span></div>
        <div class="mosaic-element mosaic-element--one responsive krasner"><span class="caption">Larry Krasner - Philadelphia District Attorney</span></div>
      </div>

      <div class="mosaic--200">
        <div class="mosaic-element mosaic-element--one responsive lumumba"><span class="caption">Chokwe Antar Lumumba - Mayor of Jackson, MS</span></div>
        <div class="mosaic-element mosaic-element--one responsive carmen"><span class="caption">Carmen Yulin Cruz - Mayor of San Juan, PR</span></div>
        <div class="mosaic-element mosaic-element--one responsive valdez"><span class="caption">Valdez Bravo - Portland Community College Director</span></div>
        <div class="mosaic-element mosaic-element--one responsive connolly"><span class="caption">Mike Connolly - MA State Representative</span></div>
      </div>

      <div class="mosaic--200">
        <div class="mosaic-element mosaic-element--one responsive kc-15"><span class="caption">Kansas City for $15</span></div>
        <div class="mosaic-element mosaic-element--one responsive howard"><span class="caption">Howard County Public Election Fund</span></div>
        <div class="mosaic-element mosaic-element--one responsive avr"><span class="caption">Automatic Voter Registration in Alaska</span></div>
        <div class="mosaic-element mosaic-element--one responsive rcv"><span class="caption">Ranked Choice Voting in Maine</span></div>
      </div>
    </div>
  </section>

  <section class="pt4 fafafa-bg">
    <div class="container container--lg">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Our Revolution groups are transforming the Democratic Party.</h1>
        </div>

        <div class="col-md-6 col-md-offset-3 text-center pb2">
          <p>Over the last year, more than 16,000 people have stepped up to run for Democratic Party leadership in 18 states and 20 Democrats Abroad member countries as a result of our efforts.</p>

          <p>We now have allies holding state chair, county chair and other executive positions across the country, and they are actively working to transform the Democratic Party into a party that truly reflects and represents the people in each and every community throughout the U.S.</p>
        </div>
      </div>
    </div>

    <div class="container-fluid f5f5f5-bg pt4 pb4">
      <div class="container">
        <div class="map-key text-right">
          <span class="map-key__color"></span> Successful party reorganization
        </div>
        <img src="{% static 'dist/img/year-one/map.svg' %}"/>
      </div>
    </div>
  </section>

  <section class="clearfix pb4 pt4">
    <div class="container container--lg">
      <div class="mosaic--auto">
        <div class="mosaic-element mosaic-element--two responsive mosaic-element--no-bg">
          <h1>Progressive Issues</h1>
          <p>Our Revolution groups have been fighting for progressive issues all across the country - and we’ve been winning.</p>

          <p>Right now, a mass coalition of progressive organizations are leading the <strong>Summer for Progress</strong>, an effort to get House Democrats to endorse the People’s Platform – 8 bills that say definitively people over profit.</p>

          <p>Over the past year, citizen leaders have organized sit-ins and rallies across the country to <strong>save tha ACA</strong> and we’ve pushed for <strong>sanctuary community policies</strong> all around the country. We’ve <strong>fought pipelines</strong> and <strong>stopped the Trans-Pacific Partnership</strong>, and successfully petitioned for the <strong>freedom of Oscar Lopez Rivera</strong>.</p>
        </div>

        <div class="mosaic-element mosaic-element--two responsive summer-for-progress"></div>
      </div>

      <div class="mosaic--200">
        <div class="mosaic-element mosaic-element--one responsive ahca"></div>
        <div class="mosaic-element mosaic-element--one responsive mni-wiconi"></div>
        <div class="mosaic-element mosaic-element--one responsive tpp"></div>
        <div class="mosaic-element mosaic-element--one responsive oscar"></div>
      </div>
    </div>
  </section>

  <section class="blue-bg white-text">
    <div class="container container--lg">
      <div class="row pb4 pt4">
        <div class="col-md-6">
          <h1>Funded by the people.</h1>
          <p>Our Revolution is completey funded by individual donations, proving that organizations and candidates don’t have to rely on huge corporate contributions to thrive.</p>

          <p>Our Revolution's founding supporters made more than 140,000 individual contributions during the organization's first six months, and more than 58,000 contributions during the first quarter of 2017.</p>

          <a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=year-one" class="btn btn-primary uppercase ls2 btn-block" target="_blank" onclick="trackOutboundLink(true,'https://secure.actblue.com/contribute/page/ourrevolution?refcode=year-one')">Donate</a>
        </div>

        <div class="col-md-5 col-md-offset-1 stats">
          <div class="stat">
            <h2>over <div class="xl2">240,000</div> individual contributions at an average of <div class="xl2">$22</div></h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="dark-blue-bg pt4 pb4 white-text">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 fs18 text-center">
          <p>Thank you for being a part of the political revolution. All of these successes would not have been possible without your support, and together we will continue to create a future to believe in.</p>

          <p><strong>Our fight has only just begun.</strong></p>

          <a href="/action" class="btn btn-primary uppercase ls2">Continue the Revolution</a>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  $(document).ready(function() {
    var scroll = new SmoothScroll('a[data-scroll]');
  });
</script>

{% endblock %}
