{% extends "pages/base_page.html" %}



{% block content %}

<div class="container-fluid">
  <div class="row row--main home">	
  	<div class="container">
      <div class="row">
    	  <div class="embed-responsive  embed-responsive-16by9 dark-wash">
      		<iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.youtube_video_id}}" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
    	  </div>
    	</div>  
    </div>
  </div>
</div>

{{page.body | safe}}

{% endblock %}
