{% extends "organizing_hub_groups.html" %}

{% load static pages_tags wagtailcore_tags %}

{% block content %}

{{ block.super }}

<section>

  <div class="container pt4 pb2">

    <div class="row">
      <div class="col-xs-12">

        <h3>
          Browse Featured Groups or scroll down to see the full map with all
          our Local Groups
        </h3>

      </div>
    </div>

    <div class="row">

      <div class="col-xs-12">

        {% for state, featured_groups in featured_groups_by_state %}

        {% if state is not None %}
        <h4>
          {{ state }}
        </h4>
        {% endif %}

        {% for featured_group in featured_groups %}
        <strong>

          {% if featured_group.group_type != 1 and featured_group.city is not None %}
          {{ featured_group.city }}
          {% endif %}

        </strong>

        <a href="/groups/{{ featured_group.slug }}">{{ featured_group.name }}</a>

        {% firstof featured_group.group_contact_email featured_group.rep_email %}

        <br />

        {% endfor %}

        {% endfor %}

      </div>

    </div>

  </div>

</section>



<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
  integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
  integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
  crossorigin=""></script>

<div class="container groups-map">
  <div class="row">
    <div class="groups-map-info">
      <div class="groups-map__intro pa20 blue-bg action-bg white-text">
        <h3 class="mt0 mb0 groups-map__heading">Local Groups <span class="glyphicon glyphicon-chevron-down"></h3>
        <p>Our Revolution is made up of local groups from all around the world. Search for a group to get involved with in your area today.</p>
      </div>
      <div class="groups-map-info__search">
        <input type="search" class="form-control maps-auto-complete" placeholder="Search for a city" id="autocomplete-input">
      </div>

      <div class="groups-map-info__status text-left">
        <div class="component pa20 hidden-xs">
          <div class="groups-map__add">
            {% include 'partials/add_group.html' %}
          </div>
        </div>
      </div>
    </div>

    <div class="groups-map__map light-wash" id="map-container"></div>
  </div>
</div>

<div class="container visible-xs">
  <div class="row">
    <div class="col-xs-12 f5f5f5-bg pa20">
      {% include 'partials/add_group.html' %}
    </div>
  </div>
</div>

<div class="container mt20">
  <p>
    <span class="groups-map__icon red small"></span> State Organizing Committee
    or State Chapter<br />
    <span class="groups-map__icon dark-blue small"></span> Campus Group
  </p>
</div>

<div class="container pt4 pb2">
  <div class="row">
    <div class="col-xs-12">
      <h3>
        In addition to Local Groups, you can also take action on national
        Our Revolution campaigns.
      </h3>
    </div>
  </div>
</div>
{% include "partials/take_action_content.html" %}

{% endblock %}

{% block footer_scripts %}
<script>
  $(document).ready(function() {

    // Add start group url to js scope
    ourrevolution_start_group_url = '{% start_group_url %}';

    var mapDiv = document.getElementById('map-container'),
      inputDiv = document.getElementById('autocomplete-input');
    Groups.init(mapDiv);
    Groups.monitorAPI(inputDiv);

    var data = {{groups|safe}}

    for(i=0; i<data.features.length; i++) {
      Groups.addGroup(data.features[i]);
    }

    $('#autocomplete-input').on('keyup', function(e) {
      if(e.target.value.length > 0) {
        $('.groups-map-info__search').addClass('active');
      } else {
        $('.groups-map-info__search').removeClass('active');
      }
    });

    $('.groups-map__heading .glyphicon').on('click touchstart', function(e) {
      $('.groups-map__intro').toggleClass('collapsed');
    });

  });
</script>

<!--  Places Libary for Autocomplete -->
{% google_maps_public_key as google_maps_public_key %}
<script src="//maps.googleapis.com/maps/api/js?{% if google_maps_public_key %}key={{ google_maps_public_key }}&{% endif %}libraries=places&callback=initAutocomplete" async defer></script>

{% endblock %}
