<div class="candidate-sign-up sign-up-form clearfix">
    <div class="col-md-6 col-md-offset-3">
        <h3>{{ tagline }}</h3>
        <form action="https://go.ourrevolution.com/page/s/candidates-signup?source=ourrevolution.com{{ request.path }}" method="POST">
            <span class="form-group email">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email" class="email" placeholder="you@example.com" required>
            </span>

            <span class="form-group zip ">
                <label for="zip">Zip Code</label>
                <input type="text" name="zip" id="zip" class="zip" placeholder="90210" required>
            </span>

            <span class="form-group submit">
                <button class="btn btn-primary btn-block">Join</button>
            </span>
        </form>
    </div>
</div>