{% load bootstrap3 pages_tags %}

<div id="endorsements-nav" class="btn-toolbar" role="toolbar">

  {% candidates_url as link_url %}
  {% if link_url not in request.path %}
  <div class="btn-group" role="group">
    <a href="{{ link_url }}" class="btn btn-default">
      Candidates
    </a>
  </div>
  {% endif %}

  {% with "/ballot-initiatives/" as link_url %}
  {% if link_url not in request.path %}
  <div class="btn-group" role="group">
    <a href="{{ link_url }}" class="btn btn-default">
      Initiatives
    </a>
  </div>
  {% endif %}
  {% endwith %}

  <div class="btn-group" role="group">
    <a href="{% results_url %}" class="btn btn-default">
      Results
    </a>
  </div>

</div>
