<footer class="text-center footer">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="footer__info">
                <p>Paid for by Our Revolution</p>
                <p>603 2nd St, NE</p>
                <p>Washington, DC, 20002</p>
            </div>

            <div class="footer__disclaimer">
                <p>Not authorized by any candidate or candidate committee. Our Revolution is a 501(c)(4) organization.  Donations to Our Revolution are not deductible as charitable contributions for Federal income tax purposes.  All donations are made to support Our Revolution’s general mission and are not designated for any specific activity.</p>
            </div>

            <p class="footer__nav">
              <div>
                <strong>Contact Us: </strong><a href="mailto:info@ourrevolution.com?subject=Site%20Feedback">info@ourrevolution.com</a>
              </div>
              
              <div>
                <strong>Press: </strong><a href="mailto:press@ourrevolution.com?subject=Press%20Inquiry">press@ourrevolution.com</a>
              </div>
              
              <div class="mt1">
                <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-use">Terms of Use</a> | <a href="/page/bylaws">Bylaws</a> | <a href="http://ourrev.us/jobs">Careers</a>
              </div>
            </p>
        </div>
    </div>
</footer>
