{% load pages_tags %}

<div class="navbar-backdrop"></div>

<nav class="navbar collapsed" id="main-navbar">
  <div class="navbar__upper container" id="main-navbar-upper">
    <div class="navbar__social">
      <a href="https://facebook.com/PoliticalRevolution" target="_blank" class="social-icon--facebook" onclick="trackOutboundLink('https://facebook.com/PoliticalRevolution?utm_source=main-nav-desktop', true);">Facebook</a>
      <a href="https://twitter.com/ourrevolution" target="_blank" class="social-icon--twitter" onclick="trackOutboundLink('https://twitter.com/ourrevolution?utm_source=main-nav-desktop', true);">Twitter</a>
    </div>

    <div class="navbar__mobile">
      <button type="button" class="navbar-toggle" id="main-navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <a href="/" class="navbar__logo"><h1>Our Revolution</h1></a>

    <div class="navbar__buttons">
      <a href="https://go.ourrevolution.com/page/s/membership-signup?source=main-nav-join" class="navbar__join btn btn-secondary" target="_blank" onclick="trackOutboundLink('https://go.ourrevolution.com/page/s/membership-signup?source=main-nav-join', true);">Join</a>

      <a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav&amount=27.00" class="navbar__donate btn btn-donate" target="_blank" onclick="trackOutboundLink('https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav-upper&amount=27.00', true);">Donate</a>
    </div>
  </div>

  <div class="navbar__lower">
      <div class="container">
        <div class="row">
        <ul class="nav-list uppercase" id="main-nav-list">
          <li><a href="/about" class="{% if "/about" in request_path %}active{% endif %} about" id="about-nav-link">About</a></li>
          {% with link_code="groups" link_text="Local Groups" link_url="/groups/"  %}
          <li>
            <a href="{{ link_url }}" id="{{ link_code }}-nav-link"
            class="{% if link_url in request_path %}active {% endif %}{{ link_code }}">
            {{ link_text }}
            </a>
          </li>
          {% endwith %}
          <li><a href="/issues" class="{% if "/issues" in request_path %}active{% endif %} issues" id="issues-nav-link">Issues</a></li>

          {% candidates_url as link_url %}
          <li>
            <a href="{{ link_url }}"
            class="{% if link_url in request_path %}active{% endif %} candidates"
            id="candidates-nav-link">
            Endorsements
            </a>
          </li>

          {% if not shop_nav_enabled %}
          <li><a href="/ballot-initiatives" class="{% if "/ballot-initiatives" in request_path %}active{% endif %} initiatives" id="initiatives-nav-link">Initiatives</a></li>
          {% endif %}
          <li><a href="/press" class="{% if "/press" in request_path %}active{% endif %} press">News</a></li>
          {% if shop_nav_enabled %}
          {% comment %} TODO: make nav link tag/template {% endcomment %}
          {% with link_code="shop" link_text="Shop" link_url="https://shop.ourrevolution.com" %}
          <li>
            <a href="{{ link_url }}" class="{{ link_code }}"
            id="{{ link_code }}-nav-link"
            onclick="trackOutboundLink('{{ link_url }}', false);">
            {{ link_text }}
            </a>
          </li>
          {% endwith %}
          {% endif %}
          <li class="visible-xs-block nav-list__button"><a href="https://go.ourrevolution.com/page/s/membership-signup?source=main-nav-mobile-join" class="btn btn-block btn-secondary" target="_blank" onclick="trackOutboundLink('https://go.ourrevolution.com/page/s/membership-signup?source=main-nav-mobile-join', true);">Join</a></li>
          <li class="visible-xs-block nav-list__button"><a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav&amount=27.00" class="btn btn-block btn-donate" target="_blank" onclick="trackOutboundLink('https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav-mobile&amount=27.00', true);">Donate</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function() {

    $('#main-nav-list').on('click vclick touchstart', function(e) {
      $(this).find('a').removeClass('active');
      $(e.target).addClass('active');

      var str = $(e.target).text();
      $('.page-banner h1').text(str);
      str = str.replace(/\s+/g, '-').toLowerCase();
      $('.page-banner').attr('class','page-banner ' + str);
    })

    $('#main-navbar-toggle').on('click', function(e) {
      $('#main-navbar').toggleClass('collapsed');
    })

  });
</script>
