<div class="navbar-backdrop"></div>

<nav class="navbar collapsed" id="main-navbar">
  <div class="navbar__upper container">
    <div class="navbar__social pull-left">
      <a href="https://facebook.com/PoliticalRevolution" target="_blank" class="social-icon--facebook">Facebook</a>
      <a href="https://twitter.com/ourrevolution" target="_blank" class="social-icon--twitter">Twitter</a>
    </div>
    
    <div class="navbar__mobile">
      <button type="button" class="navbar-toggle" id="main-navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <a href="/" class="navbar__logo"><h1>Our Revolution</h1></a>

    <a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav&amount=27.00" class="navbar__donate btn btn-donate pull-right" target="_blank" onclick="trackOutboundLink('https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav&amount=27.00'); return false;">Donate</a>
  </div>

  <div class="navbar__lower">
      <div class="container">
        <div class="row">
        <ul class="nav-list uppercase" id="main-nav-list">
          <li><a href="/about" class="{% if "/about" in request.path %}active{% endif %} about" id="about-nav-link">About</a></li>
          <li><a href="/action" class="{% if "/action" in request.path %}active{% endif %} action" id="action-nav-link">Take Action</a></li>
          <li><a href="/issues" class="{% if "/issues" in request.path %}active{% endif %} issues" id="issues-nav-link">Platform</a></li>
          <li><a href="/candidates" class="{% if "/candidates" in request.path %}active{% endif %} candidates" id="candidates-nav-link">Candidates</a></li>
          <li><a href="/ballot-initiatives" class="{% if "/ballot-initiatives" in request.path %}active{% endif %} initiatives" id="initiatives-nav-link">Initiatives</a></li>
          <!-- <li><a href="#">News</a></li> -->
          <li class="visible-xs-block nav-list__button"><a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav&amount=27.00" class="btn btn-block btn-donate" target="_blank" onclick="trackOutboundLink('https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav&amount=27.00'); return false;">Donate</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function() {
    
    $('#main-nav-list').on('click touchstart', function(e) {
      $(this).find('a').removeClass('active');
      $(e.target).addClass('active');
      
      var str = $(e.target).text();
      $('.page-banner h1').text(str);
      str = str.replace(/\s+/g, '-').toLowerCase();
      $('.page-banner').attr('class','page-banner ' + str);
    })
    
    $('#main-navbar-toggle').on('click', function(e) {
      $('#main-navbar').toggleClass('collapsed');
    })
    
  });
</script>
