<div class="notification-banner">
  <div class="container">
    <span class="notification-banner__content">RSVP to watch this Friday’s conversation with Bernie Sanders and Elizabeth Warren </span> <a href="https://go.ourrevolution.com/page/s/our-revolution-livestream-with-bernie-sanders-and-elizabeth-warren-rsvp?source=ourrevolution-notification-banner" class="btn btn-outline notification-banner__link" onclick="trackOutboundLink('https://go.ourrevolution.com/page/s/our-revolution-livestream-with-bernie-sanders-and-elizabeth-warren-rsvp?source=ourrevolution-notification-banner',true)" target="_blank">RSVP</a>
  </div>
</div>
