<div class="notification-banner">
  <div class="container">
    <span class="notification-banner__content">Watch and share our video calling for Oscar López's release</span> <a href="https://go.ourrevolution.com/page/share/oscar-lopez-rivera?source=our-revolution-home-notification-banner" class="btn btn-outline notification-banner__link" id="notification-banner" onclick="trackOutboundLink('https://go.ourrevolution.com/page/share/oscar-lopez-rivera?source=our-revolution-home-notification-banner',true);" target="_blank">Watch</a>
  </div>
</div>
