<div class="notification-banner">
  <div class="container">
    <span class="notification-banner__content">RSVP for Bernie's Health Care Livestream</span> <a href="https://go.ourrevolution.com/page/s/health-care-livestream-rsvp?source=our-revolution-notification-banner" onclick="trackOutboundLink('https://go.ourrevolution.com/page/s/health-care-livestream-rsvp?source=our-revolution-notification-banner',true);" class="btn btn-outline notification-banner__link" id="notification-banner" target="_blank">RSVP</a>
  </div>
</div>
