<div class="module-col sixty margin-right table">
  <div class="module full centered our-dream-bg white-text br3">
    <div class="module__content br3">
      <div class="pa20 br3 dark-wash">
        <h3 class="mt0">
          We are going to keep fighting to win a clean DREAM Act. Add
          your name and join us.
        </h3>
        <a href="https://go.ourrevolution.com/page/s/the-fight-for-a-clean-dream-act-continues?source=ws180122"
        class="btn btn-block btn-primary ls2 uppercase">
          Get Started
        </a>
      </div>
    </div>
  </div>
</div>

<div class="module-col forty margin-left table">

  <div class="module sixty centered margin-bottom health-bg white-text br3">
      <div class="module__content br3">
        <div class="pa20 br3 dark-wash">
          <h3 class="mt0">
            Watch Bernie's Medicare for All National Town Hall.
          </h3>

          {% with link_url="http://ourrev.us/bernie-stream?v=20180123" %}
          <a href="{{ link_url }}"
          onclick="trackOutboundLink('{{ link_url }}',true)"
          target="_blank"
          class="btn btn-block btn-secondary ls2 uppercase">
            Watch
          </a>
          {% endwith %}

        </div>
      </div>
  </div>

  <div class="module forty centered map-bg white-text br3">
    <div class="module__content br3">
      <div class="pa20 br3 dark-wash">
        <h3 class="mt0">
          Find or create a local group in your area today.
        </h3>
        <a href="/groups" class="btn btn-block btn-secondary ls2 uppercase">
          Find a Group
        </a>
      </div>
    </div>
  </div>

</div>
