<div class="{% if not page.issuepage %}candidate-sign-up{% endif %} sign-up-form clearfix">
    {% if not page.issuepage %}<div class="col-md-6 col-md-offset-3">{% endif %}
        <h3>
            {% if page.candidateendorsementpage %}
                Join the fight to get
                {% if page.candidate %}
                {{ page.candidate.name }}
                {% else %}
                {{ page.title }}
                {% endif %}
                elected.
            {% elif page.initiativeendorsementpage %}
              Join the fight for
              {{ page.how_to_vote | yesno | title }} on
              {{ page.initiative_title }}:
              {{ page.initiative_name }}
            {% else %}
                {{ tagline }}
            {% endif %}
        </h3>
        <form action="https://go.ourrevolution.com/page/s/candidates-signup?source=ourrevolution.com{{ request.path }}" method="POST">
            <span class="form-group email">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email" class="email" placeholder="you@example.com" required>
            </span>

            <span class="form-group zip ">
                <label for="zip">Zip Code</label>
                <input type="text" name="zip" id="zip" class="zip" placeholder="90210" required>
            </span>

            <span class="form-group submit">
                <button class="btn btn-primary btn-block">Join</button>
            </span>
        </form>
    {% if page.candidateendorsementpage %}</div>{% endif %}
</div>
