{% extends "group_portal.html" %}

{% load bootstrap3 local_groups_tags %}

{% block page_title %}Our Revolution - Group Admin Request Password Reset{% endblock %}

{% block nav %}
    {% with center_header=True %}
        {{ block.super }}
    {% endwith%}
{% endblock %}

{% block content_pre_heading %}
<span class="article-type">Organizing Hub</span>
{% endblock %}

{% block content_heading %}Group Admin Request Password Reset{% endblock %}

{% block content %}

<div class="container">

  <div class="row pt4 pb4">

    <div class="col-md-6 col-md-offset-3">

      <p class="fs18">
        Request a password reset if you lost your password.
      </p>

      {% bootstrap_messages %}

      <div class="mb20 mt20 pa20 br3 f5f5f5-bg">

        <form action="{% url 'password_reset' %}" method="post"
        class="form form-uppercase">

          {% csrf_token %}

          {% bootstrap_field form.email placeholder="you@example.com" %}

          {% buttons %}
          {% bootstrap_button "Request Password Reset" button_type="submit" button_class="btn-primary btn-block uppercase" %}
          {% endbuttons %}

        </form>
      </div>

      {% include 'partials/create_account.html' %}

    </div>
  </div>
</div>

{% endblock %}
