<div style="font-family:sans-serif">
  <p><strong>Hi Group Leaders,</strong></p>

  <p>Thank you for taking the next steps in launching your official OR group! While many of us have different approaches to achieving progressive change, Bernie reminded us over and over that it's when we <em>come together</em> and <em>get organized</em> that we can make change happen. The coming years will be, in our opinion, the most important in recent political history - it's on us to 'right the course' of history, and that means getting local! We're excited to have you on board, and to empower your group with new members, resources, training, and programs that your group can plug into. This email will outline next steps in the process to getting your group online and official.</p>

  <h2>1. Attend an MOU call</h2> 

  <p>We want everyone to attend an MOU call. The MOU outlines the relationship between local Our Revolution groups and the national organization. When registering for the call, please be sure to include the group ID number. <strong>Only</strong> attendees that include their group ID will receive a copy of the MOU.</p>

  <p>Please keep this Group ID handy as we'll need it from time to time.</p>

  <p><strong>YOUR GROUP ID NUMBER IS {{group_id}}</strong></p>

  <p>Here are the upcoming MOU calls for this and next week:</p>

  <p><a href="http://myaccount.maestroconference.com/conference/register/Z8NL51GZEXAKW3C">Saturday, March 11th at 4:00 pm ET / 1 pm PST</a></p>

  <p><a href="http://myaccount.maestroconference.com/conference/register/OAO7CBS34YCJG9H">Monday, March 13, 2017 - 8:30 pm ET / 5:30 pm PT</a></p>


  <h2>2. Sign your MOU</h2>

  <p>After you attend an MOU call you are sent an email containing the MOU requesting your signature. This email will come from Docusign. If you have already attended a call please search your inbox to see if you received the Docusign email. Please be sure to fill out line one with your group name, line three with the first and last name of your group representative, and your signature at the bottom.</p>

  <h2>3. You're official!</h2>

  <p>After signing the MOU, you'll receive from us an email letting you know we've received your signed MOU and that your groups is official, and it will also include a link to your group's landing page. Also, feel free to check out the local group map <a href="https://ourrevolution.com/groups">here</a>. 

  <p>If you have any questions, comments, concerns, or if you signed your MOU prior to today and did not receive your confirmation email, feel free to reach out to us at <a href="mailto:organizing@ourrevolution.com">organizing@ourrevolution.com</a> OR <a href="mailto:kyle@ourrevolution.com">kyle@ourrevolution.com</a>, <a href="mailto:basi@ourrevolution.com">basi@ourrevolution.com</a>, <a href="mailto:chandra@ourrevolution.com">chandra@ourrevolution.com</a>, <a href="mailto:juliana@ourrevolution.com">juliana@ourrevolution.com</a>, or <a href="mailto:jon@ourrevolution.com">jon@ourrevolution.com</a>.</p>

  <p>Thank you for bringing the political revolution to your community,</p>
  <p><strong>Our Revolution Organizing Team</strong></p>
</div>
